<ht-table
  #table
  name="notificationsTable"
  dataType="notifications"
  [columnLabels]="columnLabels"
  [dataSource]="dataSource"
  [tableColumns]="tableColumns"
  [isSelectable]="true"
  [contextMenuService]="contextMenuService"
  [hasRowAction]="contextMenuService.getHasContextMenu()"
  [hasBulkActions]="contextMenuService.getHasBulkMenu()"
  [isFilterable]="true"
  [isPageable]="true"
  [filterFn]="filter.bind(this)"
  (bulkActionClicked)="bulkActionClicked($event)"
  (rowActionClicked)="rowActionClicked($event)"
  (exportActionClicked)="exportActionClicked($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn = $event"
/>
