<grid-main [class]="'width:100%;'" [centered]="true">
  <div [ngSwitch]="whichView">
    <div *ngSwitchCase="'create'">
      <app-page-subtitle [subtitle]="'Create Binary'"></app-page-subtitle>
    </div>
    <div *ngSwitchCase="'edit'">
      <app-page-subtitle [subtitle]="'Edit Binary'"></app-page-subtitle>
    </div>
  </div>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <grid-form-input [name]="'Type'" [labelclass]="'requiredak'">
          <input
                type='text'
                id="type"
                class='form-control'
                formControlName="type"
          >
        </grid-form-input>
        <grid-form-input [name]="'Operating Systems'" [labelclass]="'requiredak'">
          <input
                type='text'
                id="operatingSystems"
                class='form-control'
                formControlName="operatingSystems"
          >
        </grid-form-input>
        <grid-form-input [name]="'Filename'" [tooltip]="'Placed in bin folder'" [labelclass]="'requiredak'">
          <input
                type='text'
                id="filename"
                class='form-control'
                formControlName="filename"
          >
        </grid-form-input>
        <grid-form-input [name]="'Version'">
          <input
                type='text'
                id="version"
                class='form-control'
                formControlName="version"
          >
        </grid-form-input>
        <grid-form-input [name]="'Update Track'">
          <select
                id="updateTrack"
                class="form-select"
                formControlName="updateTrack"
            >
            <option value="release">Release</option>
            <option value="stable" selected>Stable</option>
          </select>
        </grid-form-input>
      </div>
      <div [ngSwitch]="whichView">
        <div *ngSwitchCase="'create'">
          <button-submit [name]="'Create'"></button-submit>
        </div>
        <div *ngSwitchCase="'edit'">
          <button-submit [name]="'Update'"></button-submit>
        </div>
      </div>
  </form>
</grid-main>
