<div [ngSwitch]="chunkview">
  <div *ngSwitchCase="2">
    <app-page-title [title]="'Chunks'" [buttontitle]="'View all chunks'" [buttonlink]="'/tasks/chunks'" [subbutton]="true"></app-page-title>
  </div>
  <div *ngSwitchCase="0">
    <app-page-title [title]="'Chunks'" [buttontitle]="'View less'" [buttonlink]="'/tasks/chunks/show-all-chunks'" [subbutton]="true"></app-page-title>
  </div>
</div>
<!-- Body -->
<app-table>
  <table class="table table-striped table-hover table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead class="thead-light">
      <tr>
          <th class="rounded-start">ID</th>
          <th>Start</th>
          <th>Length</th>
          <th>Checkpoint</th>
          <th>Progress</th>
          <th>Task</th>
          <th>Agent</th>
          <th>Dispatch time</th>
          <th>Last activity</th>
          <th>Time spent</th>
          <th>State</th>
          <th class="rounded-end">Cracked</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of chunks; let i = index">
            <td class="text-align:center">{{ c.chunkId }}</td>
            <td>{{ c.skip }}</td>
            <td>{{ c.length }}</td>
            <td>{{ c.checkpoint }} ({{ (c.checkpoint-c.skip)/c.length | percent:'1.2-2' }})</td>
            <td *ngIf="c.progress > 0">{{ c.progress/100 }} %</td>
            <td *ngIf="!c.progress">N/A</td>
            <td>
              <a [routerLink]="['/tasks/show-tasks',c.taskId,'edit']">{{ c.taskName | shortenString:15 | lowercase | titlecase}}</a>
            </td>
            <td>
              <a  [routerLink]="['/agents/show-agents',c.agentId,'edit']">{{ c.agentName | shortenString:15 | lowercase | titlecase }}</a>
            </td>
            <td>{{ c.dispatchTime*1000 | date: uidateformat }}</td>
            <td *ngIf="c.solveTime === 0">(No acitivity)</td>
            <td *ngIf="c.solveTime > 0">{{ c.solveTime*1000 | date: uidateformat }}</td>
            <td>{{ (c.solveTime - c.dispatchTime) | sectotime }}</td>
            <td>
              <span class="ui-label-inner inline-flex whitespace-nowrap items-center px-2 py-0.5 rounded-md text-xs font-medium text-white capitalize badge my-0" style="{{'background-color:'+(c.state | staticArray:'statescolor')}}">
                {{ c.state | staticArray:'states' }}
              </span>
            </td>
            <td>
              <a *ngIf="c.cracked > 0" [routerLink]="['/hashlists/hashes/','chunks',c.chunkId]">{{ c.cracked }}</a>
            </td>
        </tr>
      </tbody>
  </table>
</app-table>

