<section>&nbsp;
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="layout-col shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                    <h1 class="h3 mb-4">Forgot password</h1>
                      <!-- <app-alert ></app-alert> -->
                    <form #authForm="ngForm" >
                        <div class="mb-4">
                            <label for="inputUsername">User Name</label>
                            <div class="input-group">
                              <input type="text" class="form-control" id="inputUsername" placeholder="User Name" ngModel name="username" autocomplete="on" autofocus required>
                            </div>
                        </div>
                        <div class="mb-4">
                          <label for="inputEmail">Email</label>
                          <div class="input-group">
                              <input type="email" class="form-control" id="inputEmail" placeholder="example@domain.com" ngModel name="email" autocomplete="on" autofocus required>
                          </div>
                      </div>
                      <div class="d-grid">
                          <button type="submit" class="btn btn-gray-800">Reset password</button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
