<ht-table
  #table
  name="healthChecksTable"
  dataType="health-checks"
  [columnLabels]="columnLabels"
  [dataSource]="dataSource"
  [tableColumns]="tableColumns"
  [isSelectable]="true"
  [contextMenuService]="contextMenuService"


  [isFilterable]="true"
  [filterFn]="filter.bind(this)"
  [isPageable]="true"
  (bulkActionClicked)="bulkActionClicked($event)"
  (rowActionClicked)="rowActionClicked($event)"
  (exportActionClicked)="exportActionClicked($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn = $event"
/>
