@use "../base/colors";

footer {
  margin-top: 1em;
  font-size: .9em;

  .mdc-card {
    text-align: center;
    background-color: colors.$primary-900;
    color: #eee;
    border-radius: 0;

    .mat-mdc-card-content {
      padding-top: 8px;

      .mat-icon {
        position: relative;
        top: 6px;
      }
    }
  }
}