.app-footer {
  margin-top: 1em;
  font-size: 0.9em;
}

.footer-card.mat-mdc-card {
  --mat-card-elevated-container-color: var(--sidebar);
  --mat-card-elevated-container-shape: 0;
  --mat-card-outlined-container-color: var(--sidebar);
  --mat-card-outlined-container-shape: 0;
  text-align: center;

  .mat-mdc-card-content {
    padding-top: var(--space-xs);

    .mat-icon {
      position: relative;
      top: 6px;
    }
  }
}
