.admin-menu-trigger {
  margin-left: auto;
}

.menu-spacer {
  flex: 1;
}

.xsmall,
.small,
.medium {
  .hashtopolis-toolbar {
    .mdc-button {
      margin-left: 2px;
    }
  }
}

.hashtopolis-toolbar {
  border-bottom: 5px solid $primary-900;

  .mdc-button {
    margin-left: 8px;

    &>.mat-icon {
      margin-left: 0;
      margin-right: 4px;
    }

    .mdc-button__label {
      font-weight: 400;
    }

    &.active {
      background-color: $primary-900;

      .mdc-button__label {
        font-weight: 400;
        color: #ffffff !important;
      }

      .mat-icon {
        color: #ffffff !important;
      }

    }
  }


}

.light-theme {
  --mat-toolbar-container-background-color: #ffffff;
}