
/* ==================================
          SECTION NAVIGATION
   ================================== */

// Remove caret from boostrap
// .dropdown-toggle {
//   &:after, .dropend &:after, .dropstart &:before, .dropup &:after {
//       display: none;
//   }
// }

.active {
  background-color : #E5E7EB
}

// Default pointer

.point {
  cursor: pointer;
}

// Dropdown medium - used for notifications

.dropdown-menu-medium {
  min-width: 350px;
  border-radius: 1rem;
}

@media (max-width: 575.98px) {
  .dropdown-menu-medium {
      min-width: 300px;
  }
}

// Remove hyperlink blue color and underline

a:link {
  text-decoration: none;
}

// Dots Nav

.steps-container {
  min-height: 300px;
}

.horizontalnav{

  .mat-button-toggle {
    font-size: 14px;
    color: black
  }

}

.dark-theme {
  .horizontalnav{

    .mat-button-toggle {
      font-size: 14px;
      color: white;
    }

  }
}
