<grid-main>
  <app-page-subtitle [subtitle]="'Create Health Check'"></app-page-subtitle>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div fxLayout="column">

      <input-select title="Attack" formControlName="checkType" [items]="selectAttack"></input-select>
      <input-select title="Hashtype" formControlName="hashtypeId" [items]="selectHashtypes"></input-select>

      <input-select title="Binary" formControlName="crackerBinaryType" [items]="selectCrackertype"></input-select>
      <input-select title="Binary Version" formControlName="crackerBinaryId" [items]="selectCrackerversions"></input-select>

    </div>

    <grid-buttons>
      <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
      <button-submit [name]="'Create'"></button-submit>
      <div *ngIf="isCreatingLoading">
        <mat-spinner diameter="24" color="accent"></mat-spinner>
      </div>
    </grid-buttons>

  </form>
</grid-main>
