@if (!isLoading) {
  <app-page [title]="(type === 3 ? 'Superhashlist ' : 'Hashlist ') + (editedHashlist?.name ?? '')">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 md:col-span-6">
        <grid-main>
          <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <app-form-row [columns]="2">
              <input-text title="ID" formControlName="hashlistId"></input-text>
              <input-text title="Format" formControlName="format"></input-text>
            </app-form-row>

            <div formGroupName="updateData" class="flex flex-col gap-3">
              <input-text [isRequired]="true" title="Name" formControlName="name"></input-text>
              <input-text-area title="Notes" formControlName="notes"></input-text-area>
              @if (roleService.hasRole('groups')) {
                <input-select title="Access group" formControlName="accessGroupId" [items]="selectAccessgroup">
                </input-select>
              }
            </div>

            <app-form-row [columns]="2">
              <input-text
                title="Hash Type"
                [value]="hashtype?.id + ' - ' + hashtype?.description"
                [readonly]="true"
              ></input-text>
              <input-text
                title="Using hashcat brain"
                [value]="editedHashlist?.useBrain ? 'Yes' : 'No'"
                [readonly]="true"
              ></input-text>
              <input-text
                title="Hashes"
                formControlName="hashCount"
                [linkTo]="['/hashlists', 'hashes', 'hashlists', editedHashlistIndex]"
                [readonly]="true"
              ></input-text>
              <input-text
                title="Cracked"
                formControlName="cracked"
                [linkTo]="['/hashlists', 'hashes', 'hashlists', editedHashlistIndex + '?cracked']"
                [readonly]="true"
              ></input-text>
            </app-form-row>

            <app-form-row [columns]="2">
              <input-text
                title="Remaining"
                formControlName="remaining"
                [linkTo]="['/hashlists', 'hashes', 'hashlists', editedHashlistIndex + '?uncracked']"
                [readonly]="true"
              ></input-text>
              <div formGroupName="updateData" class="self-end">
                <input-check title="Secret Data" formControlName="isSecret"></input-check>
              </div>
            </app-form-row>

            <grid-buttons>
              <button-submit [name]="'Update'" [disabled]="!roleService.hasRole('update')"></button-submit>
            </grid-buttons>
          </form>
        </grid-main>
      </div>

      <!-- If its cracked or partially cracked then show additional actions -->
      <div class="col-span-12 md:col-span-6">
        <grid-main>
          <app-page-subtitle subtitle="Actions"></app-page-subtitle>

          <div class="flex flex-col items-start gap-3">
            <button-submit
              [name]="'Import Cracks'"
              (click)="importCrackedHashes()"
              [disabled]="!roleService.hasRole('update')"
            >
            </button-submit>

            @if ((editedHashlist?.cracked ?? 0) > 0) {
              <button-submit
                [name]="'Export Cracks'"
                (click)="exortPreCrackedHashes()"
                [disabled]="!roleService.hasRole('read')"
              >
              </button-submit>
            }

            @if ((editedHashlist?.cracked ?? 0) > 0) {
              <button-submit
                [name]="'Generate Wordlist'"
                (click)="exportWordlist()"
                [disabled]="!roleService.hasRole('wordlist')"
              >
              </button-submit>
            }

            @if ((editedHashlist?.cracked ?? 0) > 0) {
              <button-submit
                [name]="'Export Left Hashes'"
                (click)="exportLeftHashes()"
                [disabled]="!roleService.hasRole('wordlist')"
              >
              </button-submit>
            }
          </div>

          @if ((editedHashlist?.cracked ?? 0) > 0 && roleService.hasRole('tasks')) {
            <br />
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span><strong>Report Builder</strong></span>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <hashlist-report [hashlistId]="editedHashlistIndex"></hashlist-report>
              </mat-expansion-panel>
            </mat-accordion>
          }
        </grid-main>
      </div>
    </div>

    @if (type === 3) {
      <app-table>
        <app-page-subtitle [subtitle]="'Included Hashlists within the Superhashlist'"> </app-page-subtitle>
        <app-superhashlist-hashlist-table #table name="hashlistsInShTable" [shashlistId]="editedHashlistIndex">
        </app-superhashlist-hashlist-table>
      </app-table>
    }

    @if (roleService.hasRole('tasks')) {
      <app-table>
        <app-page-subtitle [subtitle]="'Tasks Cracking this hashlist'"></app-page-subtitle>
        <app-tasks-table name="hashlistTasksTable" [hashlistId]="editedHashlistIndex" [includeArchived]="true"> </app-tasks-table>
      </app-table>
    }

    @if (type !== 3 && roleService.hasRole('tasks')) {
      <app-table>
        <app-page-subtitle [subtitle]="'Create pre-configured tasks:'"></app-page-subtitle>
        <app-hashlist-pretask-builder-table [hashlistId]="editedHashlistIndex"></app-hashlist-pretask-builder-table>
      </app-table>

      <app-table>
        <app-page-subtitle [subtitle]="'Create supertask:'"></app-page-subtitle>
        <app-hashlist-supertask-builder-table [hashlistId]="editedHashlistIndex"></app-hashlist-supertask-builder-table>
      </app-table>
    }
  </app-page>
}
