<div class="row g-3">
  <div class="col-md-7">
    <grid-main>
      <app-page-title [title]="type === 3 ? 'Edit SuperHaslist': 'Edit HashList'" [subbutton]="false"></app-page-title>
      <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="10px">

          <input-text title="ID" formControlName="hashlistId" [disabled]="true"></input-text>

          <div formGroupName="updateData" fxLayout="column" fxLayoutGap="10px">

            <input-text title="Name" formControlName="name"></input-text>

            <input-text title="Notes" formControlName="notes"></input-text>

            <input-select title="Access group" formControlName="accessGroupId" [items]="selectAccessgroup"></input-select>

            <input-check title="isSecret" formControlName="notes" tooltip="Contains secret data"></input-check>

          </div>

          <simulate-form-field label="Hash Type"   message="{{ hashtype.hashTypeId }} - {{ hashtype.description }}"></simulate-form-field>

          <input-text title="Using hashcat brain" formControlName="useBrain" [disabled]="true"></input-text>

          <input-text title="Format" formControlName="format" [disabled]="true"></input-text>

          <input-text title="Hashes" formControlName="hashCount" [disabled]="true"></input-text>

          <input-text title="Cracked" formControlName="cracked" [disabled]="true"></input-text>

          <input-text title="Remaining" formControlName="remaining" [disabled]="true"></input-text>

          <grid-buttons>
            <button-submit [name]="'Update'"></button-submit>
          </grid-buttons>
      </form>
  </grid-main>
</div>
<div class="col-md-5">
  <!-- Table Cracking Hashlist -->
  <app-table>
    <app-page-subtitle [subtitle]="'Tasks Cracking this hashlist'"></app-page-subtitle>
    <table style="width: 100%" class="table table-striped table-hover table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead class="thead-light">
        <tr>
            <th class="rounded-start">ID</th>
            <th>Name</th>
            <th>Dispatched</th>
            <th>Searched</th>
            <th class="rounded-end">Cracked</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of alltasks">
          <td>
            <span [ngClass]="!t.color ? '' : 'pill-ebidem-tk'" [ngStyle]="{'background-color': t.color }">{{ t.taskId }}</span>
          </td>
          <td>
            <a [routerLink]="['/tasks/show-tasks',t.taskId,'edit']">{{ t.taskName }}</a>
          </td>
          <td>{{ t.taskId | tdispatched:t.keyspace | async | percent:'1.2-2'}}</td>
          <td>{{ t.taskId | tdsearched:t.keyspace | async | percent:'1.2-2'}}</td>
          <td>
            <a [routerLink]="['/hashlists/hashes/','tasks',t.taskId]"> {{ t.taskId | tdcracked | async }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </app-table>
  <!-- Table Cracking SuperHaslist -->
  <app-table *ngIf="type === 3">
    <app-page-subtitle [subtitle]="'Hashlists'"></app-page-subtitle>
    <table style="width: 100%" class="table table-striped table-hover table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead class="thead-light">
        <tr>
            <th class="rounded-start">ID</th>
            <th>Name</th>
            <th>Cracked</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let h of hashlist">
          <td>{{ h.hashlistId }}</td>
          <td>{{ h.name }}</td>
          <td>
            <div>
              <span [ngClass]="h.cracked / h.hashCount ? 'ui-label-inner inline-flex whitespace-nowrap items-center px-2 py-0.5 rounded-md text-xs font-medium text-white capitalize badge my-0' : ''" style="{{h.cracked / h.hashCount ? 'background-color: rgb(16, 185, 129);' : ''}}">
                {{ h.cracked / h.hashCount | percent:'1.2-2' }}
              </span>
                (
                  <a
                    [routerLink]="['/hashlists/hashes/','hashlists',h.hashlistId]"
                    [queryParams]="{filter: 'cracked'}"
                    >{{ h.cracked }}</a>
                /
                <a [routerLink]="['/hashlists/hashes/','hashlists',h.hashlistId]">{{ h.hashCount }}</a>
                )
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </app-table>
</div>
