/* ==================================
            SECTION ALERTS
   ================================== */

/*
  01- Modal Alert
*/

.modal-header {
  border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  z-index: 50;
}

.alert-box {
  position: fixed;
  top: 30vh;
  left: 20vw;
  width: 60vw;
  padding: 16px;
  z-index: 100;
  background: rgb(248, 245, 245);
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

.alert-box-actions {
  text-align: right;

}

.modale:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.btn-modal { // used for custom alert modal
  background: #428bca;
  border: #357ebd solid 0px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
}
.btn-modal:hover { // used for custom alert modal
  background: #357ebd;
}

/*
  01- End
*/

/*
  02- Other
*/

.closesys {  // Custom to adjust margin in alert
  margin-top: 2em;
  margin: 2em auto;
}

/*
  02- End
*/

/*
  03- Pill Style
*/

.pill-ebidem {
  background-color: #fff;
  // top:-1px;
  // border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  position: relative
}

.pill-ebidem-tk {
  color:#fff;
  // top:-1px;
  // border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  position: relative
}
