@use "../base/colors";

/* ==================================
          SECTION BUTTON
   ================================== */

/*
  01- Global
*/

.btn-outline-gray-600 {
  color: #4B5563;
  border-color: #4B5563;
}

.btn-outline-gray-600:hover {
  color: #ffffff;
  background-color: #4B5563;
  border-color: #4B5563;
}

.btn-outline-gray-600:focus {
  box-shadow: 0 0 0 0.18rem rgba(75, 85, 99, 0.5);
}

.btn-close {  // used for custom alert modal
  color: #aaaaaa;
  font-size: 20px;
  text-decoration: none;
  padding:10px;
  position: absolute;
  right: 7px;
  top: 0;
}

/*
  01- End
*/

/*
  02- Scoll Y to top menu button
*/

.md-ico-bottom-right{
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  color: rgba(134, 140, 144, 0.75);
  border: 2px solid rgba(134, 140, 144, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all .2s ease-in-out;
 }

 .scroll-to-top:hover {
  color: #FFF;
  background: rgba(134, 140, 144, 0.75);
  border: 2px solid rgba(134, 140, 144, 0.75);
 }

 .show-scrollTop {
  opacity: 1;
  color: rgba(134, 140, 144, 0.75);
  border: 2px solid rgba(134, 140, 144, 0.75);
  transition: all .2s ease-in-out;
 }

/*
  02- End
*/

// Angular Material

.separation-button {
  margin-right: 16px; /* Adjust the margin to control the spacing */
}

mat-button-toggle-group {
  margin-left: -15px;
}

.btn-toogle-select {
  background-color: colors.$accent-900;
  border-top: 2px solid colors.$accent-800;
  border-bottom: 2px solid colors.$accent-800;
  font-weight: bold;
  color: #fff !important;
}
