@import '../base/colors';
/* ==================================
            SECTION CARDS
   ================================== */

/*
  01- custom card grid
*/

.overflowAuto {
  overflow-x: hidden;
  overflow-y: auto;
  /*   height: calc(100vh - 163px); */
}

// Overflow for texarea Firefox
@-moz-document url-prefix() {
  textarea {
    height: 4em;
    width: 100%;
  }
}

.card-container-ag {
  width: 95%;
}

.card-ag {
  background-color: #fff;
  border: 1px solid #d4d4d4;
  height: 135px;
  margin-bottom: 10px;
  position: relative;
}

.card-header-ag {
  background-color: #545557;
  font-size: 14pt;
  color: white;
  padding: 5px;
  width: 100%;
}

.card-body-left-ag {
  margin-top: -5px;
}

.card-body-right-ag {
  margin-left: 5px;
  margin-top: 5px;
}

.card-body-top-right {
  margin-left: 5px;
  position: relative;
}

.card-body-content-ag {
  width: 100px;
}

.white-ico {
  color: white;
}

.white-ico:hover {
  color: rgb(177, 172, 172);
}

.gray-light-ico:hover {
  color: rgb(177, 172, 172);
  cursor: pointer;
}

.highlight {
  background-color: #999;
}

hr.break:after {
  background: none repeat scroll 0% 0% #000;
  content: '';
  height: 10px;
  left: 50%;
  margin: -5px auto auto -5px;
  position: absolute;
  // transform: rotate(-45deg);
  // width: 10px;
}

.err-msg {
  background: #eee;
  padding: 1rem;
  font-family: monospace;
  word-break: break-all;
}

/*
  01- End
*/

/*
  02- Dashboard Card
*/

.card {
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  color: black;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;

  -webkit-transition:
    transform 300ms cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 200ms ease;
  -moz-transition:
    transform 300ms cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 200ms ease;
  -o-transition:
    transform 300ms cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 200ms ease;
  -ms-transition:
    transform 300ms cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 200ms ease;
  transition:
    transform 300ms cubic-bezier(0.34, 2, 0.6, 1),
    box-shadow 200ms ease;

  .card-body {
    padding: 15px 15px 10px 15px;

    &.table-full-width {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .card-header {
    &:not([data-background-color]) {
      background-color: transparent;
    }

    padding: 15px 15px 0;
    border: 0;

    .card-title {
      margin-top: 10px;
    }
  }

  .card-footer {
    background-color: transparent;
    border: 0;

    .stats {
      i {
        margin-right: 5px;
        position: relative;
        top: 0px;
        color: rgb(144, 130, 122);
      }
    }
  }
}

.card-dash {
  .card-body {
    padding: 15px 15px 0px;

    .numbers {
      text-align: right;
      font-size: 2em;

      p {
        margin-bottom: 0;
      }

      .card-category {
        color: darkblue;
        font-size: 16px;
        line-height: 1.4em;
      }
    }
  }

  .card-footer {
    padding: 0px 15px 15px;

    .stats {
      color: darkblue;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }
}

.app-echarts {
  margin: 0 !important;
  padding: 0 !important;
  // padding: 1.1rem;
}

/*
  02- Dashboard Card End
*/

.home-grid {
  margin-top: 50px;

  .mat-mdc-card {
    position: relative;
    background-color: transparent;
    color: $primary-900;
    text-align: center;
    box-shadow: none;

    .icon-wrapper {
      border-radius: 100%;
      background-color: $accent-900;
      display: inline-block;
      padding: 1em;
      width: 30px;
      height: 30px;
      text-align: center;

      .mat-icon {
        color: #fff;
        position: relative;
        font-size: 30px;
        width: 30px;
        height: 30px;
      }
    }

    &.project-info {
      text-align: center;
      background-color: $accent-900;
      color: #fff;
    }
  }

  .mat-mdc-card-content {
    h3 {
      color: $primary-900;
      font-weight: 200;
      margin-top: 0;
      margin-bottom: 0.5em;
      font-size: 1.5em;

      .mat-icon {
        color: $primary-400;
        position: relative;
        top: 4px;
      }
    }

    hr {
      border-width: 1px;
      border-style: solid;
      border-color: $primary-900;
    }

    span {
      display: inline-block;
      width: 100%;

      &.value {
        font-size: 2em;
        font-weight: 900;
      }

      &.label {
        color: $primary-500;
        font-size: 0.8em;

        .mat-icon {
          font-size: 16px;
          height: 16px;
          width: 16px;
          position: relative;
          top: 3px;
        }
      }
    }
  }
}

.dark-theme {
  .card {
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.75);
    background-color: var(--mat-toolbar-container-background-color);
    color: #fff;
  }

  .home-grid {
    .mat-mdc-card {
      background-color: transparent;
      color: #fff;

      &.project-info {
        background-color: $accent-900;
      }

      .icon-wrapper {
        background-color: $accent-900;

        .mat-icon {
          color: #fff;
        }
      }
    }

    .mat-mdc-card-content {
      h3 {
        color: $primary-300;

        .mat-icon {
          color: $primary-900;
        }
      }

      hr {
        border-color: $primary-900;
      }

      span {
        &.label {
          color: $primary-300;
        }
      }
    }
  }
}


/*
  03- Simulate a Mat Form Field to use in forms
*/

.simulate-form-field {
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  overflow: hidden;
  min-width: 210px;
  max-width: 100%;
  box-sizing: border-box;
}

.simulate-form-field-label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  padding: 4px 8px;
  background-color: #fff;
}

.simulate-form-field-flex {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.simulate-form-field-infix {
  flex: 1;
  min-width: 0;
  padding: 8px;
}

.simulate-form-field-flex.with-icon {
  display: flex;
  align-items: center;
}

.simulate-form-field-infix.with-icon {
  display: flex;
  align-items: center;
}

.simulate-form-field-content {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

.simulate-form-field-disabled {
  opacity: 0.5;
  pointer-events: none;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.smaller-pass-strength {
  width: 30%;
}


