/* ==================================
            SECTION CARDS
   ================================== */

/*
  01- custom card grid
*/

.card-container-ag {
  width:95%;
}

.card-ag {
  background-color:#fff;
  border: 1px solid #d4d4d4;
  height:135px;
  margin-bottom: 10px;
  position: relative;
}

.card-header-ag {
  background-color:#545557;
  font-size:14pt;
  color:white;
  padding:5px;
  width:100%;
}

.card-body-left-ag {
  margin-top: -5px;
}

.card-body-right-ag {
  margin-left: 5px;
  margin-top: 5px;
}

.card-body-top-right {
  margin-left: 5px;
  position: relative;
}

.card-body-content-ag {
  width: 100px;
}

.white-ico {
  color: white;
}

.white-ico:hover {
  color: rgb(177, 172, 172);
}

.gray-light-ico:hover{
  color: rgb(177, 172, 172);
}
