input[type='color']::-webkit-color-swatch-wrapper {
  padding: 2px;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: calc(var(--radius-md) - 1px);
}

input[type='color']::-moz-color-swatch {
  border: none;
  border-radius: calc(var(--radius-md) - 1px);
}
