/* ==================================
            SECTION FORM
   ================================== */

/*
  01- Highlight validation in red
*/

input.ng-invalid.ng-touched {
	border: 1.5px solid red;
}

.requiredak:before {
  content:" *";
  color: red;
}

.form-input-custom {
  padding-bottom:10px;
  padding-right:10px;
  width: auto;
}

select, input {
  max-width: 500px !important;
}

/*
  01- End
*/


/*
  02- File Zone Area
*/
.filedrop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 200;
  height: 300px;
  width: 420px;
  border: 2px dashed #8c9199;
  border-radius: 5px;
  background: white;
  margin: 0px 0;
}

.filedrop.active{
  border: 2px solid #fff;
}

.filedrop.hovering {
  border: 2px solid rgb(62, 63, 66);
  color: #dadada !important;
}

.filedrop .file-label {
  font-size: 1.2em;
}

.filedrop header {
  font-size: 25px;
  font-weight: 500;
}

.filedrop span {
  font-size: 20px;
  font-weight: 500;
}

.filedrop p {
  font-size: 12px;
  font-weight: 500;
  color:rgb(143, 138, 138);
  margin: 10px 0;
}

.filedrop button {
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 350;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #4681f4;
  color:#fff;
  cursor: pointer;
}

.filedrop.hovering button {
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 350;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #969595;
  color:#fff;
}

.filedrop .icon {
  font-size: 45px;
  font-weight: 500;
  margin: 50px 0;
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

/*
  02- End
*/

/*
  03- Custom filter box
*/
.filterboxglass{
  border:none;
  background:#e7eaed;
  padding:7px;
  // width:80%;
  border-radius:9px;
  color:black;
}

#filterbox{
  border:none;
  background:#f3f5f7;
  padding:7px;
  width:80%;
  border-radius: 0px 9px 9px 0px;
  color:black;
}

/*
  03- End
*/

/*
  04- Password input field style and eye hidden/show
*/

.input-icon-container{
  display: flex;
  flex-direction: row;
  border: 1px solid #d4d5db;
  border-radius: 10px;
  background : #fff;
  align-items : center;
  overflow: hidden;
}

.input-icon-container input {
  outline: none;
  border: none;
  background: none;
  color: inherit;
  flex : auto 1 1;
  width : 100%;
  background : none;
  background-color : transperant;
}

.input-icon-container .fa{
  padding : 10px;
}

/*
  04- End
*/

/*
  05- Password Strength
*/

.strength {
  display: flex;
  flex-direction: row;
}

.strengthBar {
  display: flex;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: 2px;
}

.strength-point {
  background: #ddd;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 1px;
  flex-grow: 1;
}

.str-margin {
  font-weight: bold;
  flex-grow: 0.1;
}

/*
  05- End
*/

/*
  06- Login Form
*/

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-card {
  width: 400px;
  margin-bottom: 16px;
}

.login-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  a {
    text-align: center;
  }
  img {
    display: block;
    margin: auto;
  }
}

.forgot-password-link {
  text-align: right;
}

.card-login-field {
  width: 100%;
  margin-bottom: 16px;
}

.forgot-password-link {
  margin-top: 16px;
  text-align: center;

  a {
    color: $hyperlink-color;
    text-decoration: none;
  }
}

.mat-card-alert {
  background-color: $alert-color;
  margin-top: 16px;
}

/*
  06- End
*/

/*
  07- Horizontal Menu Select
*/
.btn-toggle-select {
  color: $btn-text-color;
  background-color: $btn-bg-color;
  border-color: $btn-border-color;
}

/*
  07- End
*/

/*
  08- Mat Autocomplete
*/

.custom-chip-grid {
  width: 100%;
}

.highlight-text {
  background-color: $search-text-highlight-color;
}


/*
  08- End
*/

/*
  09- Shared/Input
*/

.custom-input-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

.color-picker-field {
  flex: 1; /* Allow the mat-form-field to grow and take available space */
  margin-right: 16px; /* Adjust the margin between the field and the button */
}

.custom-textarea {
  width: 100%;
  min-width: 300px; /* Set your desired minimum width */
  max-width: 600px; /* Set your desired maximum width */
}

.custom-input-multiselect {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.flex-grow {
  flex-grow: 1;
  width: 100%;
  margin-right: 8px;
}

/*
  09
*/

$custom-form-min-width: 150px;
$custom-form-max-width: 500px;

$mat-input-font-size: 14px; // Adjust the font size as needed
$mat-form-field-max-width: 300px; // Adjust the maximum width as needed

.custom-form {
  min-width: $custom-form-min-width;
  max-width: $custom-form-max-width;
  width: 100%;
}

.matfield-full-width {
  width: 100%;
}

.mat-input-element {
  font-size: $mat-input-font-size !important;
}

.mat-form-field {
  max-width: $mat-form-field-max-width !important;
}

.mat-chip-list.custom-chip-list {
  .mat-chip.custom-chip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
