@use "../base/colors";

.snackbar-error{
  .mat-mdc-snack-bar-label {
    font-size: 12pt !important;
  }
  .mdc-snackbar__surface{
    background-color: #ffe7e6 !important;
    color: #ff5757!important;
    border-left: 5px solid #ff5757;
  }
  .mat-mdc-snack-bar-actions{
    button{
      color: #ff5757!important;
      font-size: 10pt !important;
      border: 1px solid #ff5757;
    }
  }
}
