/* ==================================
          SECTION TABLES
   ================================== */

/*
  01- Main Style
*/
.table .thead-light th {
  background-color: #F2F4F6;
  color: #1F2937;
}

.table .thead-light th a {
  color: #1F2937;
}

.th{
  border: 0 !important;
  color: blueviolet !important;
}

.rounded-start {
  border-bottom-left-radius: 0.5rem !important;
  border-top-left-radius: 0.5rem !important;
}

.rounded-end {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.actions-td-right {
  padding-right: 10px;
  padding-left: 10px;
  float: right;
}

// Overrule datatables color setting
table.dataTable tbody tr.selected>* {
  // box-shadow: inset 0 0 0 9999px rgb(89, 143, 105) !important;
  a {
    color: rgb(246, 246, 246) !important;
  }
}

table.dataTable {
  th {
    padding: 16px 12px;
    padding-right: 12px;
    text-align: left;
    vertical-align: bottom;
    font-size: .875rem;
    font-weight: 400;
    font-weight: normal;
    color: #999;
    text-transform: uppercase;
  }
  td {
    vertical-align: top;
    text-align: left;
    font-size: .930rem;
    font-weight: 400;
    font-weight: normal;
  }

  .align-text {
    margin-right: -12px;
  }

  .checkmark {
    --bs-badge-padding-x: 0.0em !important;
    --bs-badge-padding-y: 0.0em !important;
    line-height: 1 !important;
    white-space: normal !important;
  }
}

.table.dataTable.table-hover>tbody>tr:hover>*{
  background-color: rgb(249, 249, 167);
}

.btn-actions {
  vertical-align: center;
  font-size: .680rem;
  font-weight: 400;
  font-weight: normal;
}

div.dt-button-collection button.dt-button, div.dt-button-collection div.dt-button, div.dt-button-collection a.dt-button {
  position: relative;
  display: block !important;;
  padding: 0.5em 0 !important;
  margin: 4px 0 2px 0 !important;
}

div.dt-button-background:not(.disabled){
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(249, 246, 246, 0);
  z-index: 2001;
}

div.dt-button-collection {
  background-color: #dadada;
  background-color: rgba(0, 0, 0, 0) !important;
  color: #ffffff !important;
  border-color: #4B5563 !important;
  padding: 4px 4px 2px !important;
  line-height: 1.6em !important;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="#f0f0f0", EndColorStr="#dadada");
}

div.dt-button-collection span {
  color: #ffffff;
}

button.dt-button, div.dt-button, a.dt-button, input.dt-button {
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.3);
  line-height: 1.6em;
  white-space: nowrap;
  overflow: hidden;
  background: linear-gradient(to bottom,rgba(230,230,230,.1) 0%,rgba(0,0,0,.1) 100%);
  user-select: none;
  text-decoration: none;
  outline: none;
  text-overflow: ellipsis;
  margin-bottom: 0.133em !important;
  text-align: center !important;
}

/*
  01- End
*/

/*
  02- Pagination
*/

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #4B5563;
  border-color: #4B5563;
  color:#e0e4ea;
}

.pagination a {
    cursor: pointer;
}

.container-pag {
  float: right !important;
}

/*
  02- End
*/


