/* ==================================
          SECTION TABLES
   ================================== */

/*
  01- Main Style
*/
.table .thead-light th {
  background-color: #F2F4F6;
  color: #1F2937;
}

.table .thead-light th a {
  color: #1F2937;
}

.th{
  border: 0 !important;
  color: blueviolet !important;
}

.rounded-start {
  border-bottom-left-radius: 0.5rem !important;
  border-top-left-radius: 0.5rem !important;
}

.rounded-end {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.actions-td-right {
  padding-right: 10px;
  padding-left: 10px;
  float: right;
}

// Overrule datatables color setting
table.dataTable tbody tr.selected>* {
  // box-shadow: inset 0 0 0 9999px rgb(89, 143, 105) !important;
  a {
    color: rgb(246, 246, 246) !important;
  }
}

table.dataTable {
  th {
    padding: 16px 12px;
    padding-right: 12px;
    text-align: left;
    vertical-align: bottom;
    font-size: .875rem;
    font-weight: 400;
    font-weight: normal;
    color: #999;
    text-transform: uppercase;
  }
  td {
    vertical-align: top;
    text-align: left;
    font-size: .890rem;
    font-weight: 400;
    font-weight: normal;
  }
}

.table-hover tbody tr:hover,.table-hover> tr:hover{
  background-color: rgb(249, 249, 167);
}

.btn-actions {
  vertical-align: center;
  font-size: .680rem;
  font-weight: 400;
  font-weight: normal;
}


/*
  01- End
*/

/*
  02- Pagination
*/

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #4B5563;
  border-color: #4B5563;
  color:#e0e4ea;
}

.pagination a {
    cursor: pointer;
}

.container-pag {
  float: right !important;
}

/*
  02- End
*/
