<ht-table
  #table
  name="filesAttackTable"
  dataType="files-attack"
  [columnLabels]="columnLabels"
  [dataSource]="dataSource"
  [tableColumns]="tableColumns"
  [isFilterable]="isFilterable"
  [isPageable]="true"
  [isCmdTask]="cmdTask"
  [isCmdLabel]="customLabel"
  [isCmdPreproAttack]="cmdPrepro"
  [isCmdFiles]="formData.files"
  [isSelectable]="true"
  [showExport]="false"
  (checkboxChanged)="onCheckboxChanged($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn = $event"
  (backendSqlFilter)="handleBackendSqlFilter($event)"
/>
