<horizontalnav [menuItems]="menuItems"></horizontalnav>
<!-- Body -->
<div class="highlight-box">
  <p>
    The following features or functionalities are currently not operational.
  </p>
</div>
<grid-main>
  <app-page-subtitle [subtitle]="'Masks'"></app-page-subtitle>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">

      <input-text title="Name" formControlName="name" [isRequired]="true"></input-text>

      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

        <input-select title="Benchmark Type" formControlName="useBench" [items]="selectBenchmarktype"></input-select>

        <input-select title="Binary type to run task" formControlName="crackerBinaryId" [items]="selectCrackertype"></input-select>

      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

          <input-check title="Small Tasks" formControlName="isSmall"></input-check>
          <input-check title="CPU" formControlName="isCPU"></input-check>
          <input-check title="Use optimized flag (-O)" formControlName="optFlag"></input-check>

      </div>

      <input-text-area title="Insert Masks" formControlName="masks"></input-text-area>

    <grid-buttons>
      <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
      <button-submit [name]="'Create'"></button-submit>
    </grid-buttons>

  </form>
</grid-main>

