<h2 mat-dialog-title class="h6">Hashtype Detector</h2>

<mat-dialog-content>
  <form>
    <div class="mb-3">
      <div class="row">
        <form class="custom-input-container">
          <mat-form-field class="flex-grow">
            <textarea matInput name="hashtypeDetector" #value style="flex: 1;"></textarea>
          </mat-form-field>

          <mat-dialog-actions align="end">
            <button mat-raised-button color="primary" type="button" (click)="onSearch(value.value)">Search</button>
          </mat-dialog-actions>
        </form>
      </div>

      <mat-table *ngIf="type && type !== false" class="mat-elevation-z8 custom-mat-table" [dataSource]="dataSource">

        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row[column] }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>

      <div *ngIf="type === false">
        <p>Error. No hash type found.</p>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Cancel</button>
</mat-dialog-actions>
