<grid-main [class]="'fmxw-500'" [centered]="true">
  <app-page-subtitle [subtitle]="'Create Notification'"></app-page-subtitle>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <grid-form-input [name]="'Trigger Action'" [labelclass]="'requiredak'">
          <select name="action" class='form-select' title="action" formControlName="action">
            <option *ngFor="let alla of allowedActions">{{ alla }}</option>
          </select>
        </grid-form-input>
        <grid-form-input [name]="'Agent'" [labelclass]="'requiredak'">
          <select name="hashtypeId" class='form-select' title="hashtypeId" formControlName="actionFilter">
            <option *ngFor="let a of showagents" [value]="a.agentId">{{ a.agentName }}</option>
          </select>
        </grid-form-input>
        <grid-form-input [name]="'Notification'" [labelclass]="'requiredak'">
          <select name="notification" class='form-select' title="notification">
            <!-- <option *ngFor="let b of binaries" >{{ b.type }}</option> -->
          </select>
        </grid-form-input>
        <grid-form-input [name]="'Receiver'" [labelclass]="'requiredak'">
          <input type='text' id="receiver" class="form-control" formControlName="receiver"/>
        </grid-form-input>
        <button-submit [name]="'Create'"></button-submit>
      </div>
  </form>
</grid-main>
