@if (!tableColumn.routerLink && !tableColumn.editable && !tableColumn.checkbox) {
  <!-- Check if a async function is defined for the column -->
  @if (tableColumn.async) {
    <div [innerHtml]="(tableColumn.async(element) | async) || '-'"></div>
  }
  <!-- Check if a render function is defined for the column -->
  @if (!tableColumn.async && tableColumn.render) {
    <div [innerHtml]="tableColumn.render(element)"></div>
  }
  <!-- Default rendering if no render function is defined -->
  @if (!tableColumn.async && !tableColumn.render && !tableColumn.icon) {
    {{ element[tableColumn.dataKey] }}
  }
}
