<h2>Database tools</h2>

<div class="flex flex-col gap-3">
  <div class="item">
    <div class="control">
      <button mat-flat-button color="primary" (click)="rebuildChunkCache()">Rebuild chunk cache</button>
    </div>
    <div class="desc flex-1" aria-live="polite">
      <div class="text-muted-foreground leading-[1.4]">
        Counts cracked hashes in all chunks and all hashlists using slow but precise COUNT() function.
      </div>
    </div>
  </div>
  <div class="item">
    <div class="control">
      <button mat-flat-button color="primary" (click)="rescanGlobalFiles()">Rescan global files</button>
    </div>
    <div class="desc flex-1" aria-live="polite">
      <div class="text-muted-foreground leading-[1.4]">Scans all global files for size mismatch or inexistence.</div>
    </div>
  </div>
</div>
