.item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px 0;
}

.control {
  flex: 0 0 200px;
  min-width: 140px;

  button {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .control {
    order: 2;
    justify-content: flex-start;
  }
  .desc {
    order: 1;
    margin-bottom: var(--space-2xs);
    display: block;
  }
}
