<app-page-subtitle [subtitle]="'Create User'"></app-page-subtitle>
<grid-main [class]="'width:100%;'" [centered]="true">
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <grid-form-input [name]="'User Name'" [labelclass]="'requiredak'">
        <input
              type='text'
              id="name"
              class='form-control'
              formControlName="name"
        >
      </grid-form-input>
      <span *ngIf="createForm.get('name').invalid && createForm.get('name').touched" class="help-block">User already exist!</span>
      <grid-form-input [name]="'Email'" [labelclass]="'requiredak'">
        <input
                type='email'
                id="email"
                class='form-control'
                formControlName="email"
          >
      </grid-form-input>
      <grid-form-input [name]="'Access Permission Group'" [labelclass]="'requiredak'">
        <select
              type='number'
              id="globalPermissionGroupId"
              class='form-select'
              formControlName="globalPermissionGroupId"
              >
              <option *ngFor="let a of agp" [ngValue]="a.id">{{ a.name }}</option>
        </select>
      </grid-form-input>
      <!-- <span *ngIf="!createForm.valid && (createForm.touched || createForm.dirty)" class="help-block" >Please complete all the form!</span> -->
      <button-submit [name]="'Create'"></button-submit>
    </div>
  </form>
</grid-main>

