<app-page-subtitle [subtitle]="'Create Superhaslist'"></app-page-subtitle>
<!-- Spinner -->
<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<!-- Body -->
<grid-main [class]="'fmxw-500'" [centered]="true">
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <grid-form-input [name]="'Name'" [labelclass]="'requiredak'">
        <div class="input-group">
          <span class="input-group-text">
            <fa-icon [icon]="faFile" aria-hidden="true"></fa-icon>
          </span>
          <input
                type='text'
                id="superhashlistName"
                class='form-control'
                formControlName="superhashlistName"
          />
        </div>
      </grid-form-input>
      <grid-form-input [name]="'Select or search Hashlists assigned to this superhashlist:'">
        <div class="input-group">
          <span class="input-group-text" >
            <fa-icon [icon]="faMagnifyingGlass" aria-hidden="true"></fa-icon>
          </span>
          <select
                type='number'
                id="hashlists"
                class='form-select'
                formControlName="hashlists"
              >
              <option [ngValue]=""></option>
          </select>
        </div>
      </grid-form-input>
      <button-submit [name]="'Create'"></button-submit>
  </form>
</grid-main>
