<ng-container>
  <!-- table actions -->
  <div class="table-actions">
    <!-- refresh -->
    <div class="table-action-wrapper">
      <button mat-button (click)="reload()">
        <mat-icon>refresh</mat-icon>
        Reload
      </button>
    </div>
    <!-- bulk actions -->
    <div class="table-action-wrapper" *ngIf="isSelectable && hasBulkActions">
      <ng-container *ngIf="dataSource.loading$ | async; else bulkActionMenu">
        <button mat-button [disabled]="true">
          <mat-icon>adjust</mat-icon>
          Bulk Actions
        </button>
      </ng-container>
      <ng-template #bulkActionMenu>
        <bulk-action-menu
          #bulkMenu
          [dataType]="dataType"
          [isArchived]="isArchived"
          [data]="dataSource.selection.selected"
          [disabled]="!hasSelected()"
          (menuItemClicked)="bulkAction($event)"
        />
      </ng-template>
    </div>
    <!-- export -->
    <div class="table-action-wrapper" *ngIf="isSelectable && showExport">
      <ng-container *ngIf="dataSource.loading$ | async; else exportMenu">
        <button mat-button [disabled]="true">
          <mat-icon>file_download</mat-icon>
          Export
        </button>
      </ng-container>
      <ng-template #exportMenu>
        <export-menu
          [data]="dataSource.selection.selected"
          [disabled]="!hasSelected()"
          (menuItemClicked)="exportAction($event)"
        />
      </ng-template>
    </div>
    <!-- columns -->
    <div class="table-action-wrapper">
      <button mat-button (click)="openColumnSelectionDialog()">
        <mat-icon>view_week</mat-icon>
        Columns
      </button>
    </div>
    <!-- temrature information -->
    @if (hasTemperatureInformation) {
      <div class="table-action-wrapper">
        <button mat-button (click)="temperatureInformationEmit()">
          <mat-icon>info</mat-icon>
          Temperature Information
        </button>
      </div>
    }

    <!-- Filter section -->
    <div class="table-action-wrapper right-aligned" *ngIf="isFilterable">
      <div class="filter-container">
        <!-- Column selector dropdown -->
        <mat-form-field>
          <mat-label>Filter by column</mat-label>
          <mat-select [(ngModel)]="selectedFilterColumn" (selectionChange)="onFilterColumnChange()">
            <mat-option value="all">All filterable columns</mat-option>
            @for (column of filterableColumns; track column) {
              <mat-option [value]="column.dataKey">{{ columnLabels[column.id] }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- Filter input -->
        <mat-form-field style="min-width: 200px">
          <input matInput (keyup.enter)="applyFilter()" [(ngModel)]="dataSource.filter" placeholder="Filter data" />
          <button mat-icon-button matSuffix (click)="clearFilter()">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
  <!-- Table -->
  <table mat-table [dataSource]="dataSource" matSort class="hashtopolis-table">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>
    <!-- select column -->
    <ng-container *ngIf="isSelectable" matColumnDef="{{ colSelect }}">
      <th mat-header-cell *matHeaderCellDef>
        <!-- Check if both isCmdTask and isCmdPreproAttack are true -->
        <ng-container *ngIf="isCmdTask && isCmdPreproAttack; else checkCmdAttack">
          <span mat-checkbox (click)="$event.stopPropagation()" (change)="toggleAll()">{{
            isCmdLabel ? isCmdLabel : 'Task | Preprocessor'
          }}</span>
        </ng-container>
        <!-- Check if only isCmdTask is true -->
        <ng-template #checkCmdAttack>
          <ng-container *ngIf="isCmdTask; else defaultHeader">
            <span mat-checkbox (click)="$event.stopPropagation()" (change)="toggleAll()">Task</span>
          </ng-container>
        </ng-template>
        <ng-template #defaultHeader>
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="toggleAll()"
            [checked]="isAllSelected()"
            [indeterminate]="indeterminate()"
          />
        </ng-template>
      </th>
      <td
        mat-cell
        *matCellDef="let row"
        [ngStyle]="{
          'border-left':
            (row.tasks && row.tasks.length > 0 && row.tasks[0].color) || (row && row.color)
              ? '8px solid ' + (row.tasks && row.tasks.length > 0 ? row.tasks[0].color : row.color)
              : '',
          'padding-left': (row.tasks && row.tasks.length > 0 && row.tasks[0].color) || row.color ? '8px' : '16px'
        }"
      >
        <ng-container *ngIf="!isCmdTask; else defaultCell">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleSelect(row)" [checked]="isSelected(row)" />
        </ng-container>
        <ng-template #defaultCell>
          <!-- CMD Task -->
          <ng-container>
            <mat-checkbox
              *ngIf="isCmdTask"
              (click)="$event.stopPropagation()"
              (change)="toggleAttack($event, row, 'CMD')"
              [checked]="isSelected(row)"
            />
          </ng-container>
        </ng-template>
        <ng-container>
          <!-- CMD Preprocessor -->
          <mat-checkbox
            *ngIf="isCmdPreproAttack"
            (click)="$event.stopPropagation()"
            (change)="toggleAttack($event, row, 'CMD_PREPRO')"
          />
        </ng-container>
      </td>
    </ng-container>

    <!-- action column -->
    <ng-container *ngIf="hasRowAction" matColumnDef="{{ colRowAction }}">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" [class.text-right]="true">
        <row-action-menu [data]="element" (menuItemClicked)="rowAction($event)"></row-action-menu>
      </td>
    </ng-container>

    <ng-container *ngFor="let tableColumn of tableColumns; let first = first" [matColumnDef]="tableColumn.id + ''">
      <!-- if sortable column header -->
      <ng-container *ngIf="tableColumn.isSortable; else notSortable">
        <th
          mat-header-cell
          *matHeaderCellDef
          [mat-sort-header]="tableColumn.id + ''"
          (click)="onColumnHeaderClick(tableColumn)"
        >
          {{ columnLabels[tableColumn.id] }}
        </th>
      </ng-container>
      <!-- else not sortable -->
      <ng-template #notSortable>
        <th mat-header-cell *matHeaderCellDef [class.text-right]="tableColumn.position === 'right'">
          {{ columnLabels[tableColumn.id] }}
        </th>
      </ng-template>
      <!-- column data -->
      <td
        mat-cell
        *matCellDef="let element"
        [ngStyle]="{
          color: tableColumn.customCellColor
            ? (tableColumn.customCellColor.value(element)
              | asColor
                : tableColumn.customCellColor.treshold1
                : tableColumn.customCellColor.treshold2
                : tableColumn.customCellColor.type
                : tableColumn.customCellColor.isActive(element)
                : tableColumn.customCellColor.lastTime(element))
            : ''
        }"
        [class.text-right]="tableColumn.position === 'right'"
      >
        <div class="flex-container" [class.links]="tableColumn.routerLink" [class.icons]="tableColumn.icon">
          <ng-container *ngIf="tableColumn.truncate">
            <table-truncate [text]="element" [path]="tableColumn.dataKey"></table-truncate>
          </ng-container>
          <ng-container *ngIf="!tableColumn.truncate">
            <app-ht-table-link [tableColumn]="tableColumn" [element]="element"></app-ht-table-link>
            <ht-table-default [tableColumn]="tableColumn" [element]="element"></ht-table-default>
            <ht-table-editable
              [tableColumn]="tableColumn"
              [element]="element"
              (editableInputSaved)="editableInputSaved($event)"
            ></ht-table-editable>
            <ht-table-editable-checkbox
              [tableColumn]="tableColumn"
              [element]="element"
              (editableCheckboxSaved)="editableCheckboxSaved($event)"
            ></ht-table-editable-checkbox>
          </ng-container>

          <!-- Check if icon function is defined -->
          <ng-container *ngIf="tableColumn.icon">
            <mat-icon
              *ngIf="tableColumn.icon(element).tooltip; else iconTmpl"
              [matTooltip]="tableColumn.icon(element).tooltip"
              [ngClass]="tableColumn.icon(element).cls ? tableColumn.icon(element).cls : ''"
              >{{ tableColumn.icon(element).name }}</mat-icon
            >
            <ng-template #iconTmpl>
              <mat-icon [ngClass]="tableColumn.icon(element).cls ? tableColumn.icon(element).cls : ''">{{
                tableColumn.icon(element).name
              }}</mat-icon>
            </ng-template>
          </ng-container>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="toggleSelect(row)"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell no-data" [attr.colspan]="displayedColumns.length">
        <div *ngIf="dataSource.loading$ | async; else noData" class="spinner-table">
          <mat-spinner diameter="30" color="accent"></mat-spinner>
        </div>
        <ng-template #noData> No data available </ng-template>
      </td>
    </tr>
  </table>

  <!-- Pagination -->
  <ng-container *ngIf="isPageable">
    <hr />
    <mat-paginator
      [length]="dataSource.totalItems"
      [pageSize]="dataSource.pageSize"
      [pageSizeOptions]="paginationSizes"
      [pageIndex]="dataSource.index"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </ng-container>
</ng-container>
