<ng-container>
  <!-- table actions -->
  <div class="table-actions">
    <!-- Auto-refresh control -->
    <div class="table-footer-actions"
         style="display: flex; justify-content: space-between; align-items: center; margin-top: 8px;">
      <button (click)="dataSource.setAutoreload(!dataSource.autoRefreshEnabled)" *ngIf="supportsAutoRefresh" mat-button>
        <mat-icon>{{ dataSource.autoRefreshEnabled ? 'pause_circle_outline' : 'autorenew' }}</mat-icon>
        {{ dataSource.autoRefreshEnabled ? 'Pause Auto Reload' : 'Enable Auto Reload' }}
      </button>

    </div>
    <!-- refresh -->
    <div class="table-action-wrapper">
      <button (click)="reload()" mat-button>
        <mat-icon>refresh</mat-icon>
        Reload
      </button>
    </div>
    <!-- bulk actions -->
    <div *ngIf="isSelectable && contextMenuService && contextMenuService.getHasBulkMenu()" class="table-action-wrapper">
      <ng-container *ngIf="dataSource.loading$ | async; else bulkActionMenu">
        <button [disabled]="true" mat-button>
          <mat-icon>adjust</mat-icon>
          Bulk Actions
        </button>
      </ng-container>
      <ng-template #bulkActionMenu>
        <bulk-action-menu #bulkMenu (menuItemClicked)="bulkAction($event)" [contextMenuService]="contextMenuService"
                          [dataType]="dataType" [data]="dataSource.selection.selected"
                          [disabled]="!hasSelected()"
                          [isArchived]="isArchived" />
      </ng-template>
    </div>
    <!-- export -->
    <div *ngIf="isSelectable && showExport" class="table-action-wrapper">
      <ng-container *ngIf="dataSource.loading$ | async; else exportMenu">
        <button [disabled]="true" mat-button>
          <mat-icon>file_download</mat-icon>
          Export
        </button>
      </ng-container>
      <ng-template #exportMenu>
        <export-menu (menuItemClicked)="exportAction($event)" [data]="dataSource.selection.selected"
                     [disabled]="!hasSelected()" />
      </ng-template>
    </div>
    <!-- columns -->
    <div class="table-action-wrapper">
      <button (click)="openColumnSelectionDialog()" mat-button>
        <mat-icon>view_week</mat-icon>
        Columns
      </button>
    </div>
    <!-- temrature information -->
    @if (hasTemperatureInformation) {
      <div class="table-action-wrapper">
        <button mat-button (click)="temperatureInformationEmit()">
          <mat-icon>info</mat-icon>
          Temperature Information
        </button>
      </div>
    }

    <!-- Filter section -->
    <div *ngIf="isFilterable" class="table-action-wrapper right-aligned">
      <div class="filter-container">
        <!-- Column selector dropdown -->
        <mat-form-field>
          <mat-label>Filter by column</mat-label>
          <mat-select (selectionChange)="onFilterColumnChange()" [(ngModel)]="selectedFilterColumn">
            <mat-option value="all">All filterable columns</mat-option>
            @for (column of filterableColumns; track column) {
              <mat-option [value]="column.dataKey">{{ columnLabels[column.id] }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- Filter input -->
        <mat-form-field style="min-width: 200px">
          <input (keyup)="applyFilter()" [(ngModel)]="dataSource.filter" matInput placeholder="Filter data" />
          <button (click)="clearFilter()" mat-icon-button matSuffix>
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
  <!-- Table -->
  <table [dataSource]="dataSource" class="hashtopolis-table" mat-table matSort>
    <div *ngIf="dataSource.loading$ | async" class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
    <!-- select column -->
    <ng-container *ngIf="isSelectable" matColumnDef="{{ colSelect }}">
      <th *matHeaderCellDef mat-header-cell>
        <!-- Check if both isCmdTask and isCmdPreproAttack are true -->
        <ng-container *ngIf="isCmdTask && isCmdPreproAttack; else checkCmdAttack">
          <p>{{
              isCmdLabel ? isCmdLabel : 'Task | Preprocessor'
            }}</p>
        </ng-container>
        <!-- Check if only isCmdTask is true -->
        <ng-template #checkCmdAttack>
          <ng-container *ngIf="isCmdTask; else defaultHeader">
            <p>Task</p>
          </ng-container>
        </ng-template>
        <ng-template #defaultHeader>
          <mat-checkbox (change)="toggleAll()" (click)="$event.stopPropagation()" [checked]="isAllSelected()"
                        [indeterminate]="indeterminate()" />
        </ng-template>
      </th>
      <td *matCellDef="let row" [ngStyle]="{
          'border-left':
            (row.tasks && row.tasks.length > 0 && row.tasks[0].color) || (row && row.color)
              ? '8px solid ' + (row.tasks && row.tasks.length > 0 ? row.tasks[0].color : row.color)
              : '',
          'padding-left': (row.tasks && row.tasks.length > 0 && row.tasks[0].color) || row.color ? '8px' : '16px'
        }" mat-cell>
        <ng-container *ngIf="!isCmdTask; else defaultCell">
          <mat-checkbox (change)="toggleSelect(row)" (click)="$event.stopPropagation()" [checked]="isSelected(row)" />
        </ng-container>
        <ng-template #defaultCell>
          <!-- CMD Task -->
          <ng-container>
            <mat-checkbox (change)="toggleAttack($event, row, 'CMD')" (click)="$event.stopPropagation()"
                          *ngIf="isCmdTask" [checked]="isSelected(row)" />
          </ng-container>
        </ng-template>
        <ng-container>
          <!-- CMD Preprocessor -->
          <mat-checkbox (change)="toggleAttack($event, row, 'CMD_PREPRO')" (click)="$event.stopPropagation()"
                        *ngIf="isCmdPreproAttack" />
        </ng-container>
      </td>
    </ng-container>

    <!-- action column -->
    <ng-container
      *ngIf="contextMenuService && contextMenuService.getHasContextMenu()"
      matColumnDef="{{ colRowAction }}"
    >
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" [class.text-right]="true" mat-cell>
        <row-action-menu
          (menuItemClicked)="rowAction($event)"
          [contextMenuService]="contextMenuService"
          [data]="element"
        ></row-action-menu>
      </td>
    </ng-container>

    <ng-container *ngFor="let tableColumn of tableColumns; let first = first" [matColumnDef]="tableColumn.id + ''">
      <!-- if sortable column header -->
      <ng-container *ngIf="tableColumn.isSortable; else notSortable">
        <th (click)="onColumnHeaderClick(tableColumn)" *matHeaderCellDef [mat-sort-header]="tableColumn.id + ''"
            mat-header-cell>
          {{ columnLabels[tableColumn.id] }}
        </th>
      </ng-container>
      <!-- else not sortable -->
      <ng-template #notSortable>
        <th *matHeaderCellDef [class.text-right]="tableColumn.position === 'right'" mat-header-cell>
          {{ columnLabels[tableColumn.id] }}
        </th>
      </ng-template>
      <!-- column data -->
      <td *matCellDef="let element" [class.text-right]="tableColumn.position === 'right'" [ngStyle]="{
          color: tableColumn.customCellColor
            ? (tableColumn.customCellColor.value(element)
              | asColor
                : tableColumn.customCellColor.treshold1
                : tableColumn.customCellColor.treshold2
                : tableColumn.customCellColor.type
                : tableColumn.customCellColor.isActive(element)
                : tableColumn.customCellColor.lastTime(element))
            : ''
        }" mat-cell>
        <div [class.icons]="tableColumn.icon" [class.links]="tableColumn.routerLink" class="flex-container">
          <ng-container *ngIf="tableColumn.truncate">
            <table-truncate [path]="tableColumn.dataKey" [text]="element"></table-truncate>
          </ng-container>
          <span class="icon-actions">
            @if (typeof tableColumn.truncate === 'function' ? tableColumn.truncate(element) : tableColumn.truncate) {
              <button
                mat-icon-button
                color="primary"
                aria-label="Show full hash"
                (click)="showFullHashModalEmit(element)"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            }
            @if (tableColumn.isCopy) {
              <button (click)="copyRowDataEmit(element)" mat-icon-button color="primary" aria-label="Copy button">
                <mat-icon>content_copy</mat-icon>
              </button>
            }
          </span>
          <ng-container *ngIf="!tableColumn.truncate">
            <app-ht-table-link
              (linkClicked)="onLinkClicked()"
              [element]="element"
              [tableColumn]="tableColumn"
            ></app-ht-table-link>
            <ht-table-default [element]="element" [tableColumn]="tableColumn"></ht-table-default>
            <ht-table-editable (editableInputSaved)="editableInputSaved($event)" [element]="element"
                               [tableColumn]="tableColumn"></ht-table-editable>
            <ht-table-editable-checkbox (editableCheckboxSaved)="editableCheckboxSaved($event)" [element]="element"
                                        [tableColumn]="tableColumn"></ht-table-editable-checkbox>
          </ng-container>

          <!-- Check if icon function is defined -->
          <ng-container *ngIf="tableColumn.icon && tableColumn.icon(element) as icon">
            <mat-icon *ngIf="icon.tooltip; else iconTmpl" [matTooltip]="icon.tooltip"
                      [ngClass]="icon.cls ? icon.cls : ''">{{ icon.name }}
            </mat-icon>
            <ng-template #iconTmpl>
              <mat-icon [ngClass]="icon.cls ? icon.cls : ''">{{ icon.name }}</mat-icon>
            </ng-template>
          </ng-container>
        </div>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    <tr *matNoDataRow class="mat-row">
      <td [attr.colspan]="displayedColumns.length" class="mat-cell no-data">
        <div *ngIf="dataSource.loading$ | async; else noData" class="spinner-table">
          <mat-spinner color="accent" diameter="30"></mat-spinner>
        </div>
        <ng-template #noData> No data available</ng-template>
      </td>
    </tr>
  </table>

  <!-- Pagination -->
  <ng-container *ngIf="isPageable">
    <hr />
    <div class="paginator-footer">
      <div class="last-updated" style="display: flex; align-items: center; gap: 4px;">
      <span *ngIf="dataSource.getLastUpdated()">
        Last updated: {{ dataSource.getLastUpdated() }}
      </span>
        <mat-spinner
          *ngIf="(dataSource.loading$ | async) && dataSource.getLastUpdated()"
          diameter="12"
          strokeWidth="2"
        ></mat-spinner>
      </div>


      <mat-paginator
        (page)="onPageChange($event)"
        [disabled]="dataSource.loading$ | async"
        [length]="dataSource.totalItems"
        [pageIndex]="dataSource.index"
        [pageSizeOptions]="paginationSizes"
        [pageSize]="dataSource.pageSize"
      ></mat-paginator>
    </div>
  </ng-container>


</ng-container>
