@if (tableColumn.editable) {
  <div class="editable-container">
    @if (editMode) {
      <mat-form-field>
        <input
          matInput
          class="editable-input"
          #editableInput
          type="text"
          [(ngModel)]="editable.value"
          [class.hidden]="!editMode"
          (blur)="onBlur($event)"
          (focus)="onFocus($event)"
          (keyup.enter)="onEditableInputEnter($event)"
          />
        <button
          matSuffix
          mat-icon-button
          class="text-ok"
          [attr.aria-label]="'Update Value'"
          (click)="onEditableInputSaved($event)"
          >
          <mat-icon>check</mat-icon>
        </button>
        <button
          matSuffix
          mat-icon-button
          color="primary"
          (click)="onClose()"
          [attr.aria-label]="'Cancel'"
          >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    } @else {
      <div class="editable-text">
        <span
          [innerHtml]="editable.value"
          (click)="onSelect($event)"
          matTooltip="Click to edit value"
        ></span>
      </div>
    }
  </div>
}
