# Angular stuff
node_modules
.angular

src/assets/custom-themes
src/assets/themes

# Docker stuff
Dockerfile*
docker-compose*
.dockerignore

# Git stuff
.gitignore

# IDE stuff
.vscode
devcontainer.json

# Project stuff
README.md
LICENSE
