<ht-table
  #table
  [name]="name"
  dataType="pretasks"
  [columnLabels]="columnLabels"
  [dataSource]="dataSource"
  [tableColumns]="tableColumns"
  [isSelectable]="true"
  [contextMenuService]="contextMenuService"


  [isFilterable]="true"
  [filterFn]="filter.bind(this)"
  [isPageable]="true"
  (editableSaved)="editableSaved($event)"
  (bulkActionClicked)="bulkActionClicked($event)"
  (rowActionClicked)="rowActionClicked($event)"
  (exportActionClicked)="exportActionClicked($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn = $event"
/>
