<ht-table
  #table
  [name]="name"
  dataType="pretasks"
  [columnLabels]="columnLabels"
  [dataSource]="dataSource"
  [tableColumns]="tableColumns"
  [isSelectable]="true"
  [hasBulkActions]="hasBulkActions"
  [hasRowAction]="hasRowAction"
  [isFilterable]="!true"
  [isPageable]="true"
  (editableSaved)="editableSaved($event)"
  (bulkActionClicked)="bulkActionClicked($event)"
  (rowActionClicked)="rowActionClicked($event)"
  (exportActionClicked)="exportActionClicked($event)"
  (backendSqlFilter)="filter($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn = $event"
/>
