/* ==================================
          SECTION TABLES
   ================================== */

/*
  01- Main Style
*/
.table .thead-light th {
  background-color: #F2F4F6;
  color: #1F2937;
}

.table .thead-light th a {
  color: #1F2937;
}

.rounded-start {
  border-bottom-left-radius: 0.5rem !important;
  border-top-left-radius: 0.5rem !important;
}

.border-0 {
  border: 0 !important;
}

.rounded-end {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.actions-td-right {
  padding-right: 10px;
  padding-left: 10px;
  float: right;
}

/*
  01- End
*/

/*
  02- Pagination
*/

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #4B5563;
  border-color: #4B5563;
  color:#e0e4ea;
}

.pagination a {
    cursor: pointer;
}

/*
  02- End
*/
