<app-page-title [title]="'Cracks'" [subbutton]="false"></app-page-title>
<!-- Body -->
<app-table>
  <table class="table table-striped table-hover table-sm" #showcracks datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="showcracks">
    <thead class="thead-light">
      <tr>
        <th class="rounded-start">Time found</th>
        <th>Plaintext</th>
        <th>Hash</th>
        <th>Hashlist</th>
        <th>Agent</th>
        <th>Task</th>
        <th>Chunk</th>
        <th>Type</th>
        <th class="rounded-end">Salt</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hash of allhashes">
        <td>{{ hash.hashId }}</td>
        <td>{{ hash.plaintext }}</td>
        <td>{{ hash.hash }}</td>
        <td>
          <a [routerLink]="['/hashlists/hashlist/',hash.hashlist.hashlistId,'edit']" >{{ hash.hashlist.name }}</a>
        </td>
        <td>agent?</td>
        <td>taskid/taskname?</td>
        <td>{{ hash.chunkId }}</td>
        <td>type?</td>
        <td>{{ hash.salt }}</td>
    </tr>
    </tbody>
  </table>
</app-table>

