<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">Cracks</h2>
      <p class="mb-0">Section to view information about hashes.</p>
  </div>
</div>
<!-- Body -->
<div class="card border-0 shadow mb-4">
  <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="thead-light">
                <tr>
                  <th class="border-0 rounded-start">Time found</th>
                  <th class="border-0">Plaintext</th>
                  <th class="border-0">Hash</th>
                  <th class="border-0">Hashlist</th>
                  <th class="border-0">Agent</th>
                  <th class="border-0">Task</th>
                  <th class="border-0">Chunk</th>
                  <th class="border-0">Type</th>
                  <th  class="border-0 rounded-end">Salt</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let hash of allhashes">
                  <td>{{ hash.hashId }}</td>
                  <td>{{ hash.plaintext }}</td>
                  <td>{{ hash.hash }}</td>
                  <td>{{ hash.hashlistId }}</td>
                  <td>agent?</td>
                  <td>taskid/taskname?</td>
                  <td>{{ hash.chunkId }}</td>
                  <td>type?</td>
                  <td>{{ hash.salt }}</td>
              </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>


