<grid-main>

  <h2 class="h5 mb-4" *ngIf="whichView === 'chunks' || whichView === 'tasks' || whichView === 'hashlists'">
    Hashes of
    <ng-container [ngSwitch]="whichView">
      <ng-container *ngSwitchCase="'chunks'"> chunk </ng-container>
      <ng-container *ngSwitchCase="'tasks'"> task </ng-container>
      <ng-container *ngSwitchCase="'hashlists'"> hashlist </ng-container>
    </ng-container>
    <a [routerLink]="getRouterLink()">{{ titleName }}</a>
  </h2>

  <form [formGroup]="viewForm">
    <div fxLayout="row" fxLayoutGap="10px">

    <simulate-form-field label="Displaying:"  message="Hash + Plain" *ngIf="!displaying"></simulate-form-field>
    <simulate-form-field label="Displaying:"  message="{{ displayingDescr }}" *ngIf="displaying"></simulate-form-field>
    <simulate-form-field label="Filter:"  message="Cracked + Uncracked" *ngIf="!filtering"></simulate-form-field>
    <simulate-form-field label="Filter:"  message="{{ filteringDescr }}" *ngIf="filtering"></simulate-form-field>

    <input-select title="Display" formControlName="display" [items]="selectDisplays"></input-select>
    <input-select title="Filter" formControlName="filter" [items]="selectFilters"  *ngIf="whichView !== 'tasks'"></input-select>

    <grid-buttons>
      <button-submit name="Ok" (click)="onRefresh()"></button-submit>
    </grid-buttons>
  </div>
 </form>
</grid-main>
<app-hexconvertor></app-hexconvertor>
<!-- Matching Table Section -->
<app-table>
  <table style="width: 100%" class="table table-striped table-hover table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead class="thead-light">
        <tr>
          <th class="rounded-start rounded-end">Matching hashes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mh of matchHashes">
          <td>
              {{ mh | hashesf:displaying:filtering:crackPos }}
              <fa-icon
                      class='btn-outline-gray-600'
                      [copyButton]="mh | hashesf:displaying:filtering:crackPos"
              >
              faCopy
              </fa-icon>
          </td>
        </tr>
      </tbody>
  </table>
</app-table>


