<!-- Header Hashes views -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <div [ngSwitch]="whichView">
        <div *ngSwitchCase="'chunks-hashes'">
          <h2 class="h4">Hashes of chunk <b>Name</b></h2>
          <p class="mb-0">Manage and customize agent settings.</p>
        </div>
        <div *ngSwitchCase="'task-hashes'">
          <h2 class="h4">Hashes of task <b>Name</b></h2>
          <p class="mb-0">Manage and customize task and chunk settings.</p>
        </div>
        <div *ngSwitchCase="'hashlist-hashes'">
          <h2 class="h4">Hashes of hashlist <b>Name</b></h2>
          <p class="mb-0">Manage and customize Hashes, Cracks and Haslist settings.</p>
        </div>
      </div>
  </div>
</div>

<div class="card">
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th>Filter:</th>
        <td>
        </td>
      </tr>
      <tr>
        <th>Displaying:</th>
        <td>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="btn-toolbar my-1" style="justify-content: center; display: flex;">
            <div class='btn-group'>
              <button class='btn' onclick="window.location='hashes.php?[[src]]=[[srcId]]&filter=[[filtering]]&display=[[displaying]]&page=[[previousPage]]'">[[Util::calculate([[previousPage]]+1)]] &lt;</button>
              <button class='btn active'>Page [[Util::calculate([[currentPage]]+1)]]</button>
              <button class='btn' onclick="window.location='hashes.php?[[src]]=[[srcId]]&filter=[[filtering]]&display=[[displaying]]&page=[[nextPage]]'">&gt; [[Util::calculate([[currentPage]]+1)]]</button>
            </div>
          </div>
          <form class='form-inline my-1' style="justify-content: center; display: flex;" action='hashes.php' method='get'>
            <input type='hidden' name='[[src]]' value='[[srcId]]'>
            <select name='display' class='form-control' style='float: left;' title="Display Selection">
            </select>

            <input type="submit" class='form-control mx-1' value="OK">
          </form>
          <div class="my-1 text-center">

          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- Matching Table Section -->
<h3>Matching hashes: [[count]]</h3>
<div class="card">
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <td>
          <pre style='max-height: 400px;' readonly>[[output]]</pre>
        </td>
      </tr>
      <tr>
        <td>
          <script type='text/javascript'>
            function hex2a(hex) {
              var str = '';
              for (var i = 0; i < hex.length; i += 2) {
                str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));
              }
              return str;
            }
          </script>
          HEX convertor:
          <form class='form-inline' method='get'>
            $HEX[ <input type="text" class='form-control' id="conv" title="HEX Input"> ] ->
            <input type="text" class='form-control' id="convr" readonly title="Converted">&nbsp;
            <button class='btn' onclick="document.getElementById('convr').value=hex2a(document.getElementById('conv').value); return false;">Convert</button>
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
