<!-- Spinner Loading -->
<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<!-- Header -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">Supertask Details</h2>
  </div>
</div>
<!-- Body -->
<div class="container px-lg-5">
  <div class="row no-gutters">
      <div class="col-12 col-sm-6 col-md-8 align-items-center justify-content-left">
            <div class="layout-col shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-800">
                <form [formGroup]="viewForm">
                  <div class="row">
                    <div class="row g-3">
                      <div class="col-md-2">
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="getSupertaskId">SuperTask ID</label>
                                <input
                                      type='number'
                                      id="supertaskId"
                                      class='form-control'
                                      formControlName="supertaskId"
                                >
                            </div>
                            &nbsp;
                          </div>
                      </div>
                      <div class="col-md-10">
                          <div class="form-group">
                            <div class="form-outline">
                              <label class="form-label" for="getSupertaskName">Name</label>
                              <input
                                    type='text'
                                    id="supertaskName"
                                    class='form-control'
                                    formControlName="supertaskName"
                              >
                            </div>
                          </div>
                          &nbsp;
                      </div>
                    </div>
                  </div>
                  <a class="btn btn-gray-800" >Apply to Hashlist</a>
                  &nbsp;
                  <button  class="btn btn-danger" (ngSubmit)="onDelete()">Delete</button>
                  </form>
                  <hr>
                  <h5> Estimate Time
                  <fa-icon
                          placement="bottom"
                          ngbTooltip="The benchmark number to enter below is the total amount of hashes per second per attack type of all of the agents combined that will run the supertask."
                          container="body"
                          [icon]="faInfoCircle"
                          aria-hidden="true"
                  ></fa-icon>
                  </h5>
                  <form [formGroup]="etForm" (ngSubmit)="keyspaceTimeCalc()">
                  <div class="row">
                    <div class="col">
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                          <label class="form-label" for="setBenchmarka0">Benchmark for -a0 attacks</label>
                          <input
                                type='number'
                                id="benchmarka0"
                                class='form-control'
                                formControlName="benchmarka0"
                          >
                        </div>
                      </div>
                      &nbsp;
                    </div>
                    <div class="col">
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                          <label class="form-label" for="setBenchmarka3">Benchmark for -a3 attacks</label>
                          <input
                                type='number'
                                id="benchmarka3"
                                class='form-control'
                                formControlName="benchmarka3"
                          >
                          <pre></pre>
                          <button class="btn btn-gray-800 actions-td-right">Calculate Runtime</button>
                        </div>
                      </div>
                      &nbsp;
                    </div>
                  </div>
                  <div *ngIf="etForm.get('benchmarka0').value !== 0 && etForm.get('benchmarka3').value !== 0">
                    &nbsp;
                    <tr>
                      <th>
                        Estimated total runtime of supertask:
                      </th>
                      <td class="runtimeOfSupertask">
                      </td>
                    </tr>
                  </div>
              </form>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="layout-col shadow border-0 rounded p-4 w-100 fmxw-700">
          <h5>Add Pretask</h5>
          <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="form-group">
                <div class="form-outline">
                    <label class="form-label requiredak" for="getTasks">Select or search to assign pretasks</label>
                    <div class="input-group">
                      <span class="input-group-text" >
                        <fa-icon [icon]="faMagnifyingGlass" aria-hidden="true"></fa-icon>
                      </span>
                      <select
                            type='number'
                            id="pretasks"
                            class='form-select'
                            formControlName="pretasks"
                          >
                          <option [ngValue]=""></option>
                      </select>
                  </div>
                </div>
              </div>
              &nbsp;
            </div>
            <button class="btn btn-gray-800">Add</button>
          </form>
        </div>
      </div>
   </div>
</div>
<!--Table Pretasks part of the supertask -->
&nbsp;&nbsp;
<section>
<h4>Pretasks</h4>
<div class="table-responsive">
  &nbsp;
    <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger">
      <thead class="thead-light">
        <tr>
            <th class="border-0 rounded-start">ID</th>
            <th class="border-0">Name</th>
            <th class="border-0">Attack Command</th>
            <th class="border-0">Estimated Keyspace</th>
            <th class="border-0">Attack runtime</th>
            <th class="border-0 rounded-end">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="taskInSuper" *ngFor="let p of pretasks[0].matchObjectFiles">
          <td>
            <span [ngClass]="!p.color ? '' : 'pill-ebidem-tk'" [ngStyle]="{'background-color': p.color }">{{  p.pretaskId }}</span>
          </td>
          <td>
            {{ p.taskName | shortenString:35 | lowercase | titlecase }}
            <a class='btn-outline-gray-600 float-right' [routerLink]="['/tasks/preconfigured-tasks/', p.pretaskId, 'edit' ]">
              <fa-icon [icon]="faEye" aria-hidden="true" ></fa-icon>
            </a>
          </td>
          <td>{{ p.attackCmd }}</td>
          <td>{{ p.pretaskFiles | keyspace:'lineCount':p.attackCmd:false }}</td>
          <td class="attackRuntime"></td>
          <td>
            <a>
              <a class='btn-outline-gray-600 float-right' data-toggle="tooltip" data-placement="top" title="Delete">
              <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon></a>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
