<div class="dialog-title mat-elevation-z4 text-primary-300">
  @if (data.icon) {
    <mat-icon class="dialog-icon">{{ data.icon }}</mat-icon>
  }
  <span class="dialog-title-text">{{ data.title || 'Confirm' }}</span>
</div>
<div mat-dialog-content>
  @if (data.listAttribute && data.rows.length > 0) {
    <ul>
      @for (row of data.rows; track row) {
        <li>
          {{ row[data.listAttribute]
          }}
        </li>
      }
    </ul>
  }
  @if (data.body) {
    <p>{{ data.body }}</p>
  }
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button (click)="onNoClick()">
    {{ data.cancelLabel ? data.cancelLabel : 'Cancel' }}
  </button>
  <button
    mat-flat-button
    cdkFocusInitial
    [mat-dialog-close]="{ data: data.rows, action: data.action }"
    [color]="data.warn ? 'warn' : 'primary'"
    >
    {{ data.okLabel ? data.okLabel : 'Continue' }}
  </button>
</div>
