<h2 mat-dialog-title>
  @if (data.icon) {
    <mat-icon>{{ data.icon }}</mat-icon>
  }
  {{ data.title || 'Confirm' }}
</h2>
<mat-dialog-content>
  @if (data.listAttribute && data.rows.length > 0) {
    <ul>
      @for (row of data.rows; track $index) {
        <li>
          {{ $any(row)[data.listAttribute!] }}
        </li>
      }
    </ul>
  }
  @if (data.body) {
    <p>{{ data.body }}</p>
  }
</mat-dialog-content>
<mat-dialog-actions align="end" [class.dialog-actions--danger]="data.warn">
  <button-submit
    type="cancel-dialog"
    [name]="data.cancelLabel ? data.cancelLabel : 'Cancel'"
    (click)="onNoClick()"
  ></button-submit>
  <button
    mat-flat-button
    cdkFocusInitial
    [mat-dialog-close]="{ data: data.rows, action: data.action }"
    [color]="data.warn ? 'warn' : 'primary'"
  >
    {{ data.okLabel ? data.okLabel : 'Continue' }}
  </button>
</mat-dialog-actions>
