<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">User Yubikey</h2>
      <p class="mb-0">If you want to use a Yubikey to authentificate, you can customize your credentials below.</p>
  </div>
</div>
<!-- Body -->
<section>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-700">
                <form [formGroup]="updateForm" (ngSubmit)="onSubmit(u.userId)" *ngFor="let u of user">
                  <div class="row">
                        <div class="form-group">
                          <div class="form-outline">
                            <label class="form-label" for="yubikey_id">Yubikey Client ID</label>
                            <input
                                  type='number'
                                  id="yubikey"
                                  class='form-control'
                                  formControlName="yubikey"
                            >
                          </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                          <div class="form-outline">
                            <label class="form-label" for="yubikey_key">Yubikey Secret Key</label>
                            <input
                                  type='string'
                                  id="otp1"
                                  class='form-control'
                                  formControlName="otp1"
                            >
                          </div>
                        </div>
                        &nbsp;
                        <div class="form-group">
                          <div class="form-outline">
                            <label class="form-label" for="yubikey_key">Yubikey API URL</label>
                            <input
                                  type='string'
                                  id="otp2"
                                  class='form-control'
                                  formControlName="otp2"
                            >
                          </div>
                        </div>
                        &nbsp;
                  </div>
                  <button  class="btn btn-gray-800" type="submit">Update</button>
            </form>
    </div>
  </div>
</div>
