<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<!-- header -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">Edit Task</h2>
  </div>
</div>
<!-- Edit Task -->
  <div class="container px-lg-5">
    <div class="row no-gutters">
        <div class="col-6 col-sm-8 col-md-8 d-flex align-items-center justify-content-center">
            <div class="layout-col shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-600">
                <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="form-group">
                      <div class="form-outline">
                          <label class="form-label" for="gettaskid">ID</label>
                          <input
                                type='text'
                                id='taskId'
                                class='form-control'
                                formControlName="taskId"
                          >
                      </div>
                    </div>
                    &nbsp;
                    <div formGroupName="updateData">
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label requiredak" for="gettaskName">Name</label>
                            <input
                                  type='text'
                                  id='taskName'
                                  class='form-control'
                                  formControlName="taskName"
                            >
                        </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label requiredak" for="getAttackCmd">Attack command</label>
                            <textarea
                                  id='attackCmd'
                                  class='form-control'
                                  formControlName="attackCmd"
                            >
                            </textarea>
                        </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label" for="getnotes">Notes</label>
                            <textarea
                                  id='notes'
                                  class='form-control'
                                  formControlName="notes"
                            >
                            </textarea>
                        </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label" for="getcolor">Pick or enter color (identify tasks)</label>
                            <div class="input-group-text w-50 mx-auto">
                              <input
                                    type='text'
                                    class="form-control"
                                    [(colorPicker)]="color" cpWidth='230px' cpHeight="100px"
                                    [cpOKButton]="true"
                                    [cpSaveClickOutside]="false"
                                    [cpOKButtonClass]= "'btn btn-primary btn-xs'"
                                    (colorPickerChange)="OnChangeValue($event)"
                                    [style.background]="color"
                                    [value]="color"
                                    formControlName="color"
                                  />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          &nbsp;
                          <div class="form-group">
                            <div class="form-outline">
                                <label class="form-label" for="getPriority">Priority</label>
                                <td>
                                <input
                                      type='number'
                                      id='priority'
                                      class='form-control'
                                      formControlName="priority"
                                      validateInputNumber
                                  >
                            </div>
                          </div>
                          &nbsp;
                          </div>
                          <div class="col">
                            &nbsp;
                          <div class="form-group">
                            <div class="form-outline">
                                <label class="form-label" for="getMaxAgents">Max agents</label>
                                <td>
                                <input
                                      type='number'
                                      id='maxAgents'
                                      class='form-control'
                                      formControlName="maxAgents"
                                      validateInputNumber
                                  >
                            </div>
                          </div>
                          &nbsp;
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <div class="form-outline">
                                <label class="form-label" for="getstatusTimer">Status timer</label>
                                <td>
                                <input
                                      type='text'
                                      id='statusTimer'
                                      class='form-control'
                                      formControlName="statusTimer"
                                  >
                            </div>
                          </div>
                          &nbsp;
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <div class="form-outline">
                                <label class="form-label" for="getChunkTime">Chunk size (seconds)</label>
                                <td>
                                <input
                                      type='number'
                                      id='chunkTime'
                                      class='form-control'
                                      formControlName="chunkTime"
                                      validateInputNumber
                                >
                            </div>
                          </div>
                          &nbsp;
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <div class="form-outline">
                                <label class="form-label" for="getisCpuTask">CPU only</label>
                                <select
                                      id='isCpuTask'
                                      class='form-select'
                                      formControlName="isCpuTask"
                                  >
                                  <option [ngValue]="false">No</option>
                                  <option [ngValue]="true">Yes</option>
                                </select>
                            </div>
                          </div>
                          &nbsp;
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <div class="form-outline">
                                <label class="form-label" for="getisSmall">Small task</label>
                                <select
                                      id='isSmall'
                                      class='form-select'
                                      formControlName="isSmall"
                                  >
                                  <option [ngValue]="false">No</option>
                                  <option [ngValue]="true">Yes</option>
                                </select>
                              </div>
                            </div>
                            &nbsp;
                          </div>
                        </div>
                      </div>
                    </div>
                  <button class="btn btn-gray-800" type="submit">Update</button>
            </form>
         </div>
      </div>
      <div class="col-12 col-sm-8 col-md-4 d-flex">
        <div class="layout-col shadow border-0 rounded p-4 w-100 fmxw-500">
          <h4>Task Information</h4>
          &nbsp;
          <form [formGroup]="updateForm">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="form-outline">
                    <label class="form-label" for="getchunkSize">No. of Chunks</label>
                    <input
                          type='text'
                          id='chunkSize'
                          class='form-control'
                          formControlName="chunkSize"
                    >
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <div class="form-outline">
                    <label class="form-label" for="getforcePipe">Enforce Piping</label>
                    <input
                          type='text'
                          id='forcePipe'
                          class='form-control'
                          formControlName="forcePipe"
                      >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              &nbsp;
              <div class="form-group">
                <div class="form-outline">
                    <label class="form-label" for="getSkipKeyspace">Skipping keyspace</label>
                    <input
                          type='text'
                          id='skipKeyspace'
                          class='form-control'
                          formControlName="skipKeyspace"
                      >
                </div>
              </div>
            </div>
            <div class="col">
              &nbsp;
              <div class="form-group">
                <div class="form-outline">
                    <label class="form-label" for="getKeyspace">Keyspace size</label>
                    <input
                          type='text'
                          id='keyspace'
                          class='form-control'
                          formControlName="keyspace"
                      >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              &nbsp;
              <div class="form-group">
                <div class="form-outline">
                    <label class="form-label" for="getKeyspace">Keyspace dispatched</label>
                    <input
                          type='text'
                          id='keyspaceProgress'
                          class='form-control'
                          formControlName="keyspaceProgress"
                      >
                </div>
              </div>
              &nbsp;
            </div>
            <div class="col">
              &nbsp;
              <div class="form-group">
                <div class="form-outline">
                    <label class="form-label" for="getKeyspace">Keyspace Searched</label>
                    <div *ngIf="tkeyspace > 0 || (tusepreprocessor && cprogress > 0); else templateNA">
                      <span class="pre input-group-text input-group-lg">
                        <td>
                         {{ cprogress / tkeyspace | percent }}
                        </td>
                      </span>
                    </div>
                    <ng-template #templateNA>
                      <span class="pre input-group-text input-group-lg">
                        <td>
                          N/A
                        </td>
                      </span>
                    </ng-template>
                </div>
              </div>
              &nbsp;
            </div>
          </div>
          <hr>
          <div class="row">
            <h5>
              Calculations
            </h5>
            <div class="col">
              <div class="form-group">
                <div class="form-outline">
                    <label class="form-label" for="getKeyspace">Time spent</label>
                    <td>
                    <span class="pre input-group-text input-group-lg" *ngIf="ctimespent">
                      <td>
                          {{ ctimespent | sectotime }}
                      </td>
                    </span>
                </div>
              </div>
              &nbsp;
            </div>
            <div class="col">
              <div class="form-group">
                <div class="form-outline">
                    <label class="form-label" for="getKeyspace">E.T.</label>
                    <div *ngIf="tkeyspace != 0 && (cprogress/tkeyspace) != 0; else templatedash">
                      <span class="pre input-group-text input-group-lg">
                        <td>
                         {{ (ctimespent/(cprogress/tkeyspace)-ctimespent) | percent }}
                        </td>
                      </span>
                    </div>
                    <ng-template #templatedash>
                      <span class="pre input-group-text input-group-lg">
                        <td>
                          ---
                        </td>
                      </span>
                    </ng-template>
                </div>
              </div>
              &nbsp;
            </div>
            <div class="col">
              <div class="form-group">
                <div class="form-outline">
                    <label class="form-label" for="getKeyspace">Speed</label>
                    <span class="pre input-group-text input-group-lg" *ngIf="currenspeed">
                      <td>
                          {{ currenspeed | fileSize:false }}H/s
                      </td>
                    </span>
                </div>
              </div>
              &nbsp;
            </div>
          </div>
          <hr>
          <div class="form-group">
            <div *ngFor="let h of hashL" class="form-outline">
                <label *ngIf="h.hashlist.format ===0" class="form-label" for="getTaskId">Hashlist</label>
                <label *ngIf="h.hashlist.format ===3" class="form-label" for="getTaskId">Superhaslist</label>
                <td>
                  <fa-icon [icon]="faEye" [routerLink]="['/hashlists/hashlist', h.hashlist.hashlistId,'edit']" aria-hidden="true" class="gray-light-ico"></fa-icon>
                  {{ h.hashlist.name }} {{ h[0].description }}
            </div>
          </div>
          &nbsp;
          <div class="form-group">
            <div class="form-outline">
              <div *ngIf="crackerinfo">
                <h5>
                   Cracker Information
                  <fa-icon [icon]="faEye" [routerLink]="['/config/engine/crackers/', crackerinfo['crackerBinaryId'],'edit']" aria-hidden="true" class="gray-light-ico"></fa-icon>
                </h5>
                  <small>Name</small>: {{ crackerinfo['binaryName'] | lowercase | titlecase }}<br>
                  <small>Version</small>: {{ crackerinfo['version'] }}
                </div>
            </div>
            &nbsp;
          </div>
         </form>
         <hr>
         <div *ngIf="tkeyspace > 0">
         <h5>Visual Representation</h5>

         </div>
        </div>
      </div>
   </div>
</div>
<!-- Attached Files -->
&nbsp;&nbsp;
<section>
<h2>Attached Files</h2>
<div class="table-responsive">
  &nbsp;
    <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions[0]">
      <thead class="thead-light">
        <tr>
            <th class="border-0 rounded-start">ID</th>
            <th class="border-0">File Name</th>
            <th class="border-0 rounded-end">Size</th>
        </tr>
        </thead>
        <tbody>
        <tr>

        </tr>
      </tbody>
    </table>
</div>
<!-- Task speed -->
<div>&nbsp;&nbsp;
  <h2>Task Speed</h2>
  <div class="row">
    <div class="col col-12">
      <div id="tspeed" style="height: 310px;"></div>
    </div>
  </div>
</div>
<!-- Assigned Agents -->
&nbsp;&nbsp;
<h2>Assigned agents</h2>
<div class="table-responsive">
  &nbsp;
    <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions[1]">
      <thead class="thead-light">
        <tr>
            <th class="border-0 rounded-start">ID</th>
            <th class="border-0">Name</th>
            <th class="border-0">Benchmark</th>
            <th class="border-0">Keyspace searched</th>
            <th class="border-0">Time spent</th>
            <th class="border-0">Cracked</th>
            <th class="border-0">Last activity</th>
            <th class="border-0 rounded-end">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr >

        </tr>
      </tbody>
    </table>
</div>
<!-- Dispatched Chunks -->
&nbsp;&nbsp;
<h2>Dispatched chunks</h2>
<div [ngSwitch]="chunkview">
  <div *ngSwitchCase="0">
    <h5>Show Live Chunks</h5>
    <button [routerLink]="['/tasks/show-tasks',editedTaskIndex,'edit','show-100-chunks']" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">Show Latest 100</button>
    <button [routerLink]="['/tasks/show-tasks',editedTaskIndex,'edit','show-all-chunks']" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">Show All</button>
  </div>
  <div *ngSwitchCase="1">
    <h5>Show Latest 100 Chunks</h5>
    <button [routerLink]="['/tasks/show-tasks',editedTaskIndex,'edit']" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">Show Live</button>
    <button [routerLink]="['/tasks/show-tasks',editedTaskIndex,'edit','show-all-chunks']" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">Show All</button>
  </div>
  <div *ngSwitchCase="2">
    <h5>Show All Chunks</h5>
    <button [routerLink]="['/tasks/show-tasks',editedTaskIndex,'edit']" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">Show Live</button>
    <button [routerLink]="['/tasks/show-tasks',editedTaskIndex,'edit','show-100-chunks']" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">Show Latest 100</button>
  </div>
</div>
<div class="table-responsive">
  &nbsp;
    <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions[2]" [dtTrigger]="dtTrigger">
      <thead class="thead-light">
        <tr>
          <th class="border-0 rounded-start">ID</th>
          <th class="border-0">Start</th>
          <th class="border-0">Length</th>
          <th class="border-0">Checkpoint</th>
          <th class="border-0">Progress</th>
          <th class="border-0">Agent</th>
          <th class="border-0">Dispatch time</th>
          <th class="border-0">Last activity</th>
          <th class="border-0">Time spent</th>
          <th class="border-0">State</th>
          <th class="border-0">Cracked</th>
          <th class="border-0 rounded-end">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let gc of getchunks">
          <td>{{ gc.chunkId }}</td>
          <td>{{ gc.skip }}</td>
          <td>{{ gc.length }}</td>
          <td>{{ gc.checkpoint }} ({{ (gc.checkpoint-gc.skip)/gc.length | percent }})</td>
          <td *ngIf="gc.progress > 0">{{ gc.progress/100 }} %</td>
          <td *ngIf="!gc.progress">N/A</td>
          <td>
            {{ gc.agentName | shortenString:15 | lowercase | titlecase }}
            <a class='btn-outline-gray-600 float-right' [routerLink]="['/agents/show-agents',gc.agentId,'edit']" title="Edit Hashlist">
              <fa-icon [icon]="faEye" aria-hidden="true"></fa-icon>
            </a>
          </td>
          <td>{{ gc.dispatchTime*1000 | date: uidateformat }}</td>
          <td *ngIf="gc.solveTime === 0">(No acitivity)</td>
          <td *ngIf="gc.solveTime > 0"> {{ gc.solveTime*1000 | date: uidateformat }} </td>
          <td>{{ (gc.solveTime - gc.dispatchTime) | sectotime }}</td>
          <td>{{ gc.state | staticArray:'states' }}</td>
          <td>{{ gc.cracked }}</td>
          <td>
            <a>
              <a class='btn-outline-gray-600 float-right' data-toggle="tooltip" data-placement="top" title="Reset Chunk" (click)="onReset(gc.chunkId)">
              <fa-icon [icon]="faEraser" aria-hidden="true"></fa-icon></a>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
</section>
