<grid-main>
  <app-page-subtitle [subtitle]="'Edit Task'"></app-page-subtitle>
  <form [formGroup]="updateForm">

        <input-text title="ID" formControlName="taskId" [disabled]="true"></input-text>

        <div formGroupName="updateData" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

          <input-text title="Name" formControlName="taskName"></input-text>
          <input-color title="Color" formControlName="color"></input-color>

        </div>

        <div formGroupName="updateData">

          <input-text-area title="Attack command" formControlName="attackCmd"></input-text-area>
          <!-- <blacklist-attack [value]="updateForm.get('attackCmd').value"></blacklist-attack> -->

        </div>

        <div formGroupName="updateData" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

          <input-text-area title="Notes" formControlName="notes"></input-text-area>
          <input-number title="Priority" formControlName="priority"></input-number>
          <input-number title="Status timer" formControlName="statusTimer"></input-number>
          <input-number title="Max agents" formControlName="maxAgents"></input-number>
          <input-number title="Chunk size" formControlName="chunkTime"></input-number>
          <input-check title="CPU only" formControlName="isCpuTask"></input-check>
          <input-check title="Small task" formControlName="isSmall"></input-check>

        </div>

    <grid-buttons>
      <button-submit name="Purge" type="cancel" (click)="purgeTask()"></button-submit>
      <button-submit [name]="'Update'" (click)="onSubmit()"></button-submit>
    </grid-buttons>
  </form>
</grid-main>
<!-- Task Information -->
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span><b>Task Information</b></span>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <form [formGroup]="updateForm" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

            <input-text title="No. of Chunks" formControlName="chunkSize" [disabled]="true"></input-text>
            <input-text title="Enforce Piping" formControlName="forcePipe" [disabled]="true"></input-text>
            <input-text title="Skipping keyspace" formControlName="skipKeyspace" [disabled]="true"></input-text>
            <input-text title="Keyspace size" formControlName="keyspace" [disabled]="true"></input-text>
            <input-text title="Keyspace dispatched" formControlName="keyspaceProgress" [disabled]="true"></input-text>

            <simulate-form-field *ngIf=" tkeyspace > 0 || (tusepreprocessor && cprogress > 0); else templatekeysearch" label="Keyspace Searched"  message="{{ cprogress / tkeyspace | percent: '1.2-2' }}"></simulate-form-field>
            <ng-template #templatekeysearch>
              <simulate-form-field label="Keyspace Searched"  message="N/A"></simulate-form-field>
            </ng-template>

            <!-- Calculations -->

            <simulate-form-field *ngIf="ctimespent; else templatetimespent" label="Time spent"  message="{{ editedTaskIndex | ttimespent: false : true | async | sectotime}}"></simulate-form-field>
            <ng-template #templatetimespent>
              <simulate-form-field label="Time spent"  message="---"></simulate-form-field>
            </ng-template>

            <simulate-form-field *ngIf=" tkeyspace !== 0 && cprogress / tkeyspace !== 0; else templatet" label="E.T."  message="{{ctimespent / (cprogress / tkeyspace) - ctimespent | sectotime }}"></simulate-form-field>
            <ng-template #templatet>
              <simulate-form-field label="E.T."  message="---"></simulate-form-field>
            </ng-template>


            <simulate-form-field *ngIf="currenspeed; else templatespeed" label="Speed"  message="{{ currenspeed | fileSize: false }}H/s"></simulate-form-field>
            <ng-template #templatespeed>
              <simulate-form-field label="Speed"  message="---"></simulate-form-field>
            </ng-template>

            <!-- Hashlist and Cracker Information -->

            <simulate-form-field [label]="hashlistinform.format === 0 ? 'Hashlist' : hashlistinform.format === 3 ? 'SuperHashlist' : 'Hashlist not found' " message="{{ hashlistinform.name }} / {{ hashlistDescrip }}"  [routerLink]="'/hashlists/hashlist'+hashlistinform.hashlistId+'/edit'"></simulate-form-field>

            <simulate-form-field *ngIf="crackerinfo; else templatecrackerinfo" label="Cracker Information" message="{{ crackerinfo['binaryName'] }} - {{ crackerinfo['version'] }}"  [routerLink]="'/config/engine/crackers/'+crackerinfo['crackerBinaryId']+'/edit'"></simulate-form-field>
            <ng-template #templatecrackerinfo>
              <simulate-form-field label="Cracker Information"  message="Unavailable"></simulate-form-field>
            </ng-template>

      </form>
    </mat-expansion-panel>
  </mat-accordion>
<!-- TABLE Attached Files -->
<!-- <ngb-accordion #acc="ngbAccordion" *ngIf="getFiles.length > 0"> -->
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span><b>Files</b></span>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <files-table [hasBulkActions]="false" [isSelectable]="false" [hasRowAction]="false" [editIndex]="editedTaskIndex" [editType]="0"></files-table>
  </mat-expansion-panel>
</mat-accordion>
<!-- Graph Visual  -->
<app-table *ngIf="tkeyspace > 0">
  <app-page-subtitle [subtitle]="'Visual Graph'"></app-page-subtitle>
  <task-visual
    [view]="'task'"
    [tkeyspace]="tkeyspace"
    [cprogress]="cprogress"
    [taskid]="editedTaskIndex"
    [taskWrapperId]="taskWrapperId"
    [tusepreprocessor]="tusepreprocessor"
  ></task-visual>
</app-table>
<!-- TABLE Attached Assigned Agents -->
<app-table *ngIf="editedTaskIndex">
  <app-page-subtitle
    subtitle="Assigned agents"
    actionTitle="Assign Agents"
    actionIcon="add"
    (actionClicked)="assignAgents()"></app-page-subtitle>
  <agents-table
    name="assignedAgentsTable"
    [taskId]="editedTaskIndex"
    [hasBulkActions]="false"
    [isSelectable]="false"
    [isFilterable]="false"
  ></agents-table>

  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><b>Assing</b></span>
      </ng-template>
      <ng-template ngbPanelContent>
        <form [formGroup]="createForm">
          <grid-form-input>
            <select
              type="text"
              id="agentId"
              class="form-select"
              formControlName="agentId"
            >
              <option *ngFor="let aval of availAgents" [ngValue]="aval.agentId">
                {{ aval.agentName }}
              </option>
            </select>
          </grid-form-input>
          <button-submit
            (click)="assignAgents()"
            [name]="'Assign'"
          ></button-submit>
        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</app-table>
<!-- Task speed -->
<div>
  <app-table>
    <app-page-subtitle [subtitle]="'Task Speed'"></app-page-subtitle>
    <div id="tspeed" style="height: 310px"></div>
  </app-table>
<!-- Dispatched Chunks -->
  <app-table>
    <app-page-subtitle
      [subtitle]="'Dispatched chunks - ' + chunktitle + ''"
    ></app-page-subtitle>

    <div class="table-responsive">
      <table
        style="width: 100%"
        class="table table-striped table-hover table-sm"
        #tasksdispchunks
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        id="tasksdispchunks"
      >
        <thead class="thead-light">
          <tr>
            <th class="rounded-start">ID</th>
            <th>Start</th>
            <th>Length</th>
            <th>Checkpoint</th>
            <th>Progress</th>
            <th>Agent</th>
            <th>Dispatch time</th>
            <th>Last activity</th>
            <th>Time spent</th>
            <th>State</th>
            <th>Cracked</th>
            <th class="rounded-end">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let gc of getchunks">
            <td>
              {{ gc.chunkId }}
              <!-- <app-active-spinner *ngIf="(gc.state | staticArray:'states') === 'Running'"></app-active-spinner> -->
            </td>
            <td>{{ gc.skip }}</td>
            <td>{{ gc.length }}</td>
            <td>
              {{ gc.checkpoint }} ({{
                (gc.checkpoint - gc.skip) / gc.length | percent: '1.2-2'
              }})
            </td>
            <td *ngIf="gc.progress > 0">{{ gc.progress / 100 }} %</td>
            <td *ngIf="!gc.progress">N/A</td>
            <td>
              <a [routerLink]="['/agents/show-agents', gc.agentId, 'edit']">
                {{ gc.agentName | shortenString: 15 }}</a
              >
            </td>
            <td>{{ gc.dispatchTime | uiDate }}</td>
            <td *ngIf="gc.solveTime === 0">(No acitivity)</td>
            <td *ngIf="gc.solveTime > 0">{{ gc.solveTime | uiDate }}</td>
            <td>{{ gc.solveTime - gc.dispatchTime | sectotime }}</td>
            <td>
              <span
                class="ui-label-inner inline-flex whitespace-nowrap items-center px-2 py-0.5 rounded-md text-xs font-medium text-white capitalize badge my-0"
                style="{{
                  'background-color:' + (gc.state | staticArray: 'statescolor')
                }}"
              >
                {{ gc.state | staticArray: 'states' }}
              </span>
            </td>
            <td>{{ gc.cracked }}</td>
            <td>
              <button
                class="navbar-toggler btn-outline-gray-600 float-right"
                data-toggle="tooltip"
                data-placement="top"
                title="Reset Chunk"
                (click)="onReset(gc.chunkId, gc.state)"
              >
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-table>
</div>
