<grid-main>
  <app-page-subtitle [subtitle]="'Edit Task'"></app-page-subtitle>
  <form [formGroup]="updateForm">

        <input-text title="ID" formControlName="taskId" [disabled]="true"></input-text>

        <div formGroupName="updateData" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

          <input-text title="Name" formControlName="taskName"></input-text>
          <input-color title="Color" formControlName="color"></input-color>

        </div>

        <div formGroupName="updateData" fxLayoutGap="10px">

          <input-text-area title="Attack command" formControlName="attackCmd"></input-text-area>
          <!-- <blacklist-attack [value]="updateForm.get('attackCmd').value"></blacklist-attack> -->
          <input-text-area title="Notes" formControlName="notes"></input-text-area>

        </div>

        <div formGroupName="updateData" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

          <input-number title="Priority" formControlName="priority"></input-number>
          <input-number title="Status timer" formControlName="statusTimer"></input-number>
          <input-number title="Max agents" formControlName="maxAgents"></input-number>
          <input-number title="Chunk size" formControlName="chunkTime"></input-number>
          <input-check title="CPU only" formControlName="isCpuTask"></input-check>
          <input-check title="Small task" formControlName="isSmall"></input-check>

        </div>

    <grid-buttons>
      <button-submit name="Purge" type="cancel" (click)="purgeTask()"></button-submit>
      <button-submit [name]="'Update'" (click)="onSubmit()"></button-submit>
    </grid-buttons>
  </form>
<!-- Task Information -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span><b>Task Information</b></span>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <form [formGroup]="updateForm" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

          <input-text title="No. of Chunks" formControlName="chunkSize" [disabled]="true"></input-text>
          <input-text title="Enforce Piping" formControlName="forcePipe" [disabled]="true"></input-text>
          <input-text title="Skipping keyspace" formControlName="skipKeyspace" [disabled]="true"></input-text>
          <input-text title="Keyspace size" formControlName="keyspace" [disabled]="true"></input-text>
          <input-text title="Keyspace dispatched" formControlName="keyspaceProgress" [disabled]="true"></input-text>

          <simulate-form-field *ngIf=" tkeyspace > 0 || (tusepreprocessor && cprogress > 0); else templatekeysearch" label="Keyspace Searched"  message="{{ cprogress / tkeyspace | percent: '1.2-2' }}"></simulate-form-field>
          <ng-template #templatekeysearch>
            <simulate-form-field label="Keyspace Searched"  message="N/A"></simulate-form-field>
          </ng-template>

          <!-- Calculations -->

          <simulate-form-field *ngIf="ctimespent; else templatetimespent" label="Time spent"  message="{{ editedTaskIndex | ttimespent: false : true | async | sectotime}}"></simulate-form-field>
          <ng-template #templatetimespent>
            <simulate-form-field label="Time spent"  message="---"></simulate-form-field>
          </ng-template>

          <simulate-form-field *ngIf=" tkeyspace !== 0 && cprogress / tkeyspace !== 0; else templatet" label="E.T."  message="{{ctimespent / (cprogress / tkeyspace) - ctimespent | sectotime }}"></simulate-form-field>
          <ng-template #templatet>
            <simulate-form-field label="E.T."  message="---"></simulate-form-field>
          </ng-template>


          <simulate-form-field *ngIf="currenspeed; else templatespeed" label="Speed"  message="{{ currenspeed | fileSize: false }}H/s"></simulate-form-field>
          <ng-template #templatespeed>
            <simulate-form-field label="Speed"  message="---"></simulate-form-field>
          </ng-template>

          <!-- Hashlist and Cracker Information -->

          <simulate-form-field [label]="hashlistinform.format === 0 ? 'Hashlist' : hashlistinform.format === 3 ? 'SuperHashlist' : 'Hashlist not found' " message="{{ hashlistinform.name }} / {{ hashlistDescrip }}"  [routerLink]="'/hashlists/hashlist'+hashlistinform.hashlistId+'/edit'"></simulate-form-field>

          <simulate-form-field *ngIf="crackerinfo; else templatecrackerinfo" label="Cracker Information" message="{{ crackerinfo['binaryName'] }} - {{ crackerinfo['version'] }}"  [routerLink]="'/config/engine/crackers/'+crackerinfo['crackerBinaryId']+'/edit'"></simulate-form-field>
          <ng-template #templatecrackerinfo>
            <simulate-form-field label="Cracker Information"  message="Unavailable"></simulate-form-field>
          </ng-template>

        </form>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span><b>Files</b></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
          <files-table [hasBulkActions]="false" [isSelectable]="false" [hasRowAction]="false" [editIndex]="editedTaskIndex" [editType]="0"></files-table>
      </mat-expansion-panel>
  </mat-accordion>
</grid-main>
<!-- Graph Visual  -->
<div *ngIf="tkeyspace > 0" class="card shadow">
  <div class="card-body table-responsive" style="overflow-x: auto;">
    <app-page-subtitle [subtitle]="'Visual Graph'"></app-page-subtitle>
    <task-visual
      [view]="'task'"
      [tkeyspace]="tkeyspace"
      [cprogress]="cprogress"
      [taskid]="editedTaskIndex"
      [taskWrapperId]="taskWrapperId"
      [tusepreprocessor]="tusepreprocessor"
    ></task-visual>
  </div>
</div>
<!-- Assigned Agents -->
<app-table *ngIf="editedTaskIndex">
  <app-page-subtitle subtitle="Assigned agents"></app-page-subtitle>
  <form [formGroup]="createForm">
    <mat-form-field>
      <mat-label>Assign Agents</mat-label>
      <mat-select formControlName="agentId">
        <mat-option *ngFor="let aval of availAgents" [value]="aval.agentId">
          {{ aval.agentName }}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="availAgents.length === 0">No agents available</mat-hint>
      <mat-hint *ngIf="availAgents.length > 0">{{ availAgents.length }} agent(s) available</mat-hint>

      <!-- Add button -->
      <button mat-icon-button matSuffix (click)="assignAgent()" [attr.aria-label]="'Assign new Agent'">
        <mat-icon>add</mat-icon>
      </button>

      <!-- Reload button -->
      <button mat-icon-button matSuffix (click)="assingAgentInit()" [attr.aria-label]="'Reload Table'">
        <mat-icon>autorenew</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <agents-table name="assignedAgentsTable" datatype="agents-assign" [taskId]="editedTaskIndex" [assignAgents]="true"></agents-table>
</app-table>
<!-- Task speed -->
<app-table>
  <app-page-subtitle [subtitle]="'Task Speed'"></app-page-subtitle>
  <div id="tspeed" style="height: 310px"></div>
</app-table>
<!-- Dispatched Chunks -->
<app-table>
  <app-page-subtitle [subtitle]="'Dispatched chunks - ' + chunktitle + ''"></app-page-subtitle>
  <mat-slide-toggle #slideToggle (change)="toggleIsAll($event)">
    {{ chunkview === 1 ? 'Live Chunks' : 'Show All' }}
  </mat-slide-toggle>
  <br /><br />
  <tasks-chunks-table [taskId]="editedTaskIndex" [isChunksLive]="chunkview"></tasks-chunks-table>
</app-table>

