<div class="login-container">
  <mat-card class="login-card">
    <div class="login-logo-container">
      <a routerLink="/"
        ><img
          [src]="
            isDarkMode ? headerConfig.brand.logored : headerConfig.brand.logo
          "
          [alt]="headerConfig.brand.name"
          [width]="90"
          [height]="90"
          alt="Hashtopolis"
      /></a>
    </div>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="card-login-field">
          <mat-label>Username</mat-label>
          <mat-icon matPrefix>account_circle</mat-icon>
          <input
                matInput
                type="text"
                placeholder="User Name"
                formControlName="username"
                aria-describedby="username-error"
                />
          <mat-hint *ngIf="loginForm.controls['username'].errors">User Name is required</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="card-login-field">
          <mat-label>Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input
            matInput
            type="{{ isVisible ? 'password' : 'text' }}"
            placeholder="Password"
            formControlName="password"
            (keydown.enter)="$event.preventDefault(); onSubmit()"
            aria-describedby="password-error"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="isVisible = !isVisible"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="isVisible"
          >
            <mat-icon>{{
              isVisible ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>
          <mat-hint *ngIf="loginForm.controls['password'].errors">Password is required</mat-hint>
        </mat-form-field>

        <grid-buttons>
          <button-submit [name]="'Login'"></button-submit>
          <div *ngIf="isLoading">
            <mat-spinner diameter="24" color="accent"></mat-spinner>
          </div>
        </grid-buttons>

        <div class="forgot-password-link">
          <a routerLink="forgot">Forgot your password?</a>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

  <fixed-alert message="This is a private closed system. If you need access, you need to contact an admin."></fixed-alert>

</div>
