<mat-card>
  <mat-card-title>Login</mat-card-title>
  <h6>Enter your credentials to access.</h6>
  <mat-card-content>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" class="mt-5">
      <p>
        <mat-form-field class="form-group mb-0">
          <mat-label>User Name</mat-label>
          <mat-icon matSuffix aria-hidden="true" class="input-icon">
            <fa-icon [icon]="faUser" aria-hidden="true"></fa-icon>
          </mat-icon>
          <input type="text" matInput id="inputUsername" placeholder="User Name" ngModel name="username" autocomplete="on" autofocus required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="form-group">
          <mat-label>Password</mat-label>
          <mat-icon matSuffix aria-hidden="true" class="input-icon">
            <fa-icon [icon]="faLock" aria-hidden="true"></fa-icon>
          </mat-icon>
          <input [type]="showPasswordOnPress ? 'text' : 'password'" matInput class="pwd-control" id="inputPassword" placeholder="Enter Password" ngModel name="password" autocomplete="on" required>
          <div
            (mousedown)="showPasswordOnPress = !showPasswordOnPress"
            (mouseup)="showPasswordOnPress = !showPasswordOnPress"
          >
            <fa-icon alt="show" [icon]="faEye" aria-hidden="true" *ngIf="showPasswordOnPress" class="layout-col"></fa-icon>
            <fa-icon alt="hide" [icon]="faEyeSlash" aria-hidden="true" *ngIf="!showPasswordOnPress" class="layout-col"></fa-icon>
          </div>
        </mat-form-field>
      </p>

      <button-submit name="Sign in"></button-submit>
      <div class="d-flex justify-content-between align-items-top mb-0">
        <div></div>
        <div><a routerLink="forgot" class="small text-right">Forgot your password?</a></div>
      </div>

      <mat-card class="mat-card-alert">
        <mat-card-content>
          <div class="row justify-content-center">
            <div class="alert alert-secondary alert-dismissible col-md-8 text-center">
              This is a private closed system. If you need access, you need to contact an admin.
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </form>
  </mat-card-content>

</mat-card>


