<mat-form-field>
  <mat-label>{{ title }}</mat-label>
  <div [class.is-invalid]="error">
    <input
      #inputField="ngModel"
      matInput type="number"
      [min]="min"
      [max]="max"
      [id]="inputId"
      [(ngModel)]="value"
      (change)="onChange(value)"
      [required]="isRequired"
      [class.is-invalid]="error"
      [disabled]="disabled"
      >
  </div>
  @if (inputField.errors && (inputField.dirty || inputField.touched)) {
    <mat-error>
      @if (inputField.errors.required) {
        <span>{{ title }} is required</span>
      }
      @if (inputField.errors.min) {
        <span>Value cannot be less than {{ min }}</span>
      }
      @if (inputField.errors.max) {
        <span>Value cannot be greater than {{ max }}</span>
      }
    </mat-error>
  }
</mat-form-field>
