<ht-table #table [name]="name" [columnLabels]="columnLabels" [dataType]="datatype" [dataSource]="dataSource"
    [tableColumns]="tableColumns" [isSelectable]="isSelectable" [isFilterable]="isFilterable"
    [contextMenuService]="contextMenuService" filterMode="client" (editableSaved)="editableSaved($event)"
    [isPageable]="false" [isDetailPage]="true" (bulkActionClicked)="bulkActionClicked($event)"
    (rowActionClicked)="rowActionClicked($event)" (exportActionClicked)="exportActionClicked($event)"
 />