<grid-main>
  <app-page-subtitle [subtitle]="'Create New User'"></app-page-subtitle>

  <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
        <input-text title="Username" formControlName="username" [isRequired]="true"></input-text>
        <input-text title="Email" formControlName="email" [isRequired]="true"></input-text>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div style="padding-bottom: 16px; width: 100%;">
          <input-select
            [isLoading]="loadingPermissionGroups"
            title="Global Permission Group"
            formControlName="globalPermissionGroupId"
            [items]="selectGlobalPermissionGroups"
            [isRequired]="true"
          ></input-select>
          <input-check title="Active" formControlName="isValid"></input-check>
        </div>

    </div>

    <grid-buttons>
      <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
      <button-submit
        data-testid="submit-button"
        appLoadingButton
        [loading]="loading"
        [name]="loading ? 'Processing...' : 'Create'"
        [disabled]="!newUserForm.valid"
      ></button-submit>
      @if (loading) {
        <div style="display: inline-block; margin-left: 10px">
          <mat-spinner diameter="24" color="accent"></mat-spinner>
        </div>
      }
    </grid-buttons>
  </div>
  </form>
</grid-main>
