<app-page title="Create New User">
  <grid-main [narrow]="true">
    <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
      <input-text title="Username" formControlName="username" [isRequired]="true"></input-text>
      <input-text title="Email" formControlName="email" [isRequired]="true"></input-text>

      <input-select
        [isLoading]="loadingPermissionGroups"
        title="Global Permission Group"
        formControlName="globalPermissionGroupId"
        [items]="selectGlobalPermissionGroups"
        [isRequired]="true"
      ></input-select>
      <input-check title="Active" formControlName="isValid"></input-check>

      <grid-buttons>
        <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
        <button-submit
          data-testid="submit-button"
          [loading]="loading"
          [name]="loading ? 'Processing...' : 'Create'"
          [disabled]="false"
        ></button-submit>
      </grid-buttons>
      @if (newUserForm.invalid && newUserForm.touched) {
        <span class="text-sm text-destructive" data-testid="form-validation-error"
          >Please complete all required fields!</span
        >
      }
    </form>
  </grid-main>
</app-page>
