<app-page-subtitle [subtitle]="'Edit Binary Version'"></app-page-subtitle>
<!-- Body -->
<grid-main [class]="'width:100%;'" [centered]="true">
  <form [formGroup]="updateForm">
    <div class="row">
    <grid-form-input [name]="'Binary Base Name'">
      <input
            type='text'
            id="binaryName"
            class='form-control'
            formControlName="binaryName"
      >
    </grid-form-input>
    <grid-form-input [name]="'Binary Version'">
      <input
            type='text'
            id="version"
            class='form-control'
            formControlName="version"
    >
    </grid-form-input>
    <grid-form-input [name]="'Download URL'">
      <div class="input-group">
        <span class="input-group-text">
          <fa-icon [icon]="faDownload" aria-hidden="true"></fa-icon>
        </span>
        <input
                type='text'
                id="downloadUrl"
                class='form-control'
                formControlName="downloadUrl"
        >
      </div>
    </grid-form-input>
    <div>
      <grid-buttons>
        <button-submit name="Delete" (click)="onDelete()" [disabled]="false" type="delete"></button-submit>
        <button-submit [name]="'Update'" (click)="onSubmit()"></button-submit>
      </grid-buttons>
    </div>
   </div>
  </form>
</grid-main>
