<app-page [title]="pageTitle">
  <grid-main [narrow]="true">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input-text-area title="Search Hashes" formControlName="hashes" [required]="true"></input-text-area>
      <button-submit [name]="'Search'" [disabled]="false" [loading]="isCreatingLoading"></button-submit>
    </form>
  </grid-main>
  @if (searchResults && searchResults.length > 0) {
    <app-table>
      <search-hash-table [search]="searchResults"></search-hash-table>
    </app-table>
  }
</app-page>
