<mat-form-field  class="custom-textarea">
  <mat-label>{{ title }}
    <mat-icon
      matTooltip="{{ tooltip }}"
      matTooltipPosition="below"
      matTooltipClass="tooltip-custom-style"
      container="body"
      aria-hidden="true"
      *ngIf="tooltip"
    >
      info
    </mat-icon>
  </mat-label>
  <textarea
    #inputField
    matInput
    [class.is-invalid]="error"
    [id]="inputId"
    [(ngModel)]="value"
    (ngModelChange)="onChange(value)"
     matAutosize
     [required]="isRequired"
     class="custom-textarea"
  ></textarea>
  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  <mat-error>{{ title }} is required</mat-error>
</mat-form-field>
