<mat-form-field class="custom-textarea">
  <mat-label>{{ title }}
    @if (tooltip) {
      <mat-icon
        matTooltip="{{ tooltip }}"
        matTooltipPosition="below"
        matTooltipClass="tooltip-custom-style"
        matTooltipShowDelay="500"
        aria-hidden="true"
        >
        info
      </mat-icon>
    }

  </mat-label>
  <textarea
    matInput
    [class.is-invalid]="error"
    [id]="inputId"
    [(ngModel)]="value"
    (ngModelChange)="onChange(value)"
    cdkTextareaAutosize
    [required]="isRequired"
    class="custom-textarea"
  ></textarea>
  @if (hint) {
    <mat-hint>{{ hint }}</mat-hint>
  }
  <mat-error>{{ title }} is required</mat-error>
</mat-form-field>
