<app-table>
  <app-page-title [title]="pageTitle"></app-page-title>
  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutWrap
    fxLayoutGap="20px"
    class="py-4"
  >
    <div class="mb-4 mb-md-0">
      <div class="btn-group ms-2 ms-3">
        <button mat-button (click)="setView('0')" *ngIf="view == 1">
          Agent View
          <mat-icon class="fagearcust">person</mat-icon>
        </button>
        <button mat-button (click)="setView('1')" *ngIf="view == 0">
          Location/Rack View
          <mat-icon class="fagearcust">group</mat-icon>
        </button>
      </div>
    </div>
    <!--     <div class="btn-toolbar">
      <div class="btn-group ms-2 ms-3">
        <cm-filter-textbox (changed)="filterChanged($event)"></cm-filter-textbox>
      </div>
    </div> -->
  </div>
  <!--   <app-table>
 -->
  <!-- </app-table> -->
  <!-- Agent View -->
  <div class="" *ngIf="view == 0">
    <!--   <div class="row card-container-ag" *ngIf="view == 0"></div>
 -->
    <app-agent-view-table></app-agent-view-table>
    <!--   <div class="col-xs-6 col-md-4 col-lg-2" *ngFor="let a of _filteresAgents | sort:statusOrderBy:statusOrderByName ; let ind=index">
    <mat-card class="card card-ag overflowAuto">
          <mat-card-header class="card-header-ag">
            <mat-icon *ngIf="agent.isActive" class="active-icon" matTooltip="Active" class="text-ok">check_circle</mat-icon>
            <mat-icon *ngIf="!agent.isActive" class="inactive-icon" matTooltip="Inactive" class="text-critical">highlight_off</mat-icon>
            <p></p>
            <a [routerLink]="['/agents/show-agents',agent.id,'edit']"> {{ agent.agentName | shortenString:28 }} </a>
          </mat-card-header>
            <div>
                <div class="pull-left card-body-left-ag"></div>
                <div class="pull-left card-body-right-ag">
                   <div *ngIf="statDevice | filterItem:'agentId':agent.id | avg:'value' as result" [ngStyle]="{'background-image': 'linear-gradient(to right, transparent 50%, ' + (result | asColor:this.getUtil1():this.getUtil2():1:agent.isActive:agent.lastTime) + ' 50%)', 'margin-left': '0px'}">
                      <button mat-icon-button
                              (click)="openModal('Device Utilisation','devices',result === 'No data'? result:result +'%','device',result, agent)"
                              matTooltip="Device Utilisation"
                      >
                        <mat-icon [ngStyle]="{'color':result | asColor:this.getUtil1():this.getUtil2():1:agent.isActive:agent.lastTime}">devices</mat-icon>
                      </button>
                      <span>{{ result === 'No data'? result:result +'%' }}</span>
                    </div>
                    <div *ngIf="statTemp | filterItem:'agentId':agent.id | max:'value' as result" [ngStyle]="{'background-image': 'linear-gradient(to right, transparent 50%, ' + (result | asColor:this.getUtil1():this.getUtil2():1:agent.isActive:agent.lastTime) + ' 50%)', 'margin-left': '0px'}">
                      <button mat-icon-button
                              (click)="openModal('Temperature','device_thermostat',result === 'No data'? result:result +'°','temp',result, agent)"
                              matTooltip="Temperature"
                      >
                        <mat-icon [ngStyle]="{'color': result | asColor:this.getTemp1():this.getTemp2():2:agent.isActive:agent.lastTime}">device_thermostat</mat-icon>
                      </button>
                      <span>{{ result === 'No data'? result:result +'°' }}</span>
                    </div>
                    <div *ngIf="statCpu | filterItem:'agentId':agent.id | avg:'value' as result" [ngStyle]="{'background-image': 'linear-gradient(to right, transparent 50%, ' + (result | asColor:this.getUtil1():this.getUtil2():1:agent.isActive:agent.lastTime) + ' 50%)', 'margin-left': '0px'}">
                      <button mat-icon-button
                              (click)="openModal('CPU Utilisation','computer',result === 'No data'? result:result +'%','util',result, agent)"
                              matTooltip="CPU Utilisation"
                      >
                        <mat-icon [ngStyle]="{'color':result | asColor:this.getUtil1():this.getUtil2():3:agent.isActive:agent.lastTime}">computer</mat-icon>
                      </button>
                      <span>{{ result === 'No data'? result:result +'%' }}</span>
                    </div>
                </div>
            </div>
      </mat-card>
  </div> -->
    <div *ngIf="!showagents.length">No Records Found</div>
  </div>

  <!-- Rack View -->
  <div class="row card-container-ag" *ngIf="view == 1">
    <div class="col-xs-6 col-md-4 col-lg-2" *ngFor="let gname of _filteresAgents | groupBy:'agentName' | sort:'asc':'agentName'">
    <mat-card class="card card-ag-rack overflowAuto">
      <mat-card-header class="card-header-ag">
        <mat-icon *ngIf="gname.isActive" class="active-icon" matTooltip="Active" class="text-ok">check_circle</mat-icon>
        <mat-icon *ngIf="!gname.isActive" class="inactive-icon" matTooltip="Inactive" class="text-critical">highlight_off</mat-icon>
        <a>{{ gname.k | shortenString:15 }} </a>
      </mat-card-header>
      <div class="card-body" *ngFor="let agent of gname.value; let last=last">
        <div class="row">
          <small><b>
            <a [routerLink]="['/agents/show-agents',agent.id,'edit']">{{ agent.agentName | split:'-':1 | shortenString:15 }}</a>
          </b></small>
          <div *ngIf="statDevice | filterItem:'agentId':agent.id | avg:'value' as result" [ngStyle]="{'background-image': 'linear-gradient(to right, transparent 50%, ' + (result | asColor:this.getUtil1():this.getUtil2():1:agent.isActive:agent.lastTime) + ' 50%)', 'margin-left': '0px'}">
            <button mat-icon-button
                    (click)="openModal('Device Utilisation','devices',result === 'No data'? result:result +'%','device',result, agent)"
                    matTooltip="Device Utilisation"
            >
            <mat-icon [ngStyle]="{'color':result | asColor:this.getUtil1():this.getUtil2():1:agent.isActive:agent.lastTime}">devices</mat-icon>
            </button>
            <span>{{ result === 'No data'? result:result +'%' }}</span>
          </div>
          <div *ngIf="statTemp | filterItem:'agentId':agent.id | max:'value' as result" [ngStyle]="{'background-image': 'linear-gradient(to right, transparent 50%, ' + (result | asColor:this.getUtil1():this.getUtil2():1:agent.isActive:agent.lastTime) + ' 50%)', 'margin-left': '0px'}">
            <button mat-icon-button
                    (click)="openModal('Temperature','device_thermostat',result === 'No data'? result:result +'°','temp',result, agent)"
                    matTooltip="Temperature"
            >
              <mat-icon [ngStyle]="{'color': result | asColor:this.getTemp1():this.getTemp2():2:agent.isActive:agent.lastTime}">device_thermostat</mat-icon>
            </button>
            <span>{{ result === 'No data'? result:result +'°' }}</span>
          </div>
          <div *ngIf="statCpu | filterItem:'agentId':agent.id | avg:'value' as result" [ngStyle]="{'background-image': 'linear-gradient(to right, transparent 50%, ' + (result | asColor:this.getUtil1():this.getUtil2():1:agent.isActive:agent.lastTime) + ' 50%)', 'margin-left': '0px'}">
            <button mat-icon-button
                    (click)="openModal('CPU Utilisation','computer',result === 'No data'? result:result +'%','util',result, agent)"
                    matTooltip="CPU Utilisation"
            >
              <mat-icon [ngStyle]="{'color':result | asColor:this.getUtil1():this.getUtil2():3:agent.isActive:agent.lastTime}">computer</mat-icon>
            </button>
            <span>{{ result === 'No data'? result:result +'%' }}</span>
          </div>
          <hr *ngIf="!last" class="mt-0 mb-0 break">
        </div>
      </div>
    </mat-card>
  </div>
  </div>
</app-table>
<!-- Agent Activity Table -->
<app-table>
  <agents-status-table></agents-status-table>
</app-table>
