<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">
        Agents Status
          <fa-icon
                  placement="bottom"
                  ngbTooltip="Click on the icons to display more information. You can display the information by individual agent or group by location/rack."
                  container="body"
                  [icon]="faInfoCircle"
                  aria-hidden="true"
          >
          </fa-icon>
      </h2>
      <div *ngIf="view == 1"><h6>Location/Rack View</h6></div>
      <div *ngIf="view == 0"><h6>Agent View</h6></div>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group ms-2 ms-3">
      <cm-filter-textbox
                        class="navbar-right"
                        (changed)="filterChanged($event)"
      >
      </cm-filter-textbox>
    </div>
  </div>
</div>
<!-- View Menu -->
<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group ms-2 ms-3">
      <fa-icon
              *ngIf="view == 1"
              placement="bottom"
              class="fagearcust"
              [icon]="faUsers"
              aria-hidden="true"
              #view
              (click)="setView('0')"
      ></fa-icon>
      <fa-icon
              *ngIf="view == 0"
              placement="bottom"
              class="fagearcust"
              [icon]="faServer"
              aria-hidden="true"
              #view
              (click)="setView('1')"
        ></fa-icon>
  </div>
</div>
<!-- Agent View -->
<br>
<div class="row card-container-ag" *ngIf="view == 0">
    <div class="col-xs-6 col-md-4 col-lg-2" *ngFor="let a of _filteresAgents | sort:statusOrderBy:statusOrderByName ; let ind=index">
        <div class="card card-ag overflowAuto">
            <div class="card-header-ag">
              <a [routerLink]="['/agents/show-agents',a.agentId,'edit']">
                <fa-icon [icon]="faEye" aria-hidden="true" class="white-ico"></fa-icon>
              </a>
              <a underline>{{ a.agentName | shortenString:15 | lowercase | titlecase}} </a>
            </div>
            <div class="card-body">
                <div class="clearfix">
                    <div class="pull-left card-body-left-ag"></div>
                    <div class="pull-left card-body-right-ag">
                        <div class="card-body-content-ag" *ngIf="statDevice | filterItem:'agentId':a.agentId | avg:'value' as result">
                            <fa-icon
                                    placement="bottom"
                                    (click)="open(device)"
                                    container="body"
                                    [icon]="faDigitalTachograph"
                                    aria-hidden="true"
                                    hoverDashed
                                    [ngStyle]="{'color':result | asColor:this.getUtil1():this.getUtil2():1:a.isActive:a.lastTime}"
                            ></fa-icon>
                            <a underline class="display-col">{{ result === 'No data'? result:result +'%' }}</a>
                          <div>
                            <!-- Modal Device Utilisation -->
                            <ng-template #device let-modal>
                              <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title"><fa-icon [icon]="faDigitalTachograph" aria-hidden="true"></fa-icon> Device Utilisation - <span [ngStyle]="{'color':result | asColor:this.getUtil1():this.getUtil2():1:a.isActive:a.lastTime}">&#9673;</span> {{ result === 'No data'? result:result +'%' }}</h4>
                              </div>
                              <div class="modal-body">
                                <form>
                                  <div class="mb-3">
                                    <div class="row">
                                      <p>
                                        <span style="color: #009933;">&#9673;</span> Device utilisation is good (> {{ this.getUtil1() }} %)
                                      </p>
                                      <p>
                                        <span style="color: #ff9900;">&#9673;</span> Device utilisation not ideal (<= {{ this.getUtil2() }} %)
                                      </p>
                                      <p>
                                        <span style="color: #800000;">&#9673;</span> Device utilisation low (<= {{ this.getUtil2() }} %)
                                      </p>
                                      <p>
                                        <span style="color: #CCCCCC;">&#9673;</span> Agent is not active
                                      </p>
                                      <p>
                                        <span style="color: #42d4f4;">&#9673;</span> Agent is active but not working or not providing device data
                                      </p>
                                      <p>
                                        <span style="color: #FF0000;">&#9673;</span> Invalid device data from agent or values being 0
                                      </p>
                                      <p>
                                        Note: Threshold can be configured in the config section.
                                      </p>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <div class="card-body-content-ag" *ngIf="statTemp | filterItem:'agentId':a.agentId | max:'value' as result">
                          <fa-icon
                                  placement="bottom"
                                  (click)="open(temperature)"
                                  container="body"
                                  [icon]="faTemperature0"
                                  aria-hidden="true"
                                  hoverDashed
                                  [ngStyle]="{'color': result | asColor:this.getTemp1():this.getTemp2():2:a.isActive:a.lastTime}"

                          ></fa-icon>
                          <a underline class="display-col">{{ result === 'No data'? result:result +'°' }}</a>
                          <div>
                            <!-- Modal Temperature -->
                            <ng-template #temperature let-modal>
                              <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title"><fa-icon [icon]="faTemperature0" aria-hidden="true"></fa-icon> Temperature - <span [ngStyle]="{'color':result | asColor:this.getTemp1():this.getTemp2():2:a.isActive:a.lastTime}">&#9673;</span> {{ result === 'No data'? result:result +'°' }}</h4>
                              </div>
                              <div class="modal-body">
                                <form>
                                  <div class="mb-3">
                                    <div class="row">
                                      <p>
                                        <span style="color: #009933;">&#9673;</span> Device temperatures good ( <= {{ this.getTemp1() }})
                                      </p>
                                      <p>
                                        <span style="color: #ff9900;">&#9673;</span> Device temperatures acceptable ( <= {{ this.getTemp2() }})
                                      </p>
                                      <p>
                                        <span style="color: #800000;">&#9673;</span> Device temperatures too high ( > {{ this.getTemp2() }})
                                      </p>
                                      <p>
                                        <span style="color: #CCCCCC;">&#9673;</span> Agent is not active
                                      </p>
                                      <p>
                                        <span style="color: #42d4f4;">&#9673;</span> Agent is active but not working or not providing device data
                                      </p>
                                      <p>
                                        <span style="color: #FF0000;">&#9673;</span> Invalid device data from agent or values being 0
                                      </p>
                                      <p>
                                        Note: Threshold can be configured in the config section.
                                      </p>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                        <div class="card-body-content-ag" *ngIf="statCpu | filterItem:'agentId':a.agentId | avg:'value' as result">
                          <fa-icon
                                  placement="bottom"
                                  (click)="open(cpu)"
                                  container="body"
                                  [icon]="faMicrochip"
                                  aria-hidden="true"
                                  hoverDashed
                                  [ngStyle]="{'color':result | asColor:this.getUtil1():this.getUtil2():3:a.isActive:a.lastTime}"
                          ></fa-icon>
                          <a underline class="display-col">{{ result === 'No data'? result:result +'%' }}</a>
                          <div>
                            <!-- CPU Utilisation -->
                            <ng-template #cpu let-modal>
                              <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title"><fa-icon [icon]="faMicrochip" aria-hidden="true"></fa-icon> CPU Utilisation - <span [ngStyle]="{'color':result | asColor:this.getUtil1():this.getUtil2():3:a.isActive:a.lastTime}">&#9673;</span> {{ result === 'No data'? result:result +'%' }}</h4>
                              </div>
                              <div class="modal-body">
                                <form>
                                  <div class="mb-3">
                                    <div class="row">
                                      <p>
                                        <span style="color: #009933;">&#9673;</span> CPU utilisation is good (> {{ this.getUtil1() }} %)
                                      </p>
                                      <p>
                                        <span style="color: #ff9900;">&#9673;</span> CPU utilisation not ideal (<= {{ this.getUtil2() }} %)
                                      </p>
                                      <p>
                                        <span style="color: #800000;">&#9673;</span> CPU utilisation low (<= {{ this.getUtil2() }} %)
                                      </p>
                                      <p>
                                        <span style="color: #CCCCCC;">&#9673;</span> Agent is not active
                                      </p>
                                      <p>
                                        <span style="color: #42d4f4;">&#9673;</span> Agent is active but not working or not providing CPU data
                                      </p>
                                      <p>
                                        <span style="color: #FF0000;">&#9673;</span> Invalid CPU data from agent or values being 0
                                      </p>
                                      <p>
                                        Note: Threshold can be configured in the config section.
                                      </p>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                              </div>
                            </ng-template>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!showagents.length">
        No Records Found
    </div>
</div>

<!-- Rack View -->

<div class="row card-container-ag" *ngIf="view == 1">
  <div class="col-xs-6 col-md-4 col-lg-2" *ngFor="let gname of _filteresAgents | groupBy:'agentName' | sort:'asc':'agentName'">
      <div class="card card-section">
          <div class="card-header-ag text-center">
            <a underline>{{ gname.k | shortenString:15 | lowercase | titlecase}} </a>
          </div>
          <div class="card-body" *ngFor="let a of gname.value ; let last=last">
            <div class="row">
              <small><b>
                <a [routerLink]="['/agents/show-agents',a.agentId,'edit']">
                  <fa-icon [icon]="faEye" aria-hidden="true" class="gray-light-ico"></fa-icon>
                </a>
                <a class="display-col">{{ a.agentName | split:'-':1 | shortenString:15 | lowercase | titlecase }}</a>
              </b></small>
              <div class="col" *ngIf="statDevice | filterItem:'agentId':a.agentId | avg:'value' as result">
                <fa-icon
                        placement="bottom"
                        (click)="open(rackdevice)"
                        container="body"
                        [icon]="faDigitalTachograph"
                        aria-hidden="true"
                        hoverDashed
                        [ngStyle]="{'color':result | asColor:this.getUtil1():this.getUtil2():1:a.isActive:a.lastTime}"
                ></fa-icon>
                <br>
                <a underline class="display-col">{{ result === 'No data'? result:result +'%' }}</a>
                  <!-- Modal Device Utilisation -->
                  <ng-template #rackdevice let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title"><fa-icon [icon]="faDigitalTachograph" aria-hidden="true"></fa-icon> Device Utilisation - <span [ngStyle]="{'color':result | asColor:this.getUtil1():this.getUtil2():1:a.isActive:a.lastTime}">&#9673;</span> {{ result === 'No data'? result:result +'%' }}</h4>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="mb-3">
                          <div class="row">
                            <p>
                              <span style="color: #009933;">&#9673;</span> Device utilisation is good (> {{ this.getUtil1() }} %)
                            </p>
                            <p>
                              <span style="color: #ff9900;">&#9673;</span> Device utilisation not ideal (<= {{ this.getUtil2() }} %)
                            </p>
                            <p>
                              <span style="color: #800000;">&#9673;</span> Device utilisation low (<= {{ this.getUtil2() }} %)
                            </p>
                            <p>
                              <span style="color: #CCCCCC;">&#9673;</span> Agent is not active
                            </p>
                            <p>
                              <span style="color: #42d4f4;">&#9673;</span> Agent is active but not working or not providing device data
                            </p>
                            <p>
                              <span style="color: #FF0000;">&#9673;</span> Invalid device data from agent or values being 0
                            </p>
                            <p>
                              Note: Threshold can be configured in the config section.
                            </p>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                    </div>
                  </ng-template>
              </div>
              <div class="col" *ngIf="statTemp | filterItem:'agentId':a.agentId | max:'value' as result">
                <fa-icon
                        placement="bottom"
                        (click)="open(racktemp)"
                        container="body"
                        [icon]="faTemperature0"
                        aria-hidden="true"
                        hoverDashed
                        [ngStyle]="{'color': result | asColor:this.getTemp1():this.getTemp2():2:a.isActive:a.lastTime}"

                ></fa-icon>
                <br>
                <a underline class="display-col">{{ result === 'No data'? result:result +'°' }}</a>
                <!-- Modal Temperature -->
                <ng-template #racktemp let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title"><fa-icon [icon]="faTemperature0" aria-hidden="true"></fa-icon> Temperature - <span [ngStyle]="{'color':result | asColor:this.getTemp1():this.getTemp2():2:a.isActive:a.lastTime}">&#9673;</span> {{ result === 'No data'? result:result +'°' }}</h4>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <div class="row">
                          <p>
                            <span style="color: #009933;">&#9673;</span> Device temperatures good ( <= {{ this.getTemp1() }})
                          </p>
                          <p>
                            <span style="color: #ff9900;">&#9673;</span> Device temperatures acceptable ( <= {{ this.getTemp2() }})
                          </p>
                          <p>
                            <span style="color: #800000;">&#9673;</span> Device temperatures too high ( > {{ this.getTemp2() }})
                          </p>
                          <p>
                            <span style="color: #CCCCCC;">&#9673;</span> Agent is not active
                          </p>
                          <p>
                            <span style="color: #42d4f4;">&#9673;</span> Agent is active but not working or not providing device data
                          </p>
                          <p>
                            <span style="color: #FF0000;">&#9673;</span> Invalid device data from agent or values being 0
                          </p>
                          <p>
                            Note: Threshold can be configured in the config section.
                          </p>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                  </div>
                </ng-template>
              </div>
              <div class="col" *ngIf="statCpu | filterItem:'agentId':a.agentId | avg:'value' as result">
                <fa-icon
                        placement="bottom"
                        (click)="open(rackcpu)"
                        container="body"
                        [icon]="faMicrochip"
                        aria-hidden="true"
                        hoverDashed
                        [ngStyle]="{'color':result | asColor:this.getUtil1():this.getUtil2():3:a.isActive:a.lastTime}"
                ></fa-icon>
                <br>
                <a underline class="display-col">{{ result === 'No data'? result:result +'%' }}</a>
                <!-- CPU Utilisation -->
                <ng-template #rackcpu let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title"><fa-icon [icon]="faMicrochip" aria-hidden="true"></fa-icon> CPU Utilisation - <span [ngStyle]="{'color':result | asColor:this.getUtil1():this.getUtil2():3:a.isActive:a.lastTime}">&#9673;</span> {{ result === 'No data'? result:result +'%' }}</h4>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <div class="row">
                          <p>
                            <span style="color: #009933;">&#9673;</span> CPU utilisation is good (> {{ this.getUtil1() }} %)
                          </p>
                          <p>
                            <span style="color: #ff9900;">&#9673;</span> CPU utilisation not ideal (<= {{ this.getUtil2() }} %)
                          </p>
                          <p>
                            <span style="color: #800000;">&#9673;</span> CPU utilisation low (<= {{ this.getUtil2() }} %)
                          </p>
                          <p>
                            <span style="color: #CCCCCC;">&#9673;</span> Agent is not active
                          </p>
                          <p>
                            <span style="color: #42d4f4;">&#9673;</span> Agent is active but not working or not providing CPU data
                          </p>
                          <p>
                            <span style="color: #FF0000;">&#9673;</span> Invalid CPU data from agent or values being 0
                          </p>
                          <p>
                            Note: Threshold can be configured in the config section.
                          </p>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
                  </div>
                </ng-template>
              </div>
              <hr *ngIf="!last" class="mt-0 mb-0 break">
            </div>
          </div>
      </div>
  </div>
</div>


<!-- Agent Activity -->
<br>
  <div class="d-block mb-4 mb-md-0">
    <h2 class="h4">
      Agents activity
    </h2>
  </div>
<br>
<!-- Agent Activity Table -->
<div class="card border-0 shadow mb-4">
  <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="thead-light">
                <tr>
                    <th class="border-0 rounded-start">ID</th>
                    <th class="border-0">Name</th>
                    <th class="border-0">Currently working on</th>
                    <th class="border-0">Assigned to</th>
                    <th class="border-0 rounded-end">Last Activity</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let aa of _filteresAgents | sort:statusOrderBy:statusOrderByName">
                    <td>
                      {{ aa.agentId }}
                      <a class='btn-outline-gray-600 float-right' [routerLink]="['/agents/show-agents',aa.agentId,'edit']">
                        <small><fa-icon [icon]="faEye" aria-hidden="true" ></fa-icon></small>
                      </a>
                    </td>
                    <td>
                      {{ aa.agentName | shortenString:15 | lowercase | titlecase }}
                      <span *ngIf="aa.isTrusted == 1" ><fa-icon [icon]="faLock" aria-hidden="true"></fa-icon></span>
                      <span *ngIf="aa.isActive == 0" ><fa-icon [icon]="faPauseCircle" aria-hidden="true"></fa-icon></span>
                    </td>
                    <td>
                      <a *ngIf="aa.taskId">Task: {{ aa.taskName | shortenString:15 | lowercase | titlecase }}
                        <a class='btn-outline-gray-600 float-right' [routerLink]="['/tasks/show-tasks/',aa.taskId,'edit']">
                          <small><fa-icon [icon]="faEye" aria-hidden="true" ></fa-icon></small>
                        </a>,
                      </a>
                      <div *ngIf="aa.speed">at {{ aa.speed | fileSize:false }} H/s,<br></div>
                      <div *ngIf="aa.chunkId">working on chunk
                        {{ aa.chunkId }}
                        <a class='btn-outline-gray-600 float-right' [routerLink]="['/tasks/chunks',aa.chunkId,'view']">
                          <small><fa-icon [icon]="faEye" aria-hidden="true"></fa-icon></small>
                        </a>
                      </div>
                    </td>
                    <td>
                      TD.Task Assignments
                    </td>
                    <td>
                      Action: {{ aa.lastAct }}<br>
                      Time: {{ aa.lastTime | date: uidateformat }}<br>
                      <div *ngIf="aa.lastIp">IP:<code >{{ aa.lastIp }}</code></div>
                    </td>
                  </tr>
                </tbody>
          </table>
        </div>
    </div>
</div>

<!-- Todo Fix Pagination -->
<!-- <div class="align-items-right py-4">
  <cm-pagination
                [totalItems]="totalRecords"
                [pageSize]="pageSize"
                (pageChanged)="pageChanged($event)"
  >
  </cm-pagination>
</div> -->
