<div class="field-stack" [class.is-invalid]="hasError && isTouched && !readonly" [class.input--readonly]="readonly">
  <label class="field-stack__label" [attr.for]="inputId">
    @if (!isLoading) {
      @if (linkTo) {
        <a [routerLink]="linkTo">{{ title }}</a>
      } @else {
        {{ title }}
      }
      @if (isRequired && !readonly) {
        <span class="field-stack__required" aria-hidden="true">*</span>
      }
      @if (tooltip) {
        <mat-icon
          matTooltip="{{ tooltip }}"
          matTooltipPosition="below"
          matTooltipClass="tooltip-custom-style"
          container="body"
          aria-hidden="true"
        >
          info
        </mat-icon>
      }
    } @else {
      <mat-spinner diameter="16" class="spinner-inline" color="primary"></mat-spinner>
      <span>Loading...</span>
    }
  </label>

  <mat-form-field
    class="field-stack__field"
    [class.mat-form-field-invalid]="hasError && !readonly"
    [class.mat-form-field-touched]="isTouched && !readonly"
  >
    <mat-select
      #inputField
      [value]="value"
      (selectionChange)="onChangeValue($event.value)"
      (openedChange)="onOpenedChange($event)"
      [required]="!isLoading && isRequired"
      [disabled]="disabled || readonly"
      [class.ng-invalid]="hasError && !readonly"
      [class.ng-touched]="isTouched && !readonly"
    >
      @if (isBlankOptionDisabled) {
        <mat-option [value]="0">
          {{ blankOptionText || 'Disabled' }}
        </mat-option>
      }

      @for (item of items; track item.id) {
        <mat-option [value]="item.id">
          {{ item.name }}
        </mat-option>
      }
    </mat-select>

    @if (hint) {
      <mat-hint>{{ hint }}</mat-hint>
    }
    @if (hasError && errors && !readonly) {
      <mat-hint class="mat-mdc-form-field-error text-destructive">{{ title }} is required</mat-hint>
    }
  </mat-form-field>
</div>
