<mat-form-field [ngStyle]="{width: width}">
  <mat-label>
    @if (!isLoading) {
      {{ title }}
      @if (tooltip) {
        <mat-icon
          matTooltip="{{ tooltip }}"
          matTooltipPosition="below"
          matTooltipClass="tooltip-custom-style"
          container="body"
          aria-hidden="true"
          >
          info
        </mat-icon>
      }
    } @else {
      <mat-spinner diameter="16" class="spinner-inline" color="primary"></mat-spinner>
      <span>Loading...</span>
    }
  </mat-label>

  <mat-select
    #inputField
    [(ngModel)]="value"
    #ngModel="ngModel"
    (selectionChange)="onChangeValue($event.value)"
    [required]="!isLoading && isRequired"
    [disabled]="isLoading || disabled"
    >
    @if (isBlankOptionDisabled) {
      <mat-option [value]="0">
        {{ blankOptionText || 'Disabled' }}
      </mat-option>
    }

    @for (item of items; track item) {
      <mat-option [value]="item.id">
        {{ item.name }}
      </mat-option>
    }
  </mat-select>

  @if (hint) {
    <mat-hint>{{ hint }}</mat-hint>
  }
  @if (ngModel.invalid && ngModel.touched) {
    <mat-error>{{ title }} is required</mat-error>
  }

</mat-form-field>
