<grid-main>
  <app-page-subtitle [subtitle]="'User Profile'"></app-page-subtitle>
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <grid-autocol>

        <input-text title="ID" formControlName="id" [disabled]="true"></input-text>
        <input-text title="Name" formControlName="name" [disabled]="true"></input-text>
        <input-text title="Email" formControlName="email" [disabled]="true"></input-text>
        <input-text title="Registered" formControlName="registered" [disabled]="true"></input-text>
        <input-text title="Last login" formControlName="lastLogin" [disabled]="true"></input-text>

        <simulate-form-field-multi label="Member of access groups" [items]="userAgps" routerLink="/users/access-groups/"></simulate-form-field-multi>

        <div formGroupName="updateData">
          <input-select title=" Global Permission Group" formControlName="globalPermissionGroupId" [items]="selectAgp"></input-select>
          <form [formGroup]="updatePassForm" (ngSubmit)="onSubmit()">

          <input-text title="Password" formControlName="password" inputType="password"></input-text>
          <app-pass-strenght [passwordToCheck]="updatePassForm.controls['password'].value" (passwordStrength)="onPasswordStrengthChanged($event)"></app-pass-strenght>

          </form>
        <input-check title="is Active?" formControlName="isValid"></input-check>
        <grid-buttons>
          <button-submit name="Delete" (click)="onDelete()" [disabled]="false" type="delete"></button-submit>
          <button-submit [name]="'Update'"></button-submit>
        </grid-buttons>
     </div>

    </grid-autocol>
  </form>
</grid-main>






