<grid-main>
  <app-page-subtitle [subtitle]="'User Profile'"></app-page-subtitle>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutAlign="start stretch">

      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
        <input-text title="ID" formControlName="id"></input-text>
        <input-text title="Name" formControlName="name"></input-text>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
        <input-text title="Registered" formControlName="registered"></input-text>
        <input-text title="Last login" formControlName="lastLogin"></input-text>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
        <input-text title="Email" formControlName="email"></input-text>
        <simulate-form-field-multi label="Member of access groups" [items]="selectUserAgps" routerLink="/users/access-groups/"></simulate-form-field-multi>
      </div>

    </div>
    <div formGroupName="updateData" fxLayout="column" fxLayoutAlign="start start">

      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

        <input-select title=" Global Permission Group" formControlName="globalPermissionGroupId" [items]="selectGlobalPermissionGroups"></input-select>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
        <form [formGroup]="updatePassForm" (ngSubmit)="onSubmit()">
          <input-text title="Password" formControlName="password" inputType="password"></input-text>
          <!-- <app-pass-strenght [passwordToCheck]="updatePassForm.controls['password'].value" (passwordStrength)="onPasswordStrengthChanged($event)"></app-pass-strenght> -->
        </form>
        <input-check title="Active" formControlName="isValid"></input-check>
      </div>

    </div>

    <grid-buttons>
      <button-submit name="Delete" (click)="onDelete()" [disabled]="false" type="delete"></button-submit>
      <button-submit [name]="'Update'"></button-submit>
      @if (isUpdatingLoading) {
        <div>
          <mat-spinner diameter="24" color="accent"></mat-spinner>
        </div>
      }
    </grid-buttons>

  </form>
</grid-main>






