<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">All users </h2>
      <p class="mb-0">Section to manage users.</p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
      <a routerLink="/users" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
        <fa-icon [icon]="faPlus" aria-hidden="true"></fa-icon>
          New User
      </a>
  </div>
</div>
<!-- Body -->
<div class="card border-0 shadow mb-4">
  <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="thead-light">
                <tr>
                    <th class="border-0 rounded-start">ID</th>
                    <th class="border-0">Username</th>
                    <th class="border-0">Creation date</th>
                    <th class="border-0">Last login</th>
                    <th class="border-0">Email</th>
                    <th class="border-0">Validity</th>
                    <th class="border-0">Session lifetime</th>
                    <th class="border-0">Right group</th>
                    <th class="border-0 rounded-end">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of allusers">
                    <td class="text-align:center">{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.registeredSince*1000 | date: uidateformat }}</td>
                    <td>{{ user.lastLoginDate*1000 | date: uidateformat }}</td>
                    <td>{{ user.email }}</td>
                    <td><span class="{{user.isValid == 1 ? 'fw-bold text-success' : 'fw-bold text-warning'}}">{{ user.isValid == 1 ? "Valid" : "Invalid/Not activated" }}</span></td>
                    <td>{{ user.sessionLifetime }}</td>
                    <td>{{ user.globalPermissionGroup.name }}</td>
                    <td>
                        <a class='btn-outline-gray-600 float-right' [routerLink]="['/users',user.id,'edit']" data-toggle="tooltip" data-placement="top" title="Edit">
                          <!-- TEST= to add custom params for security[queryParams]="{allowEdit: +user.userId === 2 ? '1' : '0'}"   -->
                          <fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
