<div [ngSwitch]="whichView">
  <div *ngSwitchCase="'agent'">
    <settings-menu [aclass]="'btn-outline-gray-600-select'">
      <app-page-subtitle [subtitle]="'Agent Settings'"></app-page-subtitle>
    </settings-menu>
  </div>
  <div *ngSwitchCase="'task-chunk'">
    <settings-menu [tclass]="'btn-outline-gray-600-select'">
      <app-page-subtitle [subtitle]="'Task/Chunk Settings'"></app-page-subtitle>
    </settings-menu>
  </div>
  <div *ngSwitchCase="'hch'">
    <settings-menu [hchclass]="'btn-outline-gray-600-select'">
      <app-page-subtitle [subtitle]="'Hashes/Cracks/Hashlist Settings'"></app-page-subtitle>
    </settings-menu>
  </div>
  <div *ngSwitchCase="'notif'">
    <settings-menu [nclass]="'btn-outline-gray-600-select'">
      <app-page-subtitle [subtitle]="'Notification Settings'"></app-page-subtitle>
    </settings-menu>
  </div>
  <div *ngSwitchCase="'gs'">
    <settings-menu [gclass]="'btn-outline-gray-600-select'">
      <app-page-subtitle [subtitle]="'General Settings'"></app-page-subtitle>
    </settings-menu>
  </div>
</div>
<!-- Body -->
<div [ngSwitch]="whichView">
  <div *ngSwitchCase="'agent'">
    <grid-main [class]="'width:100%'">
        <form [formGroup]="agentForm">
          <grid-autocol>
          <h5 class="form-input-custom"><u>Activity / Registration</u></h5>
          <grid-form-input [name]="'Delay before considering an agent as inactive(or timed out)'" [tooltip]="atip.agenttimeout">
          <td>
            <input
                  type='number'
                  id="agenttimeout"
                  class='form-control'
                  formControlName="agenttimeout"
                  #agenttimeout
                  (change)="autoSave('agenttimeout',agenttimeout.value)"
            >
          </grid-form-input>
          <grid-form-input [name]="'Delay before considering an issued chunk as inactive'" [tooltip]="atip.benchtime">
          <td>
            <input
                  type='number'
                  id="benchtime"
                  class='form-control'
                  formControlName="benchtime"
                  #benchtime
                  (change)="autoSave('benchtime',benchtime.value)"
            >
          </grid-form-input>
          <grid-form-input [name]="'Frequency of the agent reporting about a task to the server'" [tooltip]="atip.statustimer">
          <td>
            <input
                  type='number'
                  id="statustimer"
                  class='form-control'
                  formControlName="statustimer"
                  #statustimer
                  (change)="autoSave('statustimer',statustimer.value)"
            >
          </grid-form-input>
          <grid-form-input [name]="'Time during which util and temperature data are retained on the server'" [tooltip]="atip.agentDataLifetime">
          <td>
            <input
                  type='number'
                  id="agentDataLifetime"
                  class='form-control'
                  formControlName="agentDataLifetime"
                  #agentDataLifetime
                  (change)="autoSave('agentDataLifetime',agentDataLifetime.value)"
            >
          </grid-form-input>
          <grid-form-input [name]="'Hide agents IP information'" [tooltip]="atip.hideIpInfo">
            <td>
              <div class="form-check form-switch">
                  <input
                        type="checkbox"
                        id="hideIpInfo"
                        class="form-check-input"
                        formControlName="hideIpInfo"
                        #hideIpInfo
                        (change)="autoSave('hideIpInfo',hideIpInfo.value, true)"
                  >
              </div>
          </grid-form-input>
          <grid-form-input [name]="'Voucher(s) can be used to register multiple agents'" [tooltip]="atip.voucherDeletion">
            <td>
              <div class="form-check form-switch">
                  <input
                        type="checkbox"
                        id="voucherDeletion"
                        class="form-check-input"
                        formControlName="voucherDeletion"
                        #voucherDeletion
                        (change)="autoSave('voucherDeletion',voucherDeletion.value, true)"
                  >
              </div>
          </grid-form-input>
          <hr>
          <h5 class="form-input-custom"><u>Graphical Feedback</u></h5>
          <grid-form-input [name]="'Maximum number of data points in agent (gpu) graphs'" [tooltip]="atip.agentStatLimit">
            <td>
              <input
                    type='number'
                    id="agentStatLimit"
                    class='form-control'
                    formControlName="agentStatLimit"
                    #agentStatLimit
                    (change)="autoSave('agentStatLimit',agentStatLimit.value)"
              >
          </grid-form-input>
          <grid-form-input [name]="'Draw straigth lines in agent data graph instead of bezier curves'" [tooltip]="atip.agentStatTension">
            <td>
              <select
                    type='number'
                    id='agentStatTension'
                    class='form-select'
                    formControlName="agentStatTension"
                    #agentStatTension
                    (change)="autoSave('agentStatTension',agentStatTension.value)"
                >
                  <option value="0">Straight lines</option>
                  <option value="1">Bezier curves</option>
              </select>
          </grid-form-input>
          <grid-form-input [name]="'Temperature threshold above which an agent is displayed in orange in the status page'" [tooltip]="atip.agentTempThreshold1">
            <td>
              <input
                    type='number'
                    id="agentTempThreshold1"
                    class='form-control'
                    formControlName="agentTempThreshold1"
                    #agentTempThreshold1
                    (change)="autoSave('agentTempThreshold1',agentTempThreshold1.value)"
              >
          </grid-form-input>
          <grid-form-input [name]="'Temperature threshold above which an agent is displayed in red in the status page'" [tooltip]="atip.agentTempThreshold2">
            <td>
              <input
                    type='number'
                    id="agentTempThreshold2"
                    class='form-control'
                    formControlName="agentTempThreshold2"
                    #agentTempThreshold2
                    (change)="autoSave('agentTempThreshold2',agentTempThreshold2.value)"
              >
          </grid-form-input>
          <grid-form-input [name]="'Util threshold below which an agent is displayed in orange in the status page'" [tooltip]="atip.agentUtilThreshold1">
            <td>
              <input
                    type='number'
                    id="agentUtilThreshold1"
                    class='form-control'
                    formControlName="agentUtilThreshold1"
                    #agentUtilThreshold1
                    (change)="autoSave('agentUtilThreshold1',agentUtilThreshold1.value)"
              >
          </grid-form-input>
          <grid-form-input [name]="'Util threshold below which an agent is displayed in red in the status page'" [tooltip]="atip.agentUtilThreshold2">
            <td>
              <input
                    type='number'
                    id="agentUtilThreshold2"
                    class='form-control'
                    formControlName="agentUtilThreshold2"
                    #agentUtilThreshold2
                    (change)="autoSave('agentUtilThreshold2',agentUtilThreshold2.value)"
              >
          </grid-form-input>
          </grid-autocol>
          </form>
    </grid-main>
  </div>
    <div *ngSwitchCase="'task-chunk'">
      <grid-main [class]="'width:100%'">
          <form [formGroup]="tcForm">
            <grid-autocol>
              <h5><u>Benchmark / Chunk</u></h5>
              <grid-form-input [name]="'Expected duration of a chunk'" [tooltip]="tctip.chunktime">
                <td>
                  <input
                        type='number'
                        id="chunktime"
                        class='form-control'
                        formControlName="chunktime"
                        #chunktime
                        (change)="autoSave('chunktime',chunktime.value)"
                  >
              </grid-form-input>
              <grid-form-input [name]="'Authorised expansion in percentage of the final chunk of a task'" [tooltip]="tctip.disptolerance">
                <td>
                  <input
                        type='number'
                        id="disptolerance"
                        class='form-control'
                        formControlName="disptolerance"
                        #disptolerance
                        (change)="autoSave('disptolerance',disptolerance.value)"
                  >
              </grid-form-input>
              <grid-form-input [name]="'Speed benchmark as default benchmark process'" [tooltip]="tctip.defaultBenchmark">
                <td>
                  <div class="form-check form-switch">
                  <input
                        type="checkbox"
                        id="defaultBenchmark"
                        class="form-check-input"
                        formControlName="defaultBenchmark"
                        #defaultBenchmark
                        (change)="autoSave('defaultBenchmark',defaultBenchmark.value, true)"
                  >
                  </div>
              </grid-form-input>
              <grid-form-input [name]="'Disable trimming of chunks and redo whole chunk'" [tooltip]="tctip.disableTrimming">
                <td>
                  <div class="form-check form-switch">
                  <input
                        type="checkbox"
                        id="disableTrimming"
                        class="form-check-input"
                        formControlName="disableTrimming"
                        #disableTrimming
                        (change)="autoSave('disableTrimming',disableTrimming.value)"
                  >
                  </div>
              </grid-form-input>
              <hr>
              <h5><u>Command Line & Misc.</u></h5>
              <grid-form-input [name]="'Placeholder string for the hashlist in the command line during task creation'" [tooltip]="tctip.hashlistAlias">
                <td>
                  <input
                        type='text'
                        id="hashlistAlias"
                        class='form-control'
                        formControlName="hashlistAlias"
                        #hashlistAlias
                        (change)="autoSave('hashlistAlias',hashlistAlias.value)"
                  >
              </grid-form-input>
              <grid-form-input [name]="'Forbidden characters in the attack command input'" [tooltip]="tctip.blacklistChars">
                <td>
                  <input
                        type='text'
                        id="blacklistChars"
                        class='form-control'
                        formControlName="blacklistChars"
                        #blacklistChars
                        (change)="autoSave('blacklistChars',blacklistChars.value)"
                  >
              </grid-form-input>
              <grid-form-input [name]="'Also automatically assign tasks with priority 0 (Needed, check file)'" [tooltip]="tctip.priority0Start">
                <td>
                  <div class="form-check form-switch">
                    <input
                          type="checkbox"
                          id="priority0Start"
                          class="form-check-input"
                          formControlName="priority0Start"
                          #priority0Start
                          (change)="autoSave('priority0Start',priority0Start.value, true)"
                    >
                </div>
              </grid-form-input>
              <grid-form-input [name]="'Show cracks/minute for active tasks'" [tooltip]="tctip.showTaskPerformance">
                <td>
                  <div class="form-check form-switch">
                    <input
                          type="checkbox"
                          id="showTaskPerformance"
                          class="form-check-input"
                          formControlName="showTaskPerformance"
                          #showTaskPerformance
                          (change)="autoSave('showTaskPerformance',showTaskPerformance.value, true)"
                    >
                </div>
              </grid-form-input>
              <hr>
              <h5><u>Rule splitting</u></h5>
              <grid-form-input [name]="'When rule splitting is applied for tasks, always make them a small task'" [tooltip]="tctip.ruleSplitSmallTasks">
                <td>
                  <div class="form-check form-switch">
                    <input
                          type="checkbox"
                          id="ruleSplitSmallTasks"
                          class="form-check-input"
                          formControlName="ruleSplitSmallTasks"
                          #ruleSplitSmallTasks
                          (change)="autoSave('ruleSplitSmallTasks',ruleSplitSmallTasks.value, true)"
                    >
                </div>
              </grid-form-input>
              <grid-form-input [name]="'Even do rule splitting when there are not enough rules but just the benchmark is too high. Can result in subtasks with just one rule'" [tooltip]="tctip.ruleSplitAlways">
                <td>
                  <div class="form-check form-switch">
                    <input
                          type="checkbox"
                          id="ruleSplitAlways"
                          class="form-check-input"
                          formControlName="ruleSplitAlways"
                          #ruleSplitAlways
                          (change)="autoSave('ruleSplitAlways',ruleSplitAlways.value, true)"
                    >
                  </div>
              </grid-form-input>
              <grid-form-input [name]="'Disable automatic task splitting with large rule files'" [tooltip]="tctip.ruleSplitDisable">
                <td>
                  <div class="form-check form-switch">
                    <input
                          type="checkbox"
                          id="ruleSplitDisable"
                          class="form-check-input"
                          formControlName="ruleSplitDisable"
                          #ruleSplitDisable
                          (change)="autoSave('ruleSplitDisable',ruleSplitDisable.value, true)"
                    >
                </div>
              </grid-form-input>
            </grid-autocol>
          </form>
          <h5><u>Other</u></h5>
          <form [formGroup]="taskcookieForm">
            <grid-form-input [name]="'Refresh Interval (seconds)'" [tooltip]="'Manage refresh interval in the show tasks view.'">
              <td>
                <input
                      class='form-control'
                      formControlName="autorefresh"
                      #autorefresh
                      (change)="setAutorefresh(autorefresh.value)"
                >
            </grid-form-input>
          </form>
      </grid-main>
    </div>
    <div *ngSwitchCase="'hch'">
      <grid-main [class]="'width:100%'">
          <form [formGroup]="hchForm">
            <grid-autocol>
              <h5><u>Import/Display of Hashlist</u></h5>
              <grid-form-input [name]="'Maximum number of lines in a hashlist'" [tooltip]="hchtip.maxHashlistSize">
                <td>
                  <input
                        type='number'
                        id="maxHashlistSize"
                        class='form-control'
                        formControlName="maxHashlistSize"
                        #maxHashlistSize
                        (change)="autoSave('maxHashlistSize',maxHashlistSize.value)"
                  >
              </grid-form-input>
              <grid-form-input [name]="'Number of hashes shown per page in the Hash View'" [tooltip]="hchtip.pagingSize">
                <td>
                  <input
                        type='number'
                        id="pagingSize"
                        class='form-control'
                        formControlName="pagingSize"
                        #pagingSize
                        (change)="autoSave('pagingSize',pagingSize.value)"
                  >
              </grid-form-input>
              <grid-form-input [name]="'Number of hashes per page on hashes view'" [tooltip]="hchtip.hashesPerPage">
                <td>
                  <input
                        type='number'
                        id="hashesPerPage"
                        class='form-control'
                        formControlName="hashesPerPage"
                        #hashesPerPage
                        (change)="autoSave('hashesPerPage',hashesPerPage.value)"
                  >
              </grid-form-input>
              <grid-form-input [name]="'The separator character used to separate hash and plain (or salt)'" [tooltip]="hchtip.fieldseparator">
                <td>
                  <input
                        type='text'
                        id="fieldseparator"
                        class='form-control'
                        formControlName="fieldseparator"
                        #fieldseparator
                        (change)="autoSave('fieldseparator',fieldseparator.value)"
                  >
              </grid-form-input>
              <grid-form-input [name]="'Check if hashes have been previously cracked (in other hashlists) at hashlist creation time'" [tooltip]="hchtip.hashlistImportCheck">
                <td>
                  <div class="form-check form-switch">
                    <input
                          type="checkbox"
                          id="hashlistImportCheck"
                          class="form-check-input"
                          formControlName="hashlistImportCheck"
                          #hashlistImportCheck
                          (change)="autoSave('hashlistImportCheck',hashlistImportCheck.value, true)"
                    >
                  </div>
              </grid-form-input>
              <h5><u>Database Parameters</u></h5>
              <grid-form-input [name]="'Batch size of SQL query when hashlist is sent to the agent'" [tooltip]="hchtip.batchSize">
                <td>
                  <input
                        type='number'
                        id="batchSize"
                        class='form-control'
                        formControlName="batchSize"
                        #batchSize
                        (change)="autoSave('batchSize',batchSize.value)"
                  >
              </grid-form-input>
              <grid-form-input [name]="'Maximum length of plain text'" [tooltip]="hchtip.batchSize">
                <td>
                  <input
                        type='number'
                        id="plainTextMaxLength"
                        class='form-control'
                        formControlName="plainTextMaxLength"
                        #plainTextMaxLength
                        (change)="autoSave('plainTextMaxLength',plainTextMaxLength.value)"
                  >
              </grid-form-input>
              <grid-form-input [name]="'Maximum length of a hash'" [tooltip]="hchtip.batchSize">
                <td>
                  <input
                        type='number'
                        id="hashMaxLength"
                        class='form-control'
                        formControlName="hashMaxLength"
                        #hashMaxLength
                        (change)="autoSave('hashMaxLength',hashMaxLength.value)"
                  >
                  <span *ngIf="hchForm.controls['hashMaxLength']?.touched">
                    <fa-icon  style="color:red" [icon]="faExclamationTriangle"></fa-icon> Such change may take a long time depending on the database size
                  </span>
              </grid-form-input>
            </grid-autocol>
          </form>
      </grid-main>
    </div>
    <div *ngSwitchCase="'notif'">
      <grid-main [class]="'width:100%'">
          <form [formGroup]="notifForm">
             <grid-autocol>
              <grid-form-input [name]="'Email address sending the notification emails'" [tooltip]="notiftip.emailSender">
                <td>
                  <input
                        type='text'
                        id="emailSender"
                        class='form-control'
                        formControlName="emailSender"
                        #emailSender
                        (change)="autoSave('emailSender',emailSender.value)"
                  >
              </grid-form-input>
              <grid-form-input [name]="'Sender\'s name on emails sent from Hashtopolis'" [tooltip]="notiftip.emailSender">
                <td>
                  <input
                        type='text'
                        id="emailSenderName"
                        class='form-control'
                        formControlName="emailSenderName"
                        #emailSenderName
                        (change)="autoSave('emailSenderName',emailSenderName.value)"
                  >
              </grid-form-input>
              <grid-form-input [name]="'Telegram bot token used to send telegram notifications'" [tooltip]="notiftip.telegramBotToken">
                <td>
                  <input
                        type='text'
                        id="telegramBotToken"
                        class='form-control'
                        formControlName="telegramBotToken"
                        #telegramBotToken
                        (change)="autoSave('telegramBotToken',telegramBotToken.value)"
                  >
              </grid-form-input>
              <grid-form-input [name]="'Enable using a proxy for sending notifications'" [tooltip]="notiftip.notificationsProxyEnable">
                <td>
                  <div class="form-check form-switch">
                    <input
                          type="checkbox"
                          id="notificationsProxyEnable"
                          class="form-check-input"
                          formControlName="notificationsProxyEnable"
                          #notificationsProxyEnable
                          (change)="autoSave('notificationsProxyEnable',notificationsProxyEnable.value, true, true)"
                    >
                </div>
              </grid-form-input>
              <div *ngIf="notifForm.get('notificationsProxyEnable').value == '1'">
                <grid-form-input [name]="'Server url of the proxy to use for notification'" [tooltip]="notiftip.notificationsProxyServer">
                  <td>
                    <input
                          type='text'
                          id="notificationsProxyServer"
                          class='form-control'
                          placeholder="http..."
                          formControlName="notificationsProxyServer"
                          #notificationsProxyServer
                          (change)="autoSave('notificationsProxyServer',notificationsProxyServer.value)"
                    >
                </grid-form-input>
                <grid-form-input [name]="'Set the port for the notifications proxy'" [tooltip]="notiftip.notificationsProxyPort">
                  <td>
                    <input
                          type='number'
                          id="notificationsProxyPort"
                          class='form-control'
                          formControlName="notificationsProxyPort"
                          #notificationsProxyPort
                          (change)="autoSave('notificationsProxyPort',notificationsProxyPort.value)"
                    >
                </grid-form-input>
              </div>
              <grid-form-input [name]="'Proxy type to use for notifications'" [tooltip]="notiftip.notificationsProxyType">
                <td>
                  <select
                        type='text'
                        id='notificationsProxyType'
                        class='form-select'
                        formControlName="notificationsProxyType"
                        #notificationsProxyType
                        (change)="autoSave('notificationsProxyType',notificationsProxyType.value)"
                    >
                      <option *ngFor="let p of proxytype">{{ p.value }}</option>
                  </select>
              </grid-form-input>
            </grid-autocol>
          </form>
      </grid-main>
    </div>
    <div *ngSwitchCase="'gs'">
      <grid-main [class]="'width:100%'">
          <form [formGroup]="gsForm">
            <grid-autocol>
              <grid-form-input [name]="'Enable Hashcat Brain'" [tooltip]="gstip.hashcatBrainEnable">
                <td>
                  <div class="form-check form-switch">
                    <input
                          type="checkbox"
                          id="hashcatBrainEnable"
                          class="form-check-input"
                          formControlName="hashcatBrainEnable"
                          #hashcatBrainEnable
                          (change)="autoSave('hashcatBrainEnable',hashcatBrainEnable.value, true, true)"
                    >
                </div>
              </grid-form-input>
              <div *ngIf="gsForm.get('hashcatBrainEnable').value == '1'">
                <h6><b><u>Hashcat Brain Server Parameters</u></b></h6>
                <grid-form-input [name]="'Host to be used for hashcat brain (must be reachable by agents)'" [tooltip]="gstip.hashcatBrainHost">
                  <td>
                    <input
                            type='text'
                            id="hashcatBrainHost"
                            class='form-control'
                            placeholder="URL"
                            formControlName="hashcatBrainHost"
                            #hashcatBrainHost
                            (change)="autoSave('hashcatBrainHost',hashcatBrainHost.value)"
                      >
                </grid-form-input>
                <grid-form-input [name]="'Port for hashcat brain'" [tooltip]="gstip.hashcatBrainPort">
                  <td>
                    <input
                            type='number'
                            id="hashcatBrainPort"
                            class='form-control'
                            placeholder="I.e. 8080"
                            formControlName="hashcatBrainPort"
                            #hashcatBrainPort
                            (change)="autoSave('hashcatBrainPort',hashcatBrainPort.value)"
                      >
                </grid-form-input>
                <grid-form-input [name]="'Password to be used to access hashcat brain server'" [tooltip]="gstip.hashcatBrainPass">
                  <td>
                    <input
                            type='password'
                            id="hashcatBrainPass"
                            class='form-control'
                            formControlName="hashcatBrainPass"
                            #hashcatBrainPass
                            (change)="autoSave('hashcatBrainPass',hashcatBrainPass.value)"
                      >
                </grid-form-input>
                <hr>
              </div>
              <grid-form-input [name]="'Ignore error messages from crackers containing the string below'" [tooltip]="gstip.hcErrorIgnore">
                <textarea
                        type='text'
                        id="hcErrorIgnore"
                        class='form-control'
                        formControlName="hcErrorIgnore"
                        #hcErrorIgnore
                        (change)="autoSave('hcErrorIgnore',hcErrorIgnore.value)"
                  ></textarea>
              </grid-form-input>
              <grid-form-input [name]="'Number of log entries to be retained'" [tooltip]="gstip.numLogEntries">
                <td>
                  <input
                        type='number'
                        id="numLogEntries"
                        class='form-control'
                        formControlName="numLogEntries"
                        #numLogEntries
                        (change)="autoSave('numLogEntries',numLogEntries.value)"
                  >
              </grid-form-input>
              <grid-form-input [name]="'Set the time format'">
                <select
                      type='text'
                      id="timefmt"
                      class='form-select'
                      formControlName="timefmt"
                      #timefmt
                      (change)="autoSave('timefmt',timefmt.value)"
                >
                <option *ngFor="let d of dateFormat" [value]="d.format">{{ d.description }}</option>
                </select>
              </grid-form-input>
              <grid-form-input [name]="'Max session length users can configure (in hours)'">
                <td>
                  <input
                        type='text'
                        id="maxSessionLength"
                        class='form-control'
                        formControlName="maxSessionLength"
                        #maxSessionLength
                        (change)="autoSave('maxSessionLength',maxSessionLength.value)"
                  >
              </grid-form-input>
              <grid-form-input [name]="'Base hostname/port/protocol to use. Only fill this in to override the auto-determined value'" [tooltip]="gstip.baseHost">
                <input
                      type='text'
                      id="baseHost"
                      class='form-control'
                      formControlName="baseHost"
                      #baseHost
                      (change)="autoSave('baseHost',baseHost.value)"
                >
              </grid-form-input>
              <grid-form-input [name]="'Admin email address displayed on the webpage footer (hidden if empty)'" [tooltip]="gstip.contactEmail">
                <input
                      type='text'
                      id="contactEmail"
                      class='form-control'
                      formControlName="contactEmail"
                      #contactEmail
                      (change)="autoSave('contactEmail',contactEmail.value)"
                >
              </grid-form-input>
              <grid-form-input [name]="'Server level to be logged on the server to file'" [tooltip]="gstip.serverLogLevel">
                <td>
                  <select
                        type='text'
                        id='serverLogLevel'
                        class='form-select'
                        formControlName="serverLogLevel"
                        #serverLogLevel
                        (change)="autoSave('serverLogLevel',serverLogLevel.value)"
                    >
                      <option *ngFor="let sl of serverlog" [ngValue]="sl.id">{{ sl.value }}</option>
                  </select>
              </grid-form-input>
            </grid-autocol>
          </form>
          <form [formGroup]="cookieForm">
            <grid-form-input [name]="'Tooltip Help Level'" [tooltip]="'Manage Global level of tooltip details'">
              <td>
                <select
                      type='text'
                      id="cookieTooltip"
                      class='form-select'
                      formControlName="cookieTooltip"
                      #cookieTooltip
                      (change)="setTooltipLevel(cookieTooltip.value)"
                >
                  <option [value]="0">Concise</option>
                  <option [value]="1">Detailed</option>
                  <option [value]="2">Very Detailed</option>
                </select>
            </grid-form-input>
          </form>
      </grid-main>
    </div>
</div> <!-- End switch  -->



