<app-page-subtitle subtitle="UI Settings"></app-page-subtitle>

<form [formGroup]="form" (submit)="onSubmit()">
  <div class="form-field m-field">
    <label for="timeFormat">Time Format</label>
    <mat-form-field>
      <mat-select formControlName="timefmt" id="timeFormat">
        <mat-option *ngFor="let d of formats" [value]="d.value">{{ d.description }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-field m-field">
    <label for="layout">Layout</label>
    <mat-form-field>
      <mat-select formControlName="layout" id="layout">
        <mat-option *ngFor="let d of layouts" [value]="d.value">{{ d.description }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-field m-field">
    <label for="theme">Theme</label>
    <mat-form-field>
      <mat-select formControlName="theme" id="theme">
        <mat-option *ngFor="let t of themes" [value]="t.value">{{ t.description }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-flat-button color="primary">Save Settings</button>
</form>