<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Cheat Sheet</h4>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <div class="row">
        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
          <ngb-panel title="Required" id="config-panel-one">
            <ng-template ngbPanelContent>
              Use <code>#HL#</code> for hash list and assume all files in current directory.
              If you have Linux agents, please mind the filename case sensitivity!
              <br>
              <p>Rules: Format is <code>-r Filename</code></p>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Attack Modes">
            <ng-template ngbPanelContent>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Value</th>
                    <th scope="col">Attack</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of attackmode">
                    <th scope="row">{{c.value}}</th>
                    <td>{{c.name}}</td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Attack Examples">
            <ng-template ngbPanelContent>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Example</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ax of attackex">
                    <th scope="row">{{ax.value}}</th>
                    <td>{{ax.example}}</td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Built-in charsets in Hashcat">
            <ng-template ngbPanelContent>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Value</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ch of charsets">
                    <th scope="row">{{ch.value}}</th>
                    <td>{{ch.descrip}}</td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Foreign Characters Hashcat">
            <ng-template ngbPanelContent>
              <p>Hashcat uses UTF-8, if you are doing an attack using wordlist as soon as the format is supported it should be fine.
                If you are trying a brute attack, it'll require use the command <code>--hex-charset</code>. Example:
              </p>
              <p>German: --hex-charset -1 c3 -2 8489969c9fa4a9b6bc german.hash ?a?a?a?1?2?a?a</p>
              <p>Encoding: It is better practice encode the custom charsets in the mask, please note From and To in the example. ie. <code>--encoding-from=utf-8</code> or <code>--encoding-to=utf-8</code> </p>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button> -->
</div>
