<mat-dialog-content>
  <form>
    <div class="mb-3">
      <div class="row">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Required</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              Use <code>#HL#</code> for hash list and assume all files in the current directory. If you have Linux agents, please mind the filename case sensitivity!
              <br />
              <p>Rules: Format is <code>-r Filename</code></p>
            </ng-template>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Attack Modes</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <mat-table style="width: 100%" class="mat-elevation-z8" [dataSource]="dataSource1">
                <ng-container matColumnDef="value">
                  <mat-header-cell *matHeaderCellDef scope="col">Value</mat-header-cell>
                  <mat-cell *matCellDef="let c">{{ c._id }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef scope="col">Attack</mat-header-cell>
                  <mat-cell *matCellDef="let c">{{ c.name }}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="['value', 'name']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['value', 'name']"></mat-row>
              </mat-table>
            </ng-template>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Attack Examples</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <mat-table style="width: 100%" class="mat-elevation-z8" [dataSource]="dataSource2">
                <ng-container matColumnDef="value">
                  <mat-header-cell *matHeaderCellDef scope="col">Type</mat-header-cell>
                  <mat-cell *matCellDef="let ax">{{ ax._id }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef scope="col">Example</mat-header-cell>
                  <mat-cell *matCellDef="let ax">{{ ax.name }}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="['value', 'name']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['value', 'name']"></mat-row>
              </mat-table>
            </ng-template>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Built-in charsets in Hashcat</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <mat-table style="width: 100%" class="mat-elevation-z8" [dataSource]="dataSource3">
                <ng-container matColumnDef="value">
                  <mat-header-cell *matHeaderCellDef scope="col">Value</mat-header-cell>
                  <mat-cell *matCellDef="let ch">{{ ch._id }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef scope="col">Description</mat-header-cell>
                  <mat-cell *matCellDef="let ch">{{ ch.name }}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="['value', 'description']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['value', 'description']"></mat-row>
              </mat-table>
            </ng-template>
          </mat-expansion-panel>


          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Foreign Characters Hashcat</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <p>
                Hashcat uses UTF-8. If you are doing an attack using a wordlist, as soon as the format is supported, it should be fine. If you are trying a brute attack, it'll require using the command
                <code>--hex-charset</code>. Example:
              </p>
              <p>
                German: --hex-charset -1 c3 -2 8489969c9fa4a9b6bc german.hash ?a?a?a?1?2?a?a
              </p>
              <p>
                Encoding: It is better practice to encode the custom charsets in the mask. Please note From and To in the example, i.e., <code>--encoding-from=utf-8</code> or <code>--encoding-to=utf-8</code>
              </p>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Cancel</button>
</mat-dialog-actions>
