@for (c of breadcrumbs; track c.url) {
  <div>
    @if (c.label && c.label.length > 0) {
      <div>
        <a routerLink="/" class="text-muted-foreground hover:text-primary transition-colors no-underline"
          ><fa-icon [icon]="faHomeAlt" aria-hidden="true"></fa-icon
        ></a>
        @for (breadcrumb of breadcrumbs; track breadcrumb.url; let last = $last) {
          <span>
            <small>
              <a
                [routerLink]="breadcrumb.url"
                class="text-muted-foreground hover:text-primary transition-colors no-underline"
                >{{ breadcrumb.label }}</a
              >
            </small>
            @if (!last) {
              <span
                ><small> {{ deliminator }} </small></span
              >
            }
          </span>
        }
      </div>
    }
  </div>
}
