
@for (c of breadcrumbs; track c) {
  <div>
    @if (c.label?.length > 0) {
      <div>
        <a routerLink="/" class="btn-outline-gray-600"><fa-icon [icon]="faHomeAlt" aria-hidden="true"></fa-icon></a>
        @for (breadcrumb of breadcrumbs; track breadcrumb; let last = $last) {
          <span>
            <small>
              <a [routerLink]="breadcrumb.url" class="btn-outline-gray-600" style="text-decoration: none">{{ breadcrumb.label }}</a>
            </small>
            @if (!last) {
              <span><small> {{ deliminator }} </small></span>
            }
          </span>
        }
      </div>
    }
  </div>
}





