/* ==================================
          SECTION FILES
   ================================== */

// Notes. Section to customize the files page

.files-theme {
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  color: #345F90;
  text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.files-theme:hover {
	background: #9aa9be;
	opacity: 1;
}

.files-theme.active {
  color: #fff;
  background: #343d49;
}

.tab-slider--body {
  margin-bottom: 20px;
}


.tab-slider--nav {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.tab-slider--tabs {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  background: #f0eaea;
  height: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tab-slider--tabs:after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  border-radius: 35px;
}

.tab-slider--tabs.slide:after {
  left: 50%;
}

// Show file size style

.custom-file-upload-size {
  position:relative;
  top: 50%; left:0;
  font-size: 0.7em;
  line-height: 100%;
  margin-top: -0.35em;
  font-size:medium;
  font-family:Verdana;
  font-weight:bold;
}
