<div [ngSwitch]="whichView">
  <div *ngSwitchCase="'create'">
    <app-page-subtitle [subtitle]="'Create Preprocessor'"></app-page-subtitle>
  </div>
  <div *ngSwitchCase="'edit'">
    <app-page-subtitle [subtitle]="'Edit Preprocessor'"></app-page-subtitle>
  </div>
</div>
<!-- Body -->
<grid-main [class]="'width:100%;'" [centered]="true">
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <grid-form-input [name]="'Name'" [labelclass]="'requiredak'">
        <input
              type='text'
              id="name"
              class='form-control'
              formControlName="name"
        >
      </grid-form-input>
      <grid-form-input [name]="'Binary Basename'" [labelclass]="'requiredak'">
        <input
              type='text'
              id="binname"
              class='form-control'
              formControlName="binaryName"
        >
      </grid-form-input>
      <grid-form-input [name]="'Download URL'" [labelclass]="'requiredak'">
        <input
              type='text'
              id="url"
              class='form-control'
              formControlName="url"
        >
      </grid-form-input>
      <grid-form-input [name]="'Commands (set to empty if not available)'">
        <td>
          <input
                type="text"
                id="keyspaceCommand"
                class="form-control"
                formControlName="keyspaceCommand"
          >
        </td>
        <td>
          <input
                type="text"
                id="skipCommand"
                class="form-control"
                formControlName="skipCommand"
          >
        </td>
        <td>
          <input
                type="text"
                id="limitCommand"
                class="form-control"
                formControlName="limitCommand"
          >
        </td>
      </grid-form-input>
    </div>
    <div [ngSwitch]="whichView">
      <div *ngSwitchCase="'create'">
        <grid-buttons>
          <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
          <button-submit [name]="'Create'"></button-submit>
        </grid-buttons>
      </div>
      <div *ngSwitchCase="'edit'">
        <grid-buttons>
          <button-submit [name]="'Update'"></button-submit>
        </grid-buttons>
      </div>
    </div>
  </form>
</grid-main>
