@if (showPageWrapper) {
  <app-page [title]="title">
    <ng-container *ngTemplateOutlet="formBody"></ng-container>
  </app-page>
} @else {
  <ng-container *ngTemplateOutlet="formBody"></ng-container>
}

<ng-template #formBody>
  <grid-main [narrow]="!isServerAction && sections.length < 2">
    @if (!showPageWrapper && title) {
      <app-page-subtitle [subtitle]="title"></app-page-subtitle>
    }
    <!-- Show own content only for server actions -->
    @if (isServerAction) {
      <app-server-actions></app-server-actions>
    }

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="custom-form">
      <div class="custom-form__sections">
        @for (section of sections; track section[0]?.label || section[0]?.name) {
          <div class="custom-form__section">
            @for (field of section; track field.name || field.label) {
              @if (field.type !== 'hidden') {
                @if (field.isTitle) {
                  <h3 class="custom-form__section-title">{{ field.label }}</h3>
                } @else if (field.type === 'checkbox') {
                  <div class="custom-form__checkbox-cell" [class.custom-form__cell--full]="field.fullWidth">
                    <input-check
                      class="custom-form__checkbox"
                      [title]="field.label!"
                      [tooltip]="asString(field.tooltip)!"
                      [inputId]="'dynform-' + field.name"
                      [formControlName]="field.name!"
                    ></input-check>
                  </div>
                } @else {
                  <div [class.custom-form__cell--full]="field.fullWidth">
                    @switch (field.type) {
                      @case ('number') {
                        <input-number
                          [title]="field.label!"
                          [tooltip]="asString(field.tooltip)!"
                          [isRequired]="isRequired(field)"
                          [inputId]="'dynform-' + field.name"
                          [formControlName]="field.name!"
                        ></input-number>
                      }
                      @case ('text') {
                        <input-text
                          inputType="text"
                          [title]="field.label!"
                          [tooltip]="asString(field.tooltip)!"
                          [isRequired]="isRequired(field)"
                          [inputId]="'dynform-' + field.name"
                          [formControlName]="field.name!"
                        ></input-text>
                      }
                      @case ('password') {
                        <input-text
                          inputType="password"
                          [title]="field.label!"
                          [tooltip]="asString(field.tooltip)!"
                          [isRequired]="isRequired(field)"
                          [inputId]="'dynform-' + field.name"
                          [formControlName]="field.name!"
                        ></input-text>
                      }
                      @case ('email') {
                        <input-text
                          inputType="email"
                          [title]="field.label!"
                          [tooltip]="asString(field.tooltip)!"
                          [isRequired]="isRequired(field)"
                          [inputId]="'dynform-' + field.name"
                          [formControlName]="field.name!"
                        ></input-text>
                      }
                      @case ('url') {
                        <input-text
                          inputType="url"
                          [title]="field.label!"
                          [tooltip]="asString(field.tooltip)!"
                          [isRequired]="isRequired(field)"
                          [inputId]="'dynform-' + field.name"
                          [formControlName]="field.name!"
                        ></input-text>
                      }
                      @case ('textarea') {
                        <input-text-area
                          [title]="field.label!"
                          [tooltip]="asString(field.tooltip)!"
                          [isRequired]="isRequired(field)"
                          [inputId]="'dynform-' + field.name"
                          [formControlName]="field.name!"
                        ></input-text-area>
                      }
                      @case ('select') {
                        <input-select
                          [title]="field.label!"
                          [tooltip]="asString(field.tooltip)!"
                          [isRequired]="isRequired(field)"
                          [inputId]="'dynform-' + field.name"
                          [items]="toSelectItems(field)"
                          [formControlName]="field.name!"
                        ></input-select>
                      }
                      @case ('asyncSelect') {
                        <input-select
                          [title]="field.label!"
                          [tooltip]="asString(field.tooltip)!"
                          [isRequired]="isRequired(field)"
                          [inputId]="'dynform-' + field.name"
                          [items]="toSelectItems(field)"
                          [isLoading]="isLoadingSelect"
                          [formControlName]="field.name!"
                        ></input-select>
                      }
                    }
                  </div>
                }
              }
            }
          </div>
        }
      </div>

      <grid-buttons>
        @if (isCreateMode) {
          <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
        }
        @if (!isCreateMode && showDeleteButton) {
          <button-submit name="Delete" [disabled]="false" type="delete" (click)="onDelete()">Delete</button-submit>
        }
        <!-- If the Server Actions component is displayed, the button must not be displayed.-->
        @if (!isServerAction) {
          <button-submit [name]="buttonText" [disabled]="false" [loading]="isSubmitting"></button-submit>
        }
      </grid-buttons>
    </form>
  </grid-main>
</ng-template>
