<app-page [title]="title">
  <grid-main [narrow]="!isServerAction && sections.length < 2">
    <!-- Show own content only for server actions -->
    @if (isServerAction) {
      <app-server-actions></app-server-actions>
    }

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="custom-form">
      <div class="custom-form__sections">
        @for (section of sections; track section[0]?.label || section[0]?.name) {
          <div class="custom-form__section">
            @for (field of section; track field.name || field.label) {
              @if (field.type !== 'hidden') {
                @if (field.isTitle) {
                  <h3 class="custom-form__section-title">{{ field.label }}</h3>
                } @else if (field.type === 'checkbox') {
                  <div class="custom-form__checkbox-cell">
                    <mat-checkbox
                      class="custom-form__checkbox"
                      [formControlName]="field.name!"
                      [matTooltip]="field.label"
                      matTooltipPosition="above"
                      appOverflowTooltip=".custom-form__checkbox-label"
                    >
                      <span class="custom-form__checkbox-label">
                        {{ field.label }}
                      </span>
                    </mat-checkbox>
                  </div>
                } @else {
                  <div>
                    <div class="field-stack">
                      <label class="field-stack__label" [attr.for]="'dynform-' + field.name">
                        <span
                          class="field-stack__label-text"
                          [matTooltip]="field.label"
                          matTooltipPosition="above"
                          appOverflowTooltip
                        >
                          {{ field.label }}
                        </span>
                        @if (field.tooltip) {
                          <mat-icon
                            matTooltip="{{ field.tooltip }}"
                            matTooltipPosition="below"
                            matTooltipClass="tooltip-custom-style"
                            container="body"
                            aria-hidden="true"
                          >
                            info
                          </mat-icon>
                        }
                      </label>
                      <mat-form-field class="field-stack__field">
                        @switch (field.type) {
                          @case ('number') {
                            <input
                              [id]="'dynform-' + field.name"
                              matInput
                              type="number"
                              [formControlName]="field.name!"
                            />
                          }
                          @case ('text') {
                            <input
                              [id]="'dynform-' + field.name"
                              matInput
                              [type]="field.type"
                              [formControlName]="field.name!"
                            />
                          }
                          @case ('password') {
                            <input
                              [id]="'dynform-' + field.name"
                              matInput
                              type="password"
                              [formControlName]="field.name!"
                            />
                          }
                          @case ('textarea') {
                            <textarea
                              [id]="'dynform-' + field.name"
                              matInput
                              [formControlName]="field.name!"
                            ></textarea>
                          }
                          @case ('email') {
                            <input
                              [id]="'dynform-' + field.name"
                              matInput
                              [type]="field.type"
                              [formControlName]="field.name!"
                            />
                          }
                          @case ('url') {
                            <input
                              [id]="'dynform-' + field.name"
                              matInput
                              [type]="field.type"
                              [formControlName]="field.name!"
                            />
                          }
                          @case ('select') {
                            <mat-select [id]="'dynform-' + field.name" [formControlName]="field.name!">
                              @for (
                                option of Array.isArray(field.selectOptions) ? field.selectOptions : [];
                                track option.value
                              ) {
                                <mat-option [value]="option.value">
                                  {{ option.label }}
                                </mat-option>
                              }
                            </mat-select>
                          }
                          @case ('selectd') {
                            <mat-select [id]="'dynform-' + field.name" [formControlName]="field.name!">
                              @for (
                                option of Array.isArray(field.selectOptions$) ? field.selectOptions$ : [];
                                track option.id
                              ) {
                                <mat-option [value]="option.id">
                                  {{ option.name }}
                                </mat-option>
                              }
                            </mat-select>
                            @if (isLoadingSelect) {
                              <mat-spinner diameter="16"></mat-spinner>
                            }
                          }
                        }
                        @if (form.controls[field.name!].hasError('required')) {
                          <mat-error> {{ field.label }} is required </mat-error>
                        }
                        @if (form.controls[field.name!].hasError('invalidUrl')) {
                          <mat-error> Invalid URL format </mat-error>
                        }
                      </mat-form-field>
                    </div>
                  </div>
                }
              }
            }
          </div>
        }
      </div>

      <grid-buttons>
        @if (isCreateMode) {
          <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
        }
        @if (!isCreateMode && showDeleteButton) {
          <button-submit name="Delete" [disabled]="false" type="delete" (click)="onDelete()">Delete</button-submit>
        }
        <!-- If the Server Actions component is displayed, the button must not be displayed.-->
        @if (!isServerAction) {
          <button-submit [name]="buttonText" [disabled]="false" [loading]="isSubmitting"></button-submit>
        }
      </grid-buttons>
    </form>
  </grid-main>
</app-page>
