<div fxLayout="row" fxLayoutAlign="start stretch" fxLayout.lt-md="column">
  <div fxFlex="60" fxFlex.lt-md="100">
    <grid-main>
        <div>
          <app-page-subtitle *ngIf="whichView === 'create'" [subtitle]="'New Preconfigured Tasks'"></app-page-subtitle>
          <div *ngIf="whichView === 'edit' || whichView === 'task'">
            <h2 class="h5 mb-4">New Preconfigured Tasks <small>(Copied From {{whichView === 'edit' ? 'Pretask' : 'Task'}} ID {{editedIndex}})</small></h2>
            <br>
          </div>
        </div>
      <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
          <div>

            <input-text title="Name" formControlName="taskName"></input-text>
            <input-color title="Color" formControlName="color"></input-color>

          </div>
          <div>
              <input-text-area title="Command line" formControlName="attackCmd"></input-text-area>
              <blacklist-attack [value]="createForm.get('attackCmd').value"></blacklist-attack>
          </div>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span><b>Advanced Settings</b></span>
                </mat-panel-title>
              </mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

                    <input-number title="Chunk size" formControlName="chunkTime" tooltip="Measure is in seconds time"></input-number>
                    <input-number title="Status timer" formControlName="statusTimer" tooltip="Measure is in seconds time"></input-number>
                    <input-select title="Benchmark Type" formControlName="useNewBench" [items]="selectBenchmarktype" tooltip="Only applies to Hashcat. If binary type generic is selected this benchmark option will be ignored"></input-select>
                    <input-select title="Binary type" formControlName="crackerBinaryTypeId" [items]="selectCrackertype" tooltip="The task will run using the binary type selected."></input-select>
                    <input-check title="CPU only" formControlName="isCpuTask" tooltip="The task will work only with CPU agents assigned"></input-check>
                    <input-check title="Small task" formControlName="isSmall" tooltip="Only one agent gets assigned to it"></input-check>

                </div>
          </mat-expansion-panel>
        </mat-accordion>

      <grid-buttons>
        <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
        <button-submit [name]="'Create'"></button-submit>
      </grid-buttons>

    </form>
  </grid-main>
</div>
<div fxFlex="40" fxFlex.lt-md="100">
        <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="panel1">
          <ngb-panel id="panel0">
            <ng-template ngbPanelTitle>
              <span><b>Wordlists</b></span>
            </ng-template>
            <ng-template ngbPanelContent>
              <table style="width: 100%" class="table table-striped table-hover table-sm" datatable [dtOptions]="dtOptions">
                <thead class="thead-light">
                  <tr>
                      <th class="rounded-start rounded-end">File Name</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let f of allfiles | search:'0':'fileType'">
                      <td class="width: 100px">
                        <form [formGroup]="createForm" novalidate>
                          <div class="form-check" >
                            <input class="form-check-input" (change)="onChange(f.fileId, f.fileType, f.filename, $event.target )" type="checkbox" [checked]="onChecked(f.fileId)">
                            <label class="form-check-label" for="{{f.filename}}">
                                {{f.filename | shortenString:35 }}
                            </label>
                            <fa-icon *ngIf="f.isSecret === true" aria-hidden="true"></fa-icon>
                            <fa-icon
                                    placement="bottom"
                                    [ngbTooltip]="wordlist"
                                    container="body"
                                    aria-hidden="true"
                            >
                            faInfoCircle
                            </fa-icon>
                            <ng-template #wordlist>
                              <div class="d-flex flex-column">
                                <span>Full Name: {{f.filename}}</span>
                                <span>Line Count: {{f.lineCount}}</span>
                                <span class="text-left">Size: {{ f.size | fileSize:false}}</span>
                              </div>
                            </ng-template>
                          </div>
                        </form>
                      </td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span><b>Rules</b></span>
            </ng-template>
            <ng-template ngbPanelContent>
              <table style="width: 100%" class="table table-striped table-hover table-sm" datatable [dtOptions]="dtOptions" >
                <thead class="thead-light">
                  <tr>
                      <th class="rounded-start rounded-end">File Name</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let f of allfiles | search:'1':'fileType'">
                      <td>
                        <form [formGroup]="createForm" novalidate>
                          <div class="form-check" >
                            <input class="form-check-input" (change)="onChange(f.fileId, f.fileType, f.filename, $event.target )" type="checkbox" [checked]="onChecked(f.fileId)">
                            <label class="form-check-label" for="{{f.filename}}">
                                {{f.filename | shortenString:35 }}
                            </label>
                            <fa-icon *ngIf="f.isSecret === true" aria-hidden="true">faLock</fa-icon>
                            <fa-icon
                                    placement="bottom"
                                    [ngbTooltip]="rules"
                                    container="body"
                                    aria-hidden="true"
                            >
                            faInfoCircle
                            </fa-icon>
                            <ng-template #rules>
                              <div class="d-flex flex-column">
                                <span>Full Name: {{f.filename}}</span>
                                <span>Line Count: {{f.lineCount}}</span>
                                <span class="text-left">Size: {{ f.size | fileSize:false}}</span>
                              </div>
                            </ng-template>
                          </div>
                        </form>
                      </td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <span><b>Other</b></span>
            </ng-template>
            <ng-template ngbPanelContent>
              <table style="width: 100%" class="table table-striped table-hover table-sm" datatable [dtOptions]="dtOptions" >
                <thead class="thead-light">
                  <tr>
                      <th class="rounded-start rounded-end">File Name</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let f of allfiles | search:'2':'fileType'">
                      <td>
                        <form [formGroup]="createForm" novalidate>
                          <div class="form-check" >
                            <input class="form-check-input" (change)="onChange(f.fileId, f.fileType, f.filename, $event.target )" type="checkbox" [checked]="onChecked(f.fileId)">
                            <label class="form-check-label" for="{{f.filename}}">
                                {{f.filename | shortenString:35 }}
                            </label>
                            <fa-icon *ngIf="f.isSecret === true" aria-hidden="true">faLock</fa-icon>
                            <fa-icon
                                    placement="bottom"
                                    [ngbTooltip]="other"
                                    container="body"
                                    aria-hidden="true"
                            >
                            faInfoCircle
                            </fa-icon>
                            <ng-template #other>
                              <div class="d-flex flex-column">
                                <span>Full Name: {{f.filename}}</span>
                                <span>Line Count: {{f.lineCount}}</span>
                                <span class="text-left">Size: {{ f.size | fileSize:false}}</span>
                              </div>
                            </ng-template>
                          </div>
                        </form>
                      </td>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
    </div>
  </div>


