<a [href]="'#/agents/show-agents/' + agent.id + '/edit'"
   class="tile" [ngClass]="agentStatusTileClass">

  <div class="status-bar">
    <div class="status-item" [ngClass]="agentStatusClass">
      <i class="fas" [ngClass]="{'fa-check-circle': agentStatusContent === 'ok', 'fa-exclamation-circle': agentStatusContent === 'warning', 'fa-exclamation-triangle': agentStatusContent === 'critical' || agentStatusContent === 'error', 'fa-ban': agentStatusContent === 'disabled'}"></i>
        {{ agentStatusContent | uppercase }}
    </div>

    <div class="status-item" [ngClass]="cpuLoadStatusClass">
      <i class="fas fa-chart-line"></i>
      CPU:&nbsp;{{ cpuLoad }}&nbsp;%
    </div>

    <div class="status-item" [ngClass]="gpuLoadStatusClass" *ngIf="!agent.cpuOnly">
      <i class="fas fa-chart-line"></i>
      GPU:&nbsp;{{ gpuLoad }}&nbsp;%
    </div>

    <div class="status-item" [ngClass]="gpuTempStatusClass" *ngIf="!agent.cpuOnly">
      <i class="fas" [ngClass]="{'fa-thermometer-full': gpuTemp >= 70, 'fa-thermometer-half': gpuTemp > 30 && gpuTemp < 70, 'fa-thermometer-empty': gpuTemp <= 30}"></i>
      GPU:&nbsp;{{ gpuTemp }}&nbsp;°C
    </div>
  </div>

  <div class="tile-header">
    <i class="fas" [ngClass]="agentIcon"></i>
    <h2>{{ agent.agentName.length > 26 ? `${agent.agentName.substring(0, 26)}...` : agent.agentName }}</h2>
  </div>

  <div class="tile-body">
    <p><i class="fas fa-calendar-alt"></i> Last Activity: <strong>{{ lastActivity }}</strong></p>
  </div>
</a>
