<div>
  <app-table>
    <app-page-title title="Agents Dashboard"></app-page-title>

    <div class="kachel-container">
      <app-agents-dashboard-tile
        *ngFor="let agent of agents"
        [agent]="agent"
        [agentIcon]="getAgentIcon(agent)"
        [lastActivity]="getLastActivity(agent.lastTime)"
        [cpuLoad]="getMaxOrAvgValue(agent, ASC.CPU_UTIL, STATCALCULATION.AVG_VALUE)"
        [gpuLoad]="getMaxOrAvgValue(agent, ASC.GPU_UTIL, STATCALCULATION.AVG_VALUE)"
        [gpuTemp]="getMaxOrAvgValue(agent, ASC.GPU_TEMP, STATCALCULATION.MAX_VALUE)"
        [cpuLoadStatusClass]="getCPULoadStatus(getMaxOrAvgValue(agent, ASC.CPU_UTIL, STATCALCULATION.AVG_VALUE))"
        [gpuLoadStatusClass]="getGPULoadStatus(getMaxOrAvgValue(agent, ASC.GPU_UTIL, STATCALCULATION.AVG_VALUE))"
        [gpuTempStatusClass]="getGPUTempStatus(getMaxOrAvgValue(agent, ASC.GPU_TEMP, STATCALCULATION.MAX_VALUE))"
        [agentStatusTileClass]="getAgentStatusTileClass(agent)"
        [agentStatusClass]="getAgentStatus(agent)"
        [agentStatusContent]="getAgentStatus(agent)">
      </app-agents-dashboard-tile>
    </div>

  </app-table>
</div>
