<app-page-title [title]="'Global Permission Group - '+editedGPG.name+''"></app-page-title>
<!-- Table current members -->
<div class="row g-3">
  <div class="col-md-5" *ngIf="editedGPG">
    <app-page-subtitle [subtitle]="'Members'"></app-page-subtitle>
    <div class="table-responsive">
      &nbsp;
        <table style="width: 100%" class="table table-striped table-hover table-sm" datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger">
          <thead class="thead-light">
            <tr>
              <th class="rounded-start">ID</th>
              <th class="rounded-end">Username</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let g of editedGPG.user">
              <td>
              {{ g.id }}
              </td>
              <td>
                <a [routerLink]="['/users/',g.id,'edit']">{{ g.name }}</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
<!-- Set permissions -->
  <div [ngClass]="editedGPG ? 'col-md-7':'' ">
    <app-page-subtitle [subtitle]="'Set Permissions'"></app-page-subtitle>
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <grid-form-input [name]="'Permission Group Name'" [labelclass]="'requiredak'">
        <input
              type='text'
              id="name"
              class='form-control'
              formControlName="name"
        >
      </grid-form-input>
      <div class="row">
        <div class="col">
          <grid-form-input [name]="'Select/Deselect All'">
            <td>
              <div class="form-check form-switch">
                  <input type="checkbox" class="form-check-input" (change)="selectPerm()">
              </div>
          </grid-form-input>
        </div>
      </div>
      <div formGroupName="permissions">

      <ngb-accordion #acc="ngbAccordion" >
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span><b>Agents</b></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <h5>Agent</h5>
            <div class="row">
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAgentCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAgentDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAgentRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAgentUpdate">
                    </div>
                </grid-form-input>
              </div>
              <hr>
              <h5>Agent Stats</h5>
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAgentStatCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAgentStatDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAgentStatRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAgentStatUpdate">
                    </div>
                </grid-form-input>
              </div>
              <hr>
              <h5>Voucher</h5>
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permRegVoucherCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permRegVoucherDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permRegVoucherRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permRegVoucherUpdate">
                    </div>
                </grid-form-input>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <ngb-accordion #acc="ngbAccordion" >
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span><b>Tasks</b></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <h5>Task</h5>
            <div class="row">
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permTaskCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permTaskDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permTaskRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permTaskUpdate">
                    </div>
                </grid-form-input>
              </div>
              <hr>
              <h5>PreTask</h5>
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permPretaskCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permPretaskDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permPretaskRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permPretaskUpdate">
                    </div>
                </grid-form-input>
              </div>
              <hr>
              <h5>SuperTask</h5>
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permSupertaskCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permSupertaskDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permSupertaskRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permSupertaskUpdate">
                    </div>
                </grid-form-input>
              </div>
              <hr>
              <h5>Chunks</h5>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permChunkDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permChunkRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permChunkUpdate">
                    </div>
                </grid-form-input>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <ngb-accordion #acc="ngbAccordion" >
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span><b>Hashlists</b></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <h5>Hashlist</h5>
            <div class="row">
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permHashlistCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permHashlistDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permHashlistRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permHashlistUpdate">
                    </div>
                </grid-form-input>
              </div>
              <hr>
              <h5>SuperHaslist</h5>
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permHashlistHashlistCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permHashlistHashlistRead">
                    </div>
                </grid-form-input>
              </div>
              <hr>
              <h5>Hash</h5>
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permHashTypeCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permHashTypeDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permHashRead">
                    </div>
                </grid-form-input>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <ngb-accordion #acc="ngbAccordion" >
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span><b>Files</b></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="row">
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permFileCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permFileDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permFileRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permFileUpdate">
                    </div>
                </grid-form-input>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <ngb-accordion #acc="ngbAccordion" >
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span><b>Configuration</b></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <h5>Global Settings</h5>
            <div class="row">
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permConfigCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permConfigDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permConfigRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permConfigUpdate">
                    </div>
                </grid-form-input>
              </div>
              <hr>
              <h5>Agent Binary</h5>
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAgentBinaryCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAgentBinaryDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAgentBinaryRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAgentBinaryUpdate">
                    </div>
                </grid-form-input>
              </div>
              <hr>
              <h5>Cracker Binary</h5>
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permCrackerBinaryCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permCrackerBinaryDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permCrackerBinaryRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permCrackerBinaryUpdate">
                    </div>
                </grid-form-input>
              </div>
              <hr>
              <h5>Cracker Binary Type</h5>
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permCrackerBinaryTypeCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permCrackerBinaryTypeDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permCrackerBinaryTypeRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permCrackerBinaryTypeUpdate">
                    </div>
                </grid-form-input>
              </div>
              <hr>
              <h5>Preprocessor</h5>
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permPreprocessorCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permPreprocessorDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permPreprocessorRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permPreprocessorUpdate">
                    </div>
                </grid-form-input>
              </div>
              <hr>
              <h5>Health Check</h5>
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permHealthCheckCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permHealthCheckDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permHealthCheckRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permHealthCheckUpdate">
                    </div>
                </grid-form-input>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <ngb-accordion #acc="ngbAccordion" >
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span><b>Users</b></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <h5>User</h5>
            <div class="row">
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permUserCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permUserDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permUserRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permUserUpdate">
                    </div>
                </grid-form-input>
              </div>
              <hr>
              <h5>Notifications</h5>
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permNotificationSettingCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permNotificationSettingDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permNotificationSettingRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permNotificationSettingUpdate">
                    </div>
                </grid-form-input>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

      <ngb-accordion #acc="ngbAccordion" >
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span><b>Permissions</b></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <h5>Global Permissions</h5>
            <div class="row">
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permRightGroupCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permRightGroupDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permRightGroupRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permRightGroupUpdate">
                    </div>
                </grid-form-input>
              </div>
              <hr>
              <h5>Access Groups</h5>
              <div class="col">
                <grid-form-input [name]="'Create'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAccessGroupCreate">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Delete'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAccessGroupDelete">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Read'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAccessGroupRead">
                    </div>
                </grid-form-input>
              </div>
              <div class="col">
                <grid-form-input [name]="'Update'">
                  <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" formControlName="permAccessGroupUpdate">
                    </div>
                </grid-form-input>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <button-submit [name]="'Update'"></button-submit>
    </form>
  </div>
</div>
