<grid-main>
  <app-page-title [title]="'Global Permission Group'"></app-page-title>
  <app-page-subtitle [subtitle]="'Authorization Matrix'"></app-page-subtitle>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Update Global Permission Name</mat-label>
      <input matInput type="text" formControlName="name"/>
      <button mat-icon-button matSuffix>
        <mat-icon *ngIf="!processing">save</mat-icon>
        <mat-spinner *ngIf="processing" diameter="20" color="accent"></mat-spinner>
      </button>
    </mat-form-field>
  </form>
</grid-main>
<app-table>
  <access-permission-groups-user-table [accesspermgroupId]="editedGPGIndex"></access-permission-groups-user-table>
</app-table>
<app-table *ngIf="editedGPG?.userMembers">
  <app-page-subtitle [subtitle]="'User Members'"></app-page-subtitle>
  <access-permission-groups-users-table [accesspermgroupId]="editedGPGIndex"></access-permission-groups-users-table>
</app-table>

