<ng-container *ngIf="tableColumn.routerLink">
  <ng-container *ngFor="let link of tableColumn.routerLink(element) | async">
    <ng-container *ngIf="link.label || link.routerLink">

      <!-- If routerLink is set, render as link <a> -->
      <ng-container *ngIf="link.routerLink; else plainText">
        <a [routerLink]="link.routerLink" [title]="link.tooltip ?? ''" class="link">
          <ng-container *ngIf="link.label; else fallbackLabel">
            {{ link.label }}
          </ng-container>
          <ng-template #fallbackLabel>
            {{ element[tableColumn.dataKey] }}
          </ng-template>
          <ng-container *ngIf="link.icon?.faIcon">
            <fa-icon [icon]="link.icon.faIcon" [title]="link.icon.tooltip ?? ''"></fa-icon>
          </ng-container>
        </a>
      </ng-container>

      <!-- If no routerLink, render as plain text <span> -->
      <ng-template #plainText>
          <span>
            <ng-container *ngIf="link.label; else fallbackPlain">
              {{ link.label }}
            </ng-container>
            <ng-template #fallbackPlain>
              {{ element[tableColumn.dataKey] }}
            </ng-template>
            <ng-container *ngIf="link.icon?.faIcon">
              <fa-icon [icon]="link.icon.faIcon" [title]="link.icon.tooltip ?? ''"></fa-icon>
            </ng-container>
          </span>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>
