<app-page-subtitle [subtitle]="'Access Group'"></app-page-subtitle>
<grid-main [class]="'width:100%;'" [centered]="true">
    <form [formGroup]="Form" (ngSubmit)="onSubmit()">
      <div class="row">
          <grid-form-input [name]="'Name'" [labelclass]="'requiredak'">
            <input
                  type='text'
                  id="groupName"
                  class='form-control'
                  formControlName="groupName"
            >
          </grid-form-input>
          <div [ngSwitch]="whichView">
            <div *ngSwitchCase="'create'">
              <button-submit [name]="'Create'"></button-submit>
            </div>
            <div *ngSwitchCase="'edit'">
              <button-submit [name]="'Update'"></button-submit>
            </div>
          </div>
      </div>
  </form>
</grid-main>
