<!-- Spinner Loading -->
<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<!-- Body -->
<section> &nbsp;
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="layout-col shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
              <div [ngSwitch]="whichView">
                <div *ngSwitchCase="'create'">
                  <h2 class="h5 mb-4">Create Preprocessor</h2><br>
                </div>
                <div *ngSwitchCase="'edit'">
                  <h2 class="h5 mb-4">Edit Preprocessor</h2><br>
                </div>
              </div>
              <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                      <div class="form-group">
                        <div class="form-outline">
                          <label class="form-label requiredak" for="setname">Name</label>
                          <input
                                type='text'
                                id="name"
                                class='form-control'
                                formControlName="name"
                          >
                        </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                          <label class="form-label requiredak" for="setbinname">Binary Basename</label>
                          <input
                                type='text'
                                id="binname"
                                class='form-control'
                                formControlName="binaryName"
                          >
                        </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                          <label class="form-label requiredak" for="seturl">Download URL</label>
                          <input
                                type='text'
                                id="url"
                                class='form-control'
                                formControlName="url"
                          >
                        </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                          <label class="form-label" for="seturl">Commands (set to empty if not available)</label>
                          <td>
                            <input
                                  type="text"
                                  id="keyspaceCommand"
                                  class="form-control"
                                  formControlName="keyspaceCommand"
                            >
                          </td>
                          <td>
                            <input
                                  type="text"
                                  id="skipCommand"
                                  class="form-control"
                                  formControlName="skipCommand"
                            >
                          </td>
                          <td>
                            <input
                                  type="text"
                                  id="limitCommand"
                                  class="form-control"
                                  formControlName="limitCommand"
                            >
                          </td>
                        </div>
                      </div>
                      &nbsp;
                    </div>
                    <div [ngSwitch]="whichView">
                      <div *ngSwitchCase="'create'">
                        <button  class="btn btn-gray-800" type="submit">Create</button>
                      </div>
                      <div *ngSwitchCase="'edit'">
                        <button  class="btn btn-gray-800" type="submit">Save</button>
                      </div>
                    </div>
            </form>
      </div>
    </div>
  </div>
</div>
</section>
