<div class="row g-3">
  <div class="col-md-7">
    <grid-main *ngIf="!isLoading">
      <app-page-title [title]="type === 3 ? 'SuperHashlist details' : 'HashList details'" [subbutton]="false"></app-page-title>
      <app-page-subtitle [subtitle]="'Import pre-cracked hashes'"></app-page-subtitle>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <input-text title="Name" formControlName="name"></input-text>
          <div fxLayout="row" fxLayoutGap="5px">
            <simulate-form-field label="Hash Type" message="{{ hashtype.id }} - {{ hashtype.description }}"></simulate-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="5px">
            <input-text title="Hashes" formControlName="hashCount"></input-text>
            <simulate-form-field
              label="Salted"
              [message]="form.get('isSalted')?.value ? 'Yes' : 'No'">
            </simulate-form-field>

            <input-text title="Format" formControlName="format"></input-text>
          </div>
          <div fxLayout="column">
            <input-text title="Field separator" formControlName="separator"></input-text>
            <input-text-area title="Hashes" formControlName="hashes"></input-text-area>
          </div>

          <grid-buttons>
            <button-submit [name]="'Pre-crack hashes'"></button-submit>
            <div *ngIf="isCreatingLoading">
              <mat-spinner diameter="24" color="accent"></mat-spinner>
            </div>
          </grid-buttons>
      </form>
    </grid-main>
  </div>
</div>
<div *ngIf="isLoading">
  <p>Loading...</p>
</div>
