<ng-container *ngIf="openOnMouseEnter">
  <button
    mat-button
    #menuTrigger="matMenuTrigger"
    #menuTriggerButton
    [ngClass]="cls"
    [matMenuTriggerFor]="actionMenu"
    (click)="navigateToFirst($event)"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave($event)"
    (focus)="preventFocus($event)"
    [disabled]="disabled"
    [class.active]="isActive"
  >
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    <ng-container *ngIf="label">
      {{ label }}
    </ng-container>
  </button>

  <mat-menu #actionMenu="matMenu" [hasBackdrop]="false">
    <ng-container *ngFor="let section of actionMenuItems; let last = last">
      <button
        mat-menu-item
        *ngFor="let item of section"
        (click)="onMenuItemClick(item)"
        [class.text-critical]="item.red"
      >
        <div *ngIf="iconContainsDiscord(item.icon)" style="display: inline; padding-right: 6px">
          <fa-icon [icon]="faDiscord" [style.color]="faIconColor" aria-hidden="true"></fa-icon>
        </div>
        <div *ngIf="iconContainsGithub(item.icon)" style="display: inline; padding-right: 10px">
          <fa-icon [icon]="faGithub" [style.color]="faIconColor" aria-hidden="true"></fa-icon>
        </div>
        <div *ngIf="iconContainsPaperplane(item.icon)" style="display: inline; padding-right: 10px">
          <fa-icon [icon]="faPaperplane" [style.color]="faIconColor" aria-hidden="true"></fa-icon>
        </div>
        <div *ngIf="iconContainsGlobe(item.icon)" style="display: inline; padding-right: 10px">
          <fa-icon [icon]="faGlobe" [style.color]="faIconColor" aria-hidden="true"></fa-icon>
        </div>
        <div *ngIf="iconContainsBook(item.icon)" style="display: inline; padding-right: 10px">
          <fa-icon [icon]="faBook" [style.color]="faIconColor" aria-hidden="true"></fa-icon>
        </div>
        {{ item.label }}
      </button>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
  </mat-menu>
</ng-container>

<ng-container *ngIf="!openOnMouseEnter">
  <button
    mat-button
    [ngClass]="cls"
    [matMenuTriggerFor]="actionMenu"
    #menuTrigger="matMenuTrigger"
    (click)="$event.stopPropagation()"
    [disabled]="disabled"
    [class.active]="isActive"
  >
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    <ng-container *ngIf="label">
      {{ label }}
    </ng-container>
  </button>
  <mat-menu #actionMenu="matMenu">
    <ng-container *ngFor="let section of actionMenuItems; let last = last">
      <button
        mat-menu-item
        *ngFor="let item of section"
        (click)="onMenuItemClick(item)"
        [class.text-critical]="item.red"
      >
        <mat-icon *ngIf="item.icon" [color]="item.red ? 'warn' : 'primary'">{{ item.icon }}</mat-icon>
        {{ item.label }}
      </button>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
  </mat-menu>
</ng-container>
