<div fxLayout="row" fxLayoutAlign="start stretch" fxLayout.lt-md="column">
  <div fxFlex="70" fxFlex.lt-md="100">
    <grid-main>
      <app-page-title [title]="'New Task'" [subbutton]="false"></app-page-title>
      <form [formGroup]="createForm" (ngSubmit)="onSubmit()">

        <input-text title="Name" formControlName="taskName"></input-text>
        <input-color title="Color" formControlName="color"></input-color>

        <input-multiselect
          [isLoading]="isLoading"
          [placeholder]="'Hashlists...'"
          [items]="selectHashlists"
          [label]="'Select or search Hashlists:'"
          [mergeIdAndName]="true"
          [multiselectEnabled]="false"
          formControlName="hashlistIds"
          style="flex: 1;"
        ></input-multiselect>

        <div>
          <input-text-area title="Attack command" formControlName="attackCmd"></input-text-area>
          <blacklist-attack [value]="createForm.get('attackCmd').value"></blacklist-attack>
          <button mat-icon-button matTooltip="Help" (click)="openHelpDialog()">
            <mat-icon>help</mat-icon>
          </button>
        </div>

        <input-text-area title="Notes" formControlName="notes"></input-text-area>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

          <input-number title="Priority" formControlName="priority"></input-number>
          <input-number title="Max agents" formControlName="maxAgents"></input-number>

        </div>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span><b>Advanced Settings</b></span>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

                <input-number title="Chunk size" formControlName="chunkTime" [tooltip]="tasktip.chunkTime"></input-number>
                <input-number title="Status timer" formControlName="statusTimer" [tooltip]="tasktip.statusTimer"></input-number>
                <input-number title="Skip keyspace" formControlName="skipKeyspace" [tooltip]="tasktip.skipKeyspace"></input-number>
                <input-select title="Use static chunking" formControlName="staticChunks" [items]="selectStaticChunking"></input-select>
                <input-number title="if yes, chunk size:" formControlName="chunkSize"></input-number>
                <input-number title="Chunk size" formControlName="chunkTime"></input-number>
                <input-select title="Benchmark Type" formControlName="useNewBench" [items]="selectBenchmarktype"></input-select>
                <input-number title="Chunk size" formControlName="chunkTime"></input-number>
                <input-check title="CPU only" formControlName="isCpuTask" [tooltip]="tasktip.isCpuTask"></input-check>
                <input-check title="Small task" formControlName="isSmall"  [tooltip]="tasktip.isSmall"></input-check>
                <input-check title="Enforce piping" formControlName="forcePipe"  [tooltip]="tasktip.forcePipe"></input-check>

              </div>
              <hr>
              <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

                <input-select title="Binary type to run task" formControlName="crackerBinaryId" [items]="selectCrackertype"></input-select>
                <input-select title="Binary type version" formControlName="crackerBinaryTypeId" [items]="selectCrackerversions"></input-select>

              </div>
              <hr/>
              <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">

                  <input-select title="Set Preprocessor" formControlName="preprocessorId" [items]="selectPreprocessor" [isBlankOptionDisabled]="true"></input-select>
                  <input-text-area title="Preprocessor command" formControlName="preprocessorCommand"></input-text-area>

              </div>
            </mat-expansion-panel>
          </mat-accordion>
      <span *ngIf="!createForm.valid && createForm.touched" class="help-block" >Please complete all the form!</span><br>
      <grid-buttons>
        <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
        <button-submit [name]="'Create'"></button-submit>
      </grid-buttons>
      </form>
    </grid-main>
  </div>
  <div fxFlex="30" fxFlex.lt-md="100">
  <!-- TABLES -->
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="panel1">
      <ngb-panel id="panel0">
        <ng-template ngbPanelTitle>
          <span><b>Wordlists</b></span>
        </ng-template>
        <ng-template ngbPanelContent [collapsed]="false">
          <table style="width: 100%" class="table table-striped table-hover table-sm" datatable [dtOptions]="dtOptions">
            <thead class="thead-light">
                <tr>
                  <th class="rounded-start">
                    T<a *ngIf="createForm.controls['preprocessorId'].value !== null">|P
                      <fa-icon
                              placement="bottom"
                              ngbTooltip='T: Task, P: Preprocessor'
                              container="body"
                              aria-hidden="true"
                      >
                      faInfoCircle
                      </fa-icon>
                    </a>
                  </th>
                  <th class="rounded-end">File Name</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let f of allfiles | search:'0':'fileType'">
                  <td>
                    <form [formGroup]="createForm" novalidate>
                      <!-- Main attack checkbox -->
                      <div class="form-check" >
                        <input class="form-check-input form-check-input-gray" (change)="onChange(f.fileId, f.fileType, f.filename, 0, $event.target )" type="checkbox" [checked]="onChecked(f.fileId)">
                        <a *ngIf="createForm.controls['preprocessorId'].value !== 0">T</a>
                      </div>
                      <!-- Preprocessor checkbox -->
                      <div  class="form-check" *ngIf="createForm.controls['preprocessorId'].value !== 0" >
                        <input class="form-check-input form-check-input-violet" (change)="onChange(f.fileId, f.fileType, f.filename, 1, $event.target )" type="checkbox"><a>P</a>
                      </div>
                    </form>
                  </td>
                  <td class="width: 100px">
                    <label class="form-check-label" for="{{f.filename}}">
                      {{f.filename | shortenString:25 }}
                    </label>
                    <fa-icon *ngIf="f.isSecret === true" aria-hidden="true">faLock</fa-icon>
                    <fa-icon
                            placement="bottom"
                            [ngbTooltip]="wordlist"
                            container="body"
                            aria-hidden="true"
                    >
                    faInfoCircle
                    </fa-icon>
                    <ng-template #wordlist>
                      <div class="d-flex flex-column">
                        <span>Full Name: {{f.filename}}</span>
                        <span>Line Count: {{f.lineCount}}</span>
                        <span>Size: {{ f.size | fileSize:false}}</span>
                      </div>
                    </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span><b>Rules</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <table style="width: 100%" class="table table-striped table-hover table-sm" datatable [dtOptions]="dtOptions">
            <thead class="thead-light">
              <tr>
                  <th class="rounded-start">
                    T<a *ngIf="createForm.controls['preprocessorId'].value !== 0">|P
                      <fa-icon
                              placement="bottom"
                              ngbTooltip='T: Task, P: Preprocessor'
                              container="body"
                              aria-hidden="true"
                      >
                      faInfoCircle
                      </fa-icon>
                    </a>
                  </th>
                  <th class="rounded-end">File Name</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let f of allfiles | search:'1':'fileType'">
                  <td>
                    <form [formGroup]="createForm" novalidate>
                      <!-- Main attack checkbox -->
                      <div class="form-check" >
                        <input class="form-check-input form-check-input-gray" (change)="onChange(f.fileId, f.fileType, f.filename, 0, $event.target )" type="checkbox" [checked]="onChecked(f.fileId)">
                        <a *ngIf="createForm.controls['preprocessorId'].value !== 0">T</a>
                      </div>
                      <!-- Preprocessor checkbox -->
                      <div  class="form-check" *ngIf="createForm.controls['preprocessorId'].value !== 0" >
                        <input class="form-check-input form-check-input-violet" (change)="onChange(f.fileId, f.fileType, f.filename, 1, $event.target )" type="checkbox"><a>P</a>
                      </div>
                    </form>
                  </td>
                  <td >
                    <label class="form-check-label" for="{{f.filename}}">
                      {{f.filename | shortenString:25 }}
                    </label>
                    <fa-icon *ngIf="f.isSecret === true"  aria-hidden="true">faLock</fa-icon>
                    <fa-icon
                            placement="bottom"
                            [ngbTooltip]="rules"
                            container="body"
                            aria-hidden="true"
                    >
                    faInfoCircle
                    </fa-icon>
                    <ng-template #rules>
                      <div class="d-flex flex-column">
                        <span>Full Name: {{f.filename}}</span>
                        <span>Line Count: {{f.lineCount}}</span>
                        <span>Size: {{ f.size | fileSize:false}}</span>
                      </div>
                    </ng-template>
                  </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span><b>Other</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <table style="width: 100%" class="table table-striped table-hover table-sm" datatable [dtOptions]="dtOptions" >
            <thead class="thead-light">
              <tr>
                  <th class="rounded-start">
                    T<a *ngIf="createForm.controls['preprocessorId'].value !== 0">|P
                      <fa-icon
                              placement="bottom"
                              ngbTooltip='T: Task, P: Preprocessor'
                              container="body"
                              aria-hidden="true"
                      >
                      faInfoCircle
                      </fa-icon>
                    </a>
                  </th>
                  <th class="rounded-end">File Name</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let f of allfiles | search:'2':'fileType'">
                <td>
                  <form [formGroup]="createForm" novalidate>
                    <!-- Main attack checkbox -->
                    <div class="form-check" >
                      <input class="form-check-input form-check-input-gray" (change)="onChange(f.fileId, f.fileType, f.filename, 0, $event.target )" type="checkbox" [checked]="onChecked(f.fileId)">
                      <a *ngIf="createForm.controls['preprocessorId'].value !== 0">T</a>
                    </div>
                    <!-- Preprocessor checkbox -->
                    <div  class="form-check" *ngIf="createForm.controls['preprocessorId'].value !== 0" >
                      <input class="form-check-input form-check-input-violet" (change)="onChange(f.fileId, f.fileType, f.filename, 1, $event.target )" type="checkbox"><a>P</a>
                    </div>
                  </form>
                </td>
                <td class="width: 100px">
                  <label class="form-check-label" for="{{f.filename}}">
                    {{f.filename | shortenString:25 }}
                  </label>
                  <fa-icon *ngIf="f.isSecret === true" aria-hidden="true">faLock</fa-icon>
                  <fa-icon
                          placement="bottom"
                          [ngbTooltip]="other"
                          container="body"
                          aria-hidden="true"
                  >
                  faInfoCircle
                  </fa-icon>
                  <ng-template #other>
                    <div class="d-flex flex-column">
                      <span>Full Name: {{f.filename}}</span>
                      <span>Line Count: {{f.lineCount}}</span>
                      <span class="text-left">Size: {{ f.size | fileSize:false}}</span>
                    </div>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>


