<ht-table
  #table
  [name]="name"
  [columnLabels]="columnLabels"
  [dataType]="datatype"
  [dataSource]="dataSource"
  [tableColumns]="tableColumns"
  [isSelectable]="isSelectable"
  [isFilterable]="isFilterable"
  [contextMenuService]="contextMenuService"
  (editableSaved)="editableSaved($event)"
  [isPageable]="true"
  (bulkActionClicked)="bulkActionClicked($event)"
  (rowActionClicked)="rowActionClicked($event)"
  (exportActionClicked)="exportActionClicked($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn = $event"
  (backendSqlFilter)="filter($event)"
/>
