<ht-table
  #table
  [name]="name"
  [columnLabels]="columnLabels"
  [dataType]="datatype"
  [dataSource]="dataSource"
  [tableColumns]="tableColumns"
  [isSelectable]="isSelectable"
  [isFilterable]="isFilterable"
  [hasRowAction]="contextMenuService.hasContextMenu()"
  [hasBulkActions]="hasBulkActions"
  [filterFn]="filter.bind(this)"
  (editableSaved)="editableSaved($event)"
  [isPageable]="true"
  (bulkActionClicked)="bulkActionClicked($event)"
  (rowActionClicked)="rowActionClicked($event)"
  (exportActionClicked)="exportActionClicked($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn = $event"
  [contextMenuService]="this.contextMenuService"
/>
