<h2 mat-dialog-title class="h6">{{ dialogTitle }}</h2>

<grid-main>
  <div class="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Display added special dates -->
      <div fxLayout="row" fxLayoutGap="10px">
        <!-- Display added names -->
        <div formArrayName="names">
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field>
              <mat-label>{{ nameInputLabel }} 1</mat-label>
              <input matInput [formControl]="getFormControl(names.controls[0])" placeholder="{{ nameInputPlaceholder }}" />
              <mat-icon matSuffix color="primary" matTooltip="{{ nameTooltip }}">help</mat-icon>
            </mat-form-field>

            <button mat-icon-button color="primary" type="button" (click)="addControl('names')">
              <mat-icon>add</mat-icon>
            </button>
          </div>

          <div *ngFor="let control of names.controls.slice(1); let i = index">
            <mat-form-field>
              <mat-label>{{ nameInputLabel }} {{ i + 2 }}</mat-label>
              <input matInput [formControl]="getFormControl(control)" placeholder="{{ nameInputPlaceholder }} {{ i + 2 }}" />
            </mat-form-field>

            <button mat-icon-button color="warn" type="button" (click)="removeItem(i + 1, 'names')" *ngIf="names.controls.length > 1">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <!-- Display added special dates -->
        <div formArrayName="sparetext">
          <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field>
              <mat-label>{{ specialAttributeInputLabel }} 1</mat-label>
              <input matInput [formControl]="getFormControl(sparetext.controls[0])" placeholder="{{ specialAttributeInputPlaceholder }}" />
              <mat-icon matSuffix color="primary" matTooltip="{{ specialAttributeTooltip }}">help</mat-icon>
            </mat-form-field>

            <button mat-icon-button color="primary" type="button" (click)="addControl('sparetext')">
              <mat-icon>add</mat-icon>
            </button>
          </div>

          <div *ngFor="let control of sparetext.controls.slice(1); let i = index">
            <mat-form-field>
              <mat-label>{{ specialAttributeInputLabel }} {{ i + 2 }}</mat-label>
              <input matInput [formControl]="getFormControl(control)" placeholder="{{ specialAttributeInputPlaceholder }} {{ i + 2 }}" />
            </mat-form-field>

            <button mat-icon-button color="warn" type="button" (click)="removeItem(i + 1, 'sparetext')" *ngIf="sparetext.controls.length > 1">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <div>
          <mat-form-field>
            <mat-label>{{ specialDateInputLabel }}</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="{{ specialDateFormControlName }}" name="{{ specialDateInputName }}" placeholder="{{ specialDateInputPlaceholder }}" />
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <!-- Additional Options -->
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span><b>{{ additionalOptionsTitle }}</b></span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
            <mat-form-field style="width: 200px;">
              <mat-label>{{ fileNameInputLabel }}</mat-label>
              <input matInput formControlName="{{ fileNameFormControlName }}" name="{{ fileNameInputName }}" placeholder="{{ fileNameInputPlaceholder }}" />
              <mat-hint align="start">{{ fileNameHint }}</mat-hint>
            </mat-form-field>

            <div>
              <div><mat-checkbox formControlName="{{ specCharsCheckboxFormControlName }}">{{ specCharsCheckboxLabel }}</mat-checkbox></div>
              <div><mat-checkbox formControlName="{{ permutationsCheckboxFormControlName }}">{{ permutationsCheckboxLabel }}</mat-checkbox></div>
              <div><mat-checkbox formControlName="{{ capitalizeCheckboxFormControlName }}">{{ capitalizeCheckboxLabel }}</mat-checkbox></div>
              <div><mat-checkbox formControlName="{{ alternateCapitalizeCheckboxFormControlName }}">{{ alternateCapitalizeCheckboxLabel }}</mat-checkbox></div>
              <div><mat-checkbox formControlName="{{ allUppercaseCheckboxFormControlName }}">{{ allUppercaseCheckboxLabel }}</mat-checkbox></div>
              <div><mat-checkbox formControlName="{{ allLowercaseCheckboxFormControlName }}">{{ allLowercaseCheckboxLabel }}</mat-checkbox></div>
              <div><mat-checkbox formControlName="{{ similarVowelsCheckboxFormControlName }}">{{ similarVowelsCheckboxLabel }}</mat-checkbox></div>
              <div><mat-checkbox formControlName="{{ similarConsonantsCheckboxFormControlName }}">{{ similarConsonantsCheckboxLabel }}</mat-checkbox></div>
              <div><mat-checkbox formControlName="{{ similarSpecialCharsCheckboxFormControlName }}">{{ similarSpecialCharsCheckboxLabel }}</mat-checkbox></div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <button mat-raised-button color="primary" type="submit">{{ generateButtonLabel }}</button>

    </form>
  </div>
