<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>HEX Converter</mat-card-title>
  </mat-card-header>
  <mat-card-content> -->
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>HEX Value:</mat-label>
      <textarea matInput #hexval id="hexval" (input)="hexConv(hexval.value)"></textarea>
    </mat-form-field>
    <div class="highlight">
      {{ hexVal }}
    </div>
  <!-- </mat-card-content> -->
    <grid-buttons>
      <button-submit name="Clear" (click)="onClear()"></button-submit>
    </grid-buttons>
<!-- </mat-card> -->


