<grid-main [class]="'fmxw-700'" [centered]="true">
  <app-page-subtitle [subtitle]="'HEX convertor:'"></app-page-subtitle>
  <div class="row">
    <div class="form-group">
        <div class="form-outline">
          <input class="form-control input-lg" #hexval id="hexval" (input)="hexConv(hexval.value)"/>
        </div>
    </div>
    &nbsp;
    <div class="highlight">
        {{ hexVal }}
    </div>&nbsp;
    <span>
      <button class="btn btn-gray-800" (click)="onClear()">Clear</button>
    </span>
  </div>
</grid-main>


