<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="layout-col shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-700">
          <h2 class="h5 mb-4">HEX convertor:</h2>
          <div class="row">
            <div class="form-group">
                <div class="form-outline">
                  <input class="form-control input-lg" #hexval id="hexval" (input)="hexConv(hexval.value)"/>
                </div>
            </div>
            &nbsp;
            <div class="highlight">
                {{ hexVal }}
            </div>&nbsp;
            <span>
              <button class="btn btn-gray-800" (click)="onClear()">Clear</button>
            </span>
          </div>
        </div>
    </div>
  </div>
</div>



