<ht-table
  #table
  (bulkActionClicked)="bulkActionClicked($event)"
  (exportActionClicked)="exportActionClicked($event)"
  (rowActionClicked)="rowActionClicked($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn = $event"
  [columnLabels]="columnLabels"
  [contextMenuService]="contextMenuService"
  [dataSource]="dataSource"
  [isArchived]="isArchived"
  [isFilterable]="!true"
  [isPageable]="true"
  [isSelectable]="true"
  [name]="name"
  [tableColumns]="tableColumns"
  (backendSqlFilter)="filter($event)"
  dataType="hashlists"
/>
