
<!-- <app-loading-spinner></app-loading-spinner>  -->
<!-- <app-screen-size-detector></app-screen-size-detector> -->
<div [ngClass]="{'container':screenmode === 'true','full-container-app':screenmode === 'false'}">
  <app-header></app-header>
<!-- Breadcrum -->
<!-- <app-breadcrumb [deliminator]="''"></app-breadcrumb> -->
  <router-outlet></router-outlet>
<!-- Button that appers when we scrolling down to go to top -->
  <!-- <app-scroll-top></app-scroll-top> -->
  <app-footer></app-footer>
</div>




