<ht-table
  #table
  name="hashtypesTable"
  dataType="hashtypes"
  [columnLabels]="columnLabels"
  [dataSource]="dataSource"
  [tableColumns]="tableColumns"
  [isSelectable]="true"
  [contextMenuService]="contextMenuService"
  [isFilterable]="!true"
  [isPageable]="true"
  (bulkActionClicked)="bulkActionClicked($event)"
  (rowActionClicked)="rowActionClicked($event)"
  (exportActionClicked)="exportActionClicked($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn = $event"
  (backendSqlFilter)="filter($event)"
/>
