<section>
  &nbsp;
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="layout-col shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                  <h2 class="h5 mb-4">Health Check</h2><br>
                  <div class="row">
                      <div class="form-group">
                        <div class="form-outline">
                          <label class="form-label" for="setname">Created</label>
                          <span class="pre input-group-text input-group-lg w-70 mx-auto">
                            <td>
                              {{ healthc['time']*1000 | date: uidateformat }}
                            </td>
                          </span>
                        </div>
                      </div>&nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                          <label class="form-label" for="setname">Status</label>
                          <span class="pre input-group-text input-group-lg w-70 mx-auto">
                            <td>
                              {{ healthc['status'] | HCstatus | lowercase | titlecase }}
                            </td>
                          </span>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  &nbsp;
</section>
<!-- Body -->
<div class="card border-0 shadow mb-4">
  <div class="card-body">
    <h2 class="h5 mb-4">Checked Agents</h2><br>
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="thead-light">
                <tr>
                    <th class="border-0 rounded-start">ID</th>
                    <th class="border-0">Agent</th>
                    <th class="border-0">Status</th>
                    <th class="border-0">Time Required</th>
                    <th class="border-0"># Devices</th>
                    <th class="border-0">Cracked</th>
                    <th class="border-0 rounded-end" >Errors</th>
                </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let ha of healthca">
                    <td class="text-align:center">{{ ha.healthCheckAgentId }}</td>
                    <td>
                      {{ ha.agentName | shortenString:15 | lowercase | titlecase }}
                      <a class='btn-outline-gray-600 float-right' [routerLink]="['/agents/show-agents',ha.agentId,'edit']" data-toggle="tooltip" data-placement="top" title="Edit Agent">
                        <fa-icon [icon]="faEye" aria-hidden="true"></fa-icon>
                      </a>
                    </td>
                    <td>{{ ha.status | HCstatus | lowercase | titlecase  }}</td>
                    <td>
                      <div *ngIf="ha.status != 0; else templateNA">
                      {{ ha.start }}
                      </div>
                    </td>
                    <td>
                      <div *ngIf="ha.status != 0; else templateNA">
                      {{ ha.numGpus }}
                      </div>
                    </td>
                    <td>
                      <div *ngIf="ha.status != 0; else templateNA">
                      {{ ha.cracked }}
                      </div>
                    </td>
                    <td>
                      <div *ngIf="ha.status != 0; else templateNA">
                      {{ ha.errors }}
                      </div>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Template NA -->
<ng-template #templateNA>
    <td>
      N/A
    </td>
</ng-template>
