<ht-table
  #table
  name="agentBinariesTable"
  dataType="agent-binaries"
  [columnLabels]="columnLabels"
  [dataSource]="dataSource"
  [tableColumns]="tableColumns"
  [isSelectable]="isSelectable"
  [contextMenuService]="contextMenuService"
  [hasRowAction]="contextMenuService.getHasContextMenu()"
  [hasBulkActions]="contextMenuService.getHasBulkMenu()"
  [isFilterable]="isFilterable"
  [filterFn]="filter.bind(this)"
  [isPageable]="true"
  (bulkActionClicked)="bulkActionClicked($event)"
  (rowActionClicked)="rowActionClicked($event)"
  (exportActionClicked)="exportActionClicked($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn = $event"
/>
