<app-page-title [title]="'Preconfigured Tasks'" [buttontitle]="'New'" [buttonlink]="'/tasks/new-preconfigured-tasks'" [subbutton]="true"></app-page-title>
<!-- Body -->
<app-table>
  <table style="width: 100%" class="table table-striped table-hover table-sm" #ptasks datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="ptasks">
    <thead class="thead-light">
      <tr>
        <th class="rounded-start">ID</th>
        <th>Name</th>
        <th>Attack command</th>
        <th>Files / Size</th>
        <th>Priority</th>
        <th>Max Agents</th>
        <th class="rounded-end">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ptask of allpretasks">
        <td>
          <span [ngClass]="!ptask.color ? 'pill-ebidem' : 'pill-ebidem-tk'" [ngStyle]="{'background-color': ptask.color }">{{ ptask.pretaskId }}</span>
        </td>
        <td>
          <a [routerLink]="[ptask.pretaskId,'edit']">
            {{ ptask.taskName | shortenString:20 | lowercase | titlecase }}
          </a>
        </td>
        <td>{{ ptask.attackCmd | shortenString:25 }}</td>
        <td>
          {{ ptask.pretaskFiles.length }}
          <span *ngIf="(ptask.pretaskFiles | sum:'isSecret') > 0" ><fa-icon [icon]="faLock" aria-hidden="true" ngbTooltip="{{ptask.pretaskFiles | sum:'isSecret'}} file(s) protected"></fa-icon></span>
          <small *ngIf="ptask.pretaskFiles.length > 0">/ {{ ptask.pretaskFiles | sum:'size' | fileSize:false }}</small>
        </td>
        <td>{{ ptask.priority }}</td>
        <td>{{ ptask.maxAgents }}</td>
        <td>
          <app-button-actions>
            <button ngbDropdownItem [routerLink]="[ptask.pretaskId,'edit']" data-toggle="tooltip" data-placement="top" title="Edit">
              <fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon> Edit
            </button>
            <button ngbDropdownItem [routerLink]="[ptask.pretaskId,'copy']" data-toggle="tooltip" data-placement="top" title="Copy to pretask">
              <fa-icon [icon]="faBookmark" aria-hidden="true"></fa-icon> Copy to Pretask
            </button>
            <button ngbDropdownItem [routerLink]="['/tasks/new-tasks',ptask.pretaskId,'copypretask']" data-toggle="tooltip" data-placement="top" title="Copy to task">
              <fa-icon [icon]="faCopy" aria-hidden="true"></fa-icon> Copy to task
            </button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem (click)="onDelete(ptask.pretaskId)" data-toggle="tooltip" data-placement="top" title="Delete">
              <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon> Delete
            </button>
          </app-button-actions>
        </td>
      </tr>
    </tbody>
  </table>
</app-table>
