<app-page-subtitle [subtitle]="'New Cracker Type'"></app-page-subtitle>
<!-- body -->
<grid-main [class]="'width:100%;'" [centered]="true">
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <grid-form-input [name]="'Type'">
        <select
                type='text'
                id="typeName"
                class='form-select'
                formControlName="typeName"
               >
          <option value="hashcat">Hashcat</option>
          <option value="generic">Generic Cracker</option>
        </select>
      </grid-form-input>
      <grid-form-input [name]="'Chunking Available'">
        <select
                type='text'
                id="isChunkingAvailable"
                class='form-select'
                formControlName="isChunkingAvailable"
               >
          <option [ngValue]="false" [defaultSelected]=true>No</option>
          <option [ngValue]="true">Yes</option>
        </select>
      </grid-form-input>
      <button-submit [name]="'Create'"></button-submit>
    </div>
  </form>
</grid-main>
