<grid-main>
  <app-page-subtitle [subtitle]="'New Cracker type'"></app-page-subtitle>

  <form [formGroup]="newCrackerForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="24px">
    <div fxLayout="column" fxLayoutGap="16px">

      <input-select width="256px"
                                  title="Binary Type Name"
                                  formControlName="typeName"
                                  data-testid="input-select-binaryTypeName"
                                  [isRequired]="true"
                                  [items]="[
                                    { id: 'Hashcat', name: 'Hashcat' },
                                    { id: 'generic', name: 'Generic Cracker' }
                                  ]"
                                  style="width: 256px"
                    ></input-select>

      <input-select width="256px"
                    title="Chunking Available"
                    formControlName="isChunkingAvailable"
                    tooltip="Does the cracker type support chunking?"
                    data-testid="input-select-chunkingAvailable"
                    [isRequired]="true"
                    [items]="[
        { id: true, name: 'Yes' },
        { id: false, name: 'No' },
      ]"
                    style="width: 256px"
      ></input-select>
    </div>

    <grid-buttons>
      <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
      <button-submit data-testid="submit-button-newCracker" [name]="'Create'"
                     [disabled]="!roleService.hasRole('create')"
      ></button-submit>
    </grid-buttons>

    @if (newCrackerForm.invalid && newCrackerForm.touched) {
      <span class="help-block"
      >Please complete all required fields!</span>
    }
  </form>

</grid-main>
