<grid-main>
  <app-page-title [title]="'Use Supertask'" ></app-page-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">

        <div fxLayout="column" fxLayoutAlign="start start" *ngIf="!isLoading; else loadingTemplate">
        <input-multiselect
          [isLoading]="isLoading"
          [placeholder]="'Hashlists...'"
          [items]="selectHashlists"
          [label]="'Select or search Hashlists *'"
          [mergeIdAndName]="true"
          [multiselectEnabled]="false"
          formControlName="hashlistId"
          style="flex: 1;"
          [isRequired]="true"
        ></input-multiselect>
        </div>
        <ng-template #loadingTemplate>
          <div class="loading-spinner">
            <mat-spinner diameter="32"></mat-spinner>
            <span>Loading Hashlists...</span>
          </div>
        </ng-template>

        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
          <input-select title="Binary type" formControlName="crackerBinaryId" [items]="selectCrackertype" [isRequired]="true"></input-select>
          <input-select title="Binary version" formControlName="crackerBinaryTypeId" [items]="selectCrackerversions" [isRequired]="true"></input-select>
        </div>

      </div>
      <grid-buttons>
        <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
        <button-submit [name]="'Create'"></button-submit>
        <div *ngIf="isCreatingLoading">
          <mat-spinner diameter="24" color="accent"></mat-spinner>
        </div>
      </grid-buttons>

    </form>
</grid-main>


