<app-table>
  <app-page-title
      [title]="'Supertasks'"
      [buttontitle]="'New'"
      [buttonlink]="'/tasks/new-supertasks'"
      [subbutton]="true"
  ></app-page-title>
  <supertasks-table></supertasks-table>
</app-table>

<!-- Missing Edit Pretasks -->
<!-- <button ngbDropdownItem *ngIf="stask.pretasks.length > 0" (click)="getPretasks(stask.supertaskId)" data-toggle="tooltip" data-placement="top" title="Edit">
<fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon> Edit Pretasks
</button> -->
