<div class="modal-header">
  <app-page-subtitle [subtitle]="title"></app-page-subtitle>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="createForm">
    <div class="mb-3">
      <table class="table table-striped table-hover table-sm" #tabpretasks datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tabpretasks">
        <thead class="thead-light">
          <tr>
            <th class="rounded-start">ID</th>
            <th>Name</th>
            <th>Subtask Priority</th>
            <th class="rounded-end">Remove</th>
          </tr>
        </thead>
        <tbody>
          <ng-container formArrayName="KeysAndValues">
            <ng-container *ngFor="let pt of pretasks;let i = index">
              <tr [formGroupName]="i">
                <td>{{ pt.pretaskId }}</td>
                <td>
                  <a (click)="redirectPretask(pt.pretaskId)" class="color: blue;" style="cursor: pointer;">
                    {{ pt.taskName }}
                  </a>
                </td>
                <td>
                  <input type="number" class="form-control" id="Priority" formControlName="priority" placeholder="{{ pt.priority }}">
                <td>
                  <div class="form-check" >
                    <input class="form-check-input form-check-input-gray"  formControlName="delete" type="checkbox">
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">Update</button>
  <button class="btn" style="background-color: rgb(138, 133, 132);" (click)="modal.close('Cancel')">Cancel</button>
</div>

