<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="btn-toolbar mb-2 mb-md-0">

  <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">Crackers</h2>
      <p>Section to manage agent binaries.</p>
      <div class="btn-group ms-2 ms-3">
        <button type="button" routerLink="../agent-binaries" class="btn btn-sm btn-outline-gray-600">Agent Binaries</button>
        <button type="button" routerLink="../crackers" class="btn btn-sm btn-outline-gray-600-select">Crackers</button>
        <button type="button" routerLink="../preprocessors" class="btn btn-sm btn-outline-gray-600">Preprocessors</button>
      </div>
    </div>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a  (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFiles" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
      <fa-icon [icon]="faPlus" aria-hidden="true"></fa-icon>
        New Binary
    </a>
  </div>
</div>
<!-- New Cracker -->
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="layout-col shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                <h2 class="h5 mb-4">Create Binary</h2><br>
                  <form (ngSubmit)="onSubmit()">
                      <div class="form-group">
                        <div class="form-outline">
                          <label class="form-label" for="getuserid">Cracker Type Name</label>
                          <select  class='form-select' name="name" title="Name">
                            <option value="hashcat">Hashcat</option>
                            <option value="generic">Generic Cracker</option>
                          </select>
                          &nbsp;
                        </div>
                  </div>
              <button  class="btn btn-gray-800 align-items-center" type="submit" >Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </section>
  &nbsp;&nbsp;
</div>
<!-- New Cracker End-->
<!-- Body -->
<div class="card border-0 shadow mb-4">
  <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="thead-light">
                <tr>
                    <th class="border-0 rounded-start">Cracker ID</th>
                    <th class="border-0">Name</th>
                    <th class="border-0">Available Versions</th>
                    <th class="border-0 rounded-end">Action</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let type of crackerType">
                    <td>{{ type.crackerBinaryTypeId }}</td>
                    <td>{{ type.typeName | lowercase | titlecase }}</td>
                    <td>
                      <p *ngFor="let ver of type.crackerVersions">
                        <a class='btn-outline-gray-600 float-right' [routerLink]="[ver.crackerBinaryId,'edit']" data-toggle="tooltip" data-placement="top" title="Edit Version/Binary">
                          <fa-icon [icon]="faEye" aria-hidden="true"></fa-icon>
                        </a>
                        {{ ver.version }}
                      </p>
                    </td>
                    <td>
                      <a class='btn-outline-gray-600 float-right' [routerLink]="[type.crackerBinaryTypeId,'new']" data-toggle="tooltip" data-placement="top" title="Add version/binary">
                        <fa-icon [icon]="faPlus" aria-hidden="true"></fa-icon>
                     </a>
                     <a class='btn-outline-gray-600 float-right' data-toggle="tooltip" data-placement="top" title="Delete" (click)="onDelete(type.crackerBinaryTypeId)">
                          <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon>
                     </a>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


