<div
  class="inline-block file-input"
  [class.file-input--invalid]="hasError && isTouched && !readonly"
  [class.input--readonly]="readonly"
>
  <div class="flex flex-row items-center gap-2">
    <button
      type="button"
      mat-stroked-button
      (click)="inputField.click()"
      [attr.aria-label]="title || 'Choose file to upload'"
      [disabled]="disabled || readonly"
    >
      <mat-icon>attach_file</mat-icon>
      <span>Choose File</span>
    </button>

    <input
      #inputField
      type="file"
      class="sr-only"
      [accept]="accept"
      [multiple]="multiple"
      [required]="isRequired"
      [id]="inputId"
      (change)="handleFileInput($event)"
    />

    <span class="file-input__info" [class.file-input__info--empty]="!fileInfoText">
      {{ fileInfoText || 'No file chosen' }}
    </span>
  </div>

  @if (hasError && errors) {
    <span class="block mt-1.5 text-xs text-destructive">
      @if (errors['required']) {
        {{ title || 'File' }} is required
      }
    </span>
  }
</div>
