<div class="file-input-container">
  <input
    #inputField
    type="file"
    [accept]="accept"
    [multiple]="multiple"
    (change)="handleFileInput($event)"
    class="custom-file-input"
    >
  <button type="button" mat-stroked-button color="accent" (click)="inputField.click()" aria-label="Choose file to upload">
    <mat-icon>attach_file</mat-icon>
    <span>Choose File</span>
  </button>
  <mat-hint class="mt-2">
    <span class="fileuploadspan custom-file-upload-size"></span>
  </mat-hint>
</div>
