<div [ngSwitch]="whichView">
  <div *ngSwitchCase="'create'">
    <app-page-subtitle [subtitle]="'Create Hashtype'"></app-page-subtitle>
  </div>
  <div *ngSwitchCase="'edit'">
    <app-page-subtitle [subtitle]="'Edit Hashtype'"></app-page-subtitle>
  </div>
</div>
<!--body-->
<grid-main [class]="'width:100%;'" [centered]="true">
  <form [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div class="row">
      <grid-form-input [name]="'Hashtype'" [tooltip]="'ie. Hashcat -m'" [labelclass]="'requiredak'">
        <input
              type='number'
              id="hashtype"
              class='form-control'
              formControlName="hashTypeId"
              validateInputNumber
        >
        <span *ngIf="!Form.errors?.['hashTypeId'].valid && Form.errors?.['hashTypeId'].touched" class="help-block" >
          <span *ngIf="Form.errors?.['hashtypeIsUsed']" >This name is already in use!</span>
          <span *ngIf="Form.errors?.['required']" >This field is required!</span>
        </span>
      </grid-form-input>
      <grid-form-input [name]="'Description'" [labelclass]="'requiredak'">
        <input
              type='text'
              id="description"
              class='form-control'
              formControlName="description"
        >
      </grid-form-input>
      <div class="row">
        <div class="col-md-3">
          <grid-form-input [name]="'Salted'" [tooltip]="'Only if there is a separate salt value'">
            <div class="form-check form-switch">
              <input
                    type="checkbox"
                    id="isSalted"
                    class="form-check-input"
                    formControlName="isSalted"
              >
          </div>
         </grid-form-input>
        </div>
        <div class="col-md-4">
          <grid-form-input [name]="'Slow Hash'">
            <div class="form-check form-switch">
              <input
                    type="checkbox"
                    id="isSlowHash"
                    class="form-check-input"
                    formControlName="isSlowHash"
              >
            </div>
          </grid-form-input>
        </div>
      </div>
      <div [ngSwitch]="whichView">
        <div *ngSwitchCase="'create'">
          <button-submit [name]="'Create'"></button-submit>
        </div>
        <div *ngSwitchCase="'edit'">
          <button-submit [name]="'Update'"></button-submit>
        </div>
      </div>
    </div>
  </form>
</grid-main>
