<div class="custom-input-container">
  <div class="color-input-wrapper">
    <div class="color-input-container">
      <mat-form-field>
        <mat-label>{{ title }}</mat-label>
        <input
          #selectInput
          matInput
          [placeholder]="value"
          type="color"
          [id]="inputId"
          [(ngModel)]="value"
          (ngModelChange)="onChange(value)"
          [value]="defaultColor"
        />
        <span class="color-value">{{ value }}</span>
      </mat-form-field>
    </div>

    <button
      *ngIf="randomColor"
      mat-icon-button
      matTooltip="Randomize Color"
      type="button"
      class="random-color-btn"
      title="Randomize Color"
      (click)="generateRandomColor()"
    >
      <mat-icon>casino</mat-icon>
    </button>
  </div>
</div>
