<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">Hashlist</h2>
      <p class="mb-0">Section to manage and create hashlists.</p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
      <a routerLink="/hashlists/new-hashlist" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
        <fa-icon [icon]="faPlus" aria-hidden="true"></fa-icon>
          New Hashlist
      </a>
  </div>
</div>
<!-- Body -->
<div [ngSwitch]="whichView">
  <div *ngSwitchCase="'live'">
    <button [routerLink]="['../','archived']" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">Show Archived</button>
  </div>
  <div *ngSwitchCase="'archived'">
    <button [routerLink]="['../','hashlist']" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">Show Live</button>
  </div>
</div>
<div class="card border-0 shadow mb-4">
  <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="thead-light">
                <tr>
                  <th class="border-0 rounded-start">ID</th>
                  <th class="border-0">Name</th>
                  <th class="border-0">Hash type</th>
                  <th class="border-0">Format</th>
                  <th class="border-0">Cracked</th>
                  <th class="border-0">Pre-cracked</th>
                  <th class="border-0 rounded-end">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let list of allhashlists">
                  <td>{{ list.hashlistId }}</td>
                  <td>
                      <a [routerLink]="[list.hashlistId,'edit']">{{ list.name }}</a>
                      <span *ngIf="list.isSecret == 1" ><fa-icon [icon]="faLock" aria-hidden="true"></fa-icon></span>
                  </td>
                  <td>{{ list.hashType.description }}</td>
                  <td>{{ list.format | staticArray:'formats' }}</td>
                  <td>
                      {{ list.cracked / list.hashCount | percent }}
                      (
                        <a
                          [routerLink]="['/hashlists/hashes/','hashlist',list.hashlistId]"
                          [queryParams]="{filter: 'cracked'}"
                          >{{ list.cracked }}</a>
                      /
                      <a [routerLink]="['/hashlists/hashes/','hashlist',list.hashlistId]">{{ list.hashCount }}</a>)
                  </td>
                  <td>
                    <a class='btn-outline-gray-600 float-right' [routerLink]="['/hashlists',list.hashlistId,'copy']" data-toggle="tooltip" data-placement="top" title="Import Hashlist">
                      <fa-icon [icon]="faFileExport" aria-hidden="true"></fa-icon>
                   </a>
                   <a class='btn-outline-gray-600 float-right' data-toggle="tooltip" data-placement="top" title="Export Hashlist">
                      <fa-icon [icon]="faFileImport" aria-hidden="true"></fa-icon>
                   </a>
                  </td>
                  <td>
                   <a class='btn-outline-gray-600 float-right' [routerLink]="[list.hashlistId,'edit']" data-toggle="tooltip" data-placement="top" title="Edit">
                      <fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon>
                   </a>
                   <a class='btn-outline-gray-600 float-right' (click)="onArchive(list.hashlistId)" data-toggle="tooltip" data-placement="top" title="Archive">
                      <fa-icon [icon]="faArchive" aria-hidden="true"></fa-icon>
                   </a>
                   <a class='btn-outline-gray-600 float-right' (click)="onDelete(list.hashlistId)" data-toggle="tooltip" data-placement="top" title="Delete">
                      <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon>
                   </a>
                </td>
              </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>

