<div class="login-container">
  <mat-card class="login-card">
    <div class="login-logo-container">
      <a routerLink="/"
        ><img
          [src]="isDarkMode ? headerConfig.brand.logored : headerConfig.brand.logo"
          [alt]="headerConfig.brand.name"
          [width]="90"
          [height]="90"
          alt="Hashtopolis"
      /></a>
    </div>
    <mat-card-content>
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <input-text
          class="card-login-field"
          title="Username"
          icon="account_circle"
          formControlName="username"
          [isRequired]="true"
        ></input-text>

        <input-text
          class="card-login-field"
          title="Email"
          icon="email"
          inputType="email"
          formControlName="email"
          [isRequired]="true"
        ></input-text>

        <grid-buttons>
          <button-submit [name]="'Reset Password'" [loading]="isLoading" data-testid="submit-button"></button-submit>
        </grid-buttons>

        <div class="forgot-password-link">
          <a routerLink="/auth">Back to login</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
