<div class="simulate-form-field simulate-form-field-disabled">
  <div class="simulate-form-field-label">
    {{ label }}
  </div>
  <div class="simulate-form-field-flex">
    @if (icon) {
      <mat-icon>{{ icon }}</mat-icon>
    }
    <div class="simulate-form-field-infix">
      <span class="simulate-form-field-content" [innerHTML]="message"></span>
      <!-- Conditionally apply the 'active' class based on routerLinkActive -->
      @if (routerLink) {
        <a [routerLink]="routerLink" [class.active]="isActive()">
          {{ label }}
        </a>
      }
    </div>
  </div>
</div>

