<ht-table
  #table
  name="cracksTable"
  dataType="cracks"
  [columnLabels]="columnLabels"
  [dataSource]="dataSource"
  [tableColumns]="tableColumns"
  [isSelectable]="true"
  [isFilterable]="!true"
  [isPageable]="true"
  (bulkActionClicked)="bulkActionClicked($event)"
  (rowActionClicked)="rowActionClicked($event)"
  (exportActionClicked)="exportActionClicked($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn = $event"
  (emitCopyRowData)="receiveCopyData($event)"
  (emitFullHashModal)="showTruncatedData($event)"
  (backendSqlFilter)="filter($event)"
/>
