<!-- Spinner Loading -->
<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<!-- Header -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <h2 class="h4">Edit Binary Version</h2>
  </div>
</div>
<!-- Body -->
<section>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="layout-col shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                      <div class="form-group">
                          <div class="form-outline">
                              <label class="form-label" for="getbinaryName">Binary Base Name</label>
                              <div class="input-group">
                                <input
                                      type='text'
                                      id="binaryName"
                                      class='form-control'
                                      formControlName="binaryName"
                                >
                              </div>
                          </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label" for="getversion">Binary Version</label>
                            <div class="input-group">
                              <input
                                     type='text'
                                     id="version"
                                     class='form-control'
                                     formControlName="version"
                              >
                            </div>
                        </div>
                      </div>
                      &nbsp;
                      <div class="form-group">
                        <div class="form-outline">
                            <label class="form-label" for="getdownloadUrl">Download URL</label>
                            <div class="input-group">
                              <span class="input-group-text">
                                <fa-icon [icon]="faDownload" aria-hidden="true"></fa-icon>
                              </span>
                              <input
                                     type='text'
                                     id="downloadUrl"
                                     class='form-control'
                                     formControlName="downloadUrl"
                              >
                            </div>
                        </div>
                      </div>
                      &nbsp;
                    </div>
                  <button class="btn btn-gray-800" type="submit">Update</button>
                  &nbsp;
                  <button  class="btn btn-danger" type="submit" (ngSubmit)="onDelete()">Delete User</button>
            </form>
          </div>
        </div>
      </div>
    </div>

