<div
  class="checkbox-wrapper"
  [class.is-invalid]="hasError && isTouched && !readonly"
  [class.input--readonly]="readonly"
>
  <mat-checkbox
    [checked]="value"
    (change)="onValueChange($event)"
    (blur)="onTouched()"
    [disabled]="disabled || readonly"
    [id]="inputId"
    [class.mat-mdc-checkbox-invalid]="hasError && isTouched && !readonly"
  >
    @if (linkTo) {
      <a [routerLink]="linkTo">{{ title }}</a>
    } @else {
      {{ title }}
    }
    @if (tooltip) {
      <mat-icon
        matTooltip="{{ tooltip }}"
        matTooltipPosition="below"
        matTooltipClass="tooltip-custom-style"
        container="body"
        aria-hidden="true"
      >
        info
      </mat-icon>
    }
  </mat-checkbox>

  @if (hasError && errors && !readonly) {
    <div class="error-message text-xs mt-1 text-destructive">
      @if (errors['required']) {
        <span>{{ title }} is required</span>
      }
    </div>
  }
</div>
