<ht-table #table dataType="tasks" [name]="name" [columnLabels]="columnLabels" [dataSource]="dataSource"
  [tableColumns]="tableColumns" [isSelectable]="isSelectable" [contextMenuService]="contextMenuService"
  [isArchived]="isArchived" [isFilterable]="true" [filterFn]="filter.bind(this)"
  (rowActionClicked)="rowActionClicked($event)" (bulkActionClicked)="bulkActionClicked($event)"
  (exportActionClicked)="exportActionClicked($event)" (editableSaved)="editableSaved($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn=$event" [isPageable]="true" />