<ht-table
  #table
  (bulkActionClicked)="bulkActionClicked($event)"
  (editableSaved)="editableSaved($event)"
  (exportActionClicked)="exportActionClicked($event)"
  (rowActionClicked)="rowActionClicked($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn=$event"
  [columnLabels]="columnLabels"
  [contextMenuService]="contextMenuService"
  [dataSource]="dataSource"
  [filterFn]="filter.bind(this)"
  [isArchived]="isArchived"
  [isFilterable]="true"
  [isPageable]="true"
  [isSelectable]="isSelectable"
  [name]="name"
  [tableColumns]="tableColumns"
  [supportsAutoRefresh]="true"
  dataType="tasks"
/>
