<ht-table
  #table
  dataType="tasks"
  [name]="name"
  [columnLabels]="columnLabels"
  [dataSource]="dataSource"
  [tableColumns]="tableColumns"
  [stickyLeadingColumns]="3"
  [isSelectable]="isSelectable"
  [contextMenuService]="contextMenuService"
  [isArchived]="isArchived"
  [isFilterable]="isFilterable"
  [cardTemplate]="taskCard"
  (rowActionClicked)="rowActionClicked($event)"
  (bulkActionClicked)="bulkActionClicked($event)"
  (exportActionClicked)="exportActionClicked($event)"
  (editableSaved)="editableSaved($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn = $event"
  (backendSqlFilter)="handleBackendSqlFilter($event)"
  [isPageable]="true"
  [supportsAutoRefresh]="true"
  [rowClass]="getRowClass"
>
  <ng-content select="[extra-actions]" ngProjectAs="[extra-actions]"></ng-content>
</ht-table>

<!-- Card form of a task row, rendered by `ht-table` when the user picks the card view. -->
<ng-template #taskCard let-wrapper>
  <app-task-card
    [task]="wrapper"
    [selectable]="isSelectable"
    [selected]="table.isSelected(wrapper)"
    [contextMenuService]="contextMenuService"
    (selectedToggled)="table.toggleSelect(wrapper)"
    (rowActionClicked)="rowActionClicked($event)"
    (supertaskClicked)="rowActionEditSubtasks($event)"
  ></app-task-card>
</ng-template>
