<grid-main [class]="'width:100%;'" [centered]="true">
  <app-page-subtitle [subtitle]="subTitle"></app-page-subtitle>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <grid-form-input [name]="'Trigger Action'" [labelclass]="'requiredak'">
        <select type='string' class="form-select" (change)="changeAction(trigger.value)" formControlName="action"
          data-testid="select-action" #trigger>
          <option value="" disabled="true">--
          </option>
          <option *ngFor="let action of allowedActions" [value]="action">{{ action }}</option>
        </select>
      </grid-form-input>
      <grid-form-input [name]="'Value'" [labelclass]="'requiredak'" *ngIf="active">
        <select name="hashtypeId" class='form-select' title="hashtypeId" formControlName="actionFilter"
          data-testid="select-action-filter">
          <option value="" disabled="true">--
          </option>
          <option *ngFor="let val of filters" [value]="val.id">{{ val.name }}</option>
        </select>
      </grid-form-input>
      <grid-form-input [name]="'Notification'" [labelclass]="'requiredak'">
        <select name="notification" class='form-select' title="notification" formControlName="notification"
          data-testid="select-notification">
          <option *ngFor="let notif of notifications" [value]="notif">{{ notif }}</option>
        </select>
      </grid-form-input>
      <grid-form-input [name]="'Receiver'" [labelclass]="'requiredak'">
        <input type='text' id="receiver" class="form-control" formControlName="receiver" data-testid="input-receiver" />
      </grid-form-input>
      <grid-form-input [name]="'Status'" [labelclass]="'display-col'" *ngIf="editView">
        <div class="form-check form-switch">
          <input type="checkbox" id="isActive" class="form-check-input" formControlName="isActive"
            data-testid="input-is-active">
        </div>
      </grid-form-input>
      <button-submit [name]="submitLabel" [disabled]="!formIsValid()" data-testid="button-create"></button-submit>
    </div>
  </form>
</grid-main>