<grid-main>
  <app-page-subtitle [subtitle]="subTitle"></app-page-subtitle>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <grid-autocol>

      <input-select title="Trigger Action" formControlName="action" [items]="allowedActions" data-testid="select-action" [isRequired]="true"></input-select>
      <input-select title="Value" formControlName="actionFilter" [items]="filters" data-testid="select-action-filter" *ngIf="active"></input-select>
      <input-select title="Notification" formControlName="notification" [items]="notifications" data-testid="select-notification" [isRequired]="true"></input-select>
      <input-text title="Receiver" formControlName="receiver" data-testid="input-receiver" [isRequired]="true"></input-text>
      <input-check title="Status" formControlName="Status" data-testid="input-is-active"  *ngIf="editView"></input-check>

      <grid-buttons>
        <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
        <button-submit [name]="submitLabel" [disabled]="!formIsValid()" data-testid="button-create"></button-submit>
      </grid-buttons>

    </grid-autocol>
  </form>
</grid-main>
