<app-page [title]="subTitle">
  <grid-main [narrow]="true">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-3">
        <input-select
          title="Trigger Action"
          formControlName="action"
          [items]="allowedActions"
          data-testid="select-action"
          [isRequired]="true"
        ></input-select>
        @if (active) {
          <input-select
            title="Value"
            formControlName="actionFilter"
            [items]="filters"
            [isRequired]="actionFilterIsRequired"
            data-testid="select-action-filter"
          ></input-select>
        }
        <input-select
          title="Notification"
          formControlName="notification"
          [items]="notifications"
          data-testid="select-notification"
          [isRequired]="true"
        ></input-select>
        <input-text
          title="Receiver"
          formControlName="receiver"
          data-testid="input-receiver"
          [isRequired]="true"
        ></input-text>
        <input-check title="Status" formControlName="isActive" data-testid="input-is-active"></input-check>
      </div>

      <grid-buttons>
        <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
        <button-submit
          [name]="submitLabel"
          [disabled]="false"
          [loading]="isCreatingLoading"
          data-testid="button-create"
        ></button-submit>
      </grid-buttons>
    </form>
  </grid-main>
</app-page>
