<ht-table
  #table
  name="accessGroupsTable"
  dataType="access-groups"
  [columnLabels]="columnLabels"
  [dataSource]="dataSource"
  [tableColumns]="tableColumns"
  [isSelectable]="true"
  [hasBulkActions]="hasBulkActions"
  [hasRowAction]="hasRowAction"
  [isFilterable]="true"
  [filterFn]="filter.bind(this)"
  [isPageable]="true"
  (bulkActionClicked)="bulkActionClicked($event)"
  (rowActionClicked)="rowActionClicked($event)"
  (exportActionClicked)="exportActionClicked($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn = $event"
/>
