<grid-main>

  <app-page-subtitle subtitle="Create Hashlist"></app-page-subtitle>

  <form [formGroup]="form">

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
      <input-text title="Name" formControlName="name"></input-text>
      <input-text title="Notes" formControlName="notes"></input-text>
      <input-select title="Access group" formControlName="accessGroupId" [items]="selectAccessgroup"></input-select>
    </div>

    <div class="custom-hashlist-container">
      <input-multiselect
        [isLoading]="isLoadingHashtypes"
        [placeholder]="'Hashtypes...'"
        [items]="selectHashtypes"
        [label]="'Hashtype:'"
        formControlName="hashTypeId"
        [multiselectEnabled]="false"
        [mergeIdAndName]="true"
      ></input-multiselect>
      <button mat-icon-button matTooltip="Help" (click)="openHelpDialog()">
        <mat-icon>help</mat-icon>
      </button>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
      <input-select title="Hashlist format" formControlName="format" [items]="selectFormat"></input-select>
      <input-check title="Salt is in hex (only salted hashes)" formControlName="isHexSalt"></input-check>
      <input-check title="Salted hashes, separator" formControlName="isSalted"></input-check>
      <input-text title="Separator" formControlName="separator"></input-text>
    </div>

    <div *ngIf="+brainenabled === 1"><hr>

      <h5>Hashcat Brain Enabled</h5>

      <input-select title="Brain mode" formControlName="brainFeatures" [items]="selectFormatbrain"></input-select>

      <fixed-alert
      message="Note: When brain is enabled, it'll create a network server. If used wrongly,
      it could cause bottlenecks or collapse the network server. You can disable
      this setting in Config > Server > General Settings."
      ></fixed-alert>

    </div>

    <input-select title="Hash Source" formControlName="sourceType" [items]="selectSource"></input-select>

    <div *ngIf="sourceType === 'paste'">
      <input-text-area title="Paste Hash(es)" formControlName="sourceData"></input-text-area>

      <grid-buttons>
        <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
        <button-submit [name]="'Create'" (click)="onSubmit()"></button-submit>
      </grid-buttons>
    </div>

    <div *ngIf="sourceType === 'import'">
      <input-file formControlName="sourceData" (filesSelected)="onFilesSelected($event)"></input-file>
      <br>
      <br>

      <!-- Show progress bar during hashlist upload -->
      <div *ngIf="uploadProgress > 0">
        <ngb-progressbar type="success" textType="white" [striped]="true" [value]="uploadProgress" [showValue]="true"></ngb-progressbar>
      </div>

      <!-- Display message upon completion of upload -->
      <div *ngIf="uploadProgress === 100"><p><b>Upload completed!</b></p></div><br>

      <grid-buttons>
        <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
        <button-submit [name]="'Create'" (click)="onuploadFile(selectedFiles);"></button-submit>
      </grid-buttons>
    </div>

  </form>
</grid-main>
