<app-page-title [title]="'Notifications'" [buttontitle]="'New Notification'" [buttonlink]="'/account/notifications/new-notification'" [subbutton]="true"></app-page-title>
<!-- Table Notifications -->
<app-table>
  <table class="table table-striped table-hover table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead class="thead-light">
      <tr>
          <th class="rounded-start">ID</th>
          <th>Status</th>
          <th>Trigger action</th>
          <th>Applied To</th>
          <th>Called Notification</th>
          <th>Receiver</th>
          <th class="rounded-end">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let n of Allnotif">
          <td class="text-align:center">{{ n.notificationSettingId }}</td>
          <td>
            <span class="ui-label-inner inline-flex whitespace-nowrap items-center px-2 py-0.5 rounded-md text-xs font-medium text-white capitalize badge my-0" style="{{n.isActive === true ? 'background-color:green' : 'background-color:yellow'}}">
              {{  n.isActive === true ? "Valid" : "Invalid/Not activated" }}
            </span>
          </td>
          <td>{{ n.action }}</td>
          <td>
            {{ n.objectId }}
          </td>
          <td>{{ n.notification }}</td>
          <td><code>{{ n.receiver }}</code></td>
          <td>
            <a class='btn-outline-gray-600 float-right' (click)="onDelete(n.notificationSettingId)" data-toggle="tooltip" data-placement="top" title="Delete">
            <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon>
            </a>
          </td>
      </tr>
      </tbody>
  </table>
</app-table>
