<ht-table
  #table
  name="agentStatusTable"
  [columnLabels]="columnLabels"
  dataType="agents-status"
  [dataSource]="dataSource"
  [tableColumns]="tableColumns"
  [isSelectable]="isSelectable"
  [isFilterable]="isFilterable"
  [hasRowAction]="hasRowAction"
  [hasBulkActions]="hasBulkActions"
  [hasTemperatureInformation]="hasTemperatureInformation"
  [isPageable]="true"
  (bulkActionClicked)="bulkActionClicked($event)"
  (rowActionClicked)="rowActionClicked($event)"
  (exportActionClicked)="exportActionClicked($event)"
  (temperatureInformationClicked)="openStatDialog()"
/>
