<div [ngSwitch]="whichView">
  <div *ngSwitchCase="'live'">
    <app-page-title [title]="'Tasks'" [buttontitle]="'New Task'" [buttonlink]="'/tasks/new-task'" [subbutton]="true"></app-page-title>
  </div>
  <div *ngSwitchCase="'archived'">
    <app-page-title [title]="'Archived Tasks'" [buttontitle]="'New Task'" [buttonlink]="'/tasks/new-task'" [subbutton]="true"></app-page-title>
  </div>
</div>
<!-- Table -->
<app-table>
  <table class="table table-striped table-hover table-sm" #tasks datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tasks">
    <thead class="thead-light">
      <tr>
        <th class="rounded-start">ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>+Info</th>
        <th>Preprocessor</th>
        <th>Hashlist</th>
        <th>Dispatched/Searched</th>
        <th>Cracked</th>
        <th>Agents</th>
        <th>Speed</th>
        <th>Priority</th>
        <th>Max Agents</th>
        <th class="rounded-end">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of alltasks">
        <td [ngStyle]="{'background-color': task.color }">{{ task.taskId }}</td>
        <td>
          <a [ngClass]="task.keyspaceProgress >= task.keyspace ? 'align-text' : ''" [routerLink]="[task.taskId,'edit']" ngbTooltip={{task.taskName}}>
            {{ task.taskName | shortenString:40 | lowercase | titlecase }}
          </a>
        </td>
        <td style="white-space: nowrap;">
          <div class="row">
            <div class="col-md-4" *ngIf="(task.taskId | aspeed | async ) > 0">
              <app-active-spinner></app-active-spinner>
            </div>
            <div class="col-md-4">
              <span *ngIf="task.keyspaceProgress >= task.keyspace && task.keyspaceProgress > 0" ngbTooltip="Completed"><fa-icon [icon]="faCheckCircle" aria-hidden="true"></fa-icon></span>
            </div>
          </div>
        </td>
        <td style="white-space: nowrap;">
          <fa-icon [icon]="faTerminal" aria-hidden="true" ngbTooltip={{task.attackCmd}}></fa-icon>
          <fa-icon *ngIf="task.notes" [icon]="faNoteSticky" aria-hidden="true" ngbTooltip={{task.notes}}></fa-icon>
          <fa-icon *ngIf="task.isSmall === true" [icon]="faCheckCircle" aria-hidden="true" ngbTooltip="Small Task"></fa-icon>
          <fa-icon *ngIf="task.isCpuTask === true" [icon]="faMicrochip" aria-hidden="true" ngbTooltip="CPU Only"></fa-icon>
        </td>
        <td>{{ task.preprocessorId === 1 ? 'Prince':'-'}}</td>
        <td style="white-space: nowrap;">
          <a [routerLink]="['/hashlists/hashlist',task.hashlist.hashlistId,'edit']" ngbTooltip={{task.hashlist.name}}>{{ task.hashlist.name | shortenString:30 | lowercase | titlecase}}</a>
          <span *ngIf="task.hashlist.hashCount === task.hashlist.cracked"><fa-icon [icon]="faCheckCircle" aria-hidden="true"></fa-icon></span>
          <span *ngIf="task.hashlist.isSecret === true" ><fa-icon [icon]="faLock" aria-hidden="true"></fa-icon></span>
        </td>
        <td *ngIf="task.keyspace > 0">{{ task.taskId | tdispatched:task.keyspace | async  | percent:'1.2-2'}} / {{ task.taskId | tdsearched:task.keyspace | async | percent:'1.2-2'}}</td>
        <td *ngIf="task.keyspace === 0"></td>
        <td>
          <a *ngIf="(task.taskId | tdcracked | async) > 0"  [routerLink]="['/hashlists/hashes/','tasks',task.taskId]" routerLinkActive="active">{{ task.taskId | tdcracked | async }}</a>
        </td>
        <td>
          Missing
        </td>
        <td style="white-space: nowrap;">{{ task.taskId | aspeed | async | fileSize:false:1000 }} H/s </td>
        <td>{{ task.priority }}</td>
        <td>{{ task.maxAgents }}</td>
        <td>
        <div [ngSwitch]="whichView">
          <div *ngSwitchCase="'live'">
            <app-button-actions>
              <button ngbDropdownItem [routerLink]="[task.taskId,'edit']" data-toggle="tooltip" data-placement="top" title="Edit">
                <fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon> Edit
              </button>
              <button ngbDropdownItem [routerLink]="['/tasks/new-task',task.taskId,'copy']" data-toggle="tooltip" data-placement="top" title="Copy to Task">
                <fa-icon [icon]="faCopy" aria-hidden="true"></fa-icon> Copy to task
              </button>
              <button ngbDropdownItem [routerLink]="['/tasks/preconfigured-tasks',task.taskId,'copytask']" data-toggle="tooltip" data-placement="top" title="Copy to Pretask">
                <fa-icon [icon]="faBookmark" aria-hidden="true"></fa-icon>  Copy to Pretask
              </button>
              <button ngbDropdownItem (click)="onArchive(task.taskId)" data-toggle="tooltip" data-placement="top" title="Archive">
                <fa-icon [icon]="faArchive" aria-hidden="true"></fa-icon> Archive
              </button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem (click)="onDelete(task.taskId)" data-toggle="tooltip" data-placement="top" title="Delete">
                <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon> Delete
              </button>
            </app-button-actions>
          </div>
          <div *ngSwitchCase="'archived'">
            <app-button-actions>
              <button ngbDropdownItem [routerLink]="[task.taskId,'edit']" data-toggle="tooltip" data-placement="top" title="Edit">
                <fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon> Edit
              </button>
              <button ngbDropdownItem [routerLink]="['/tasks/new-task', task.taskId,'copy']" data-toggle="tooltip" data-placement="top" title="Copy to task">
                <fa-icon [icon]="faCopy" aria-hidden="true"></fa-icon> Copy to task
              </button>
              <button ngbDropdownItem [routerLink]="[task.taskId,'copy']" data-toggle="tooltip" data-placement="top" title="Copy to pretask">
                <fa-icon [icon]="faBookmark" aria-hidden="true"></fa-icon> Copy to task
              </button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem (click)="onDelete(task.taskId)" data-toggle="tooltip" data-placement="top" title="Delete">
                <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon> Delete
              </button>
            </app-button-actions>
          </div>
        <!-- </td> -->
        </div>
      </tr>
    </tbody>
  </table>
</app-table>


