<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <div [ngSwitch]="whichView">
        <div *ngSwitchCase="'wordlist'">
          <h2 class="h4">WordLists</h2>
          <p class="mb-0">Create/Manage your wordlists.</p>
        </div>
        <div *ngSwitchCase="'rules'">
          <h2 class="h4">Rules</h2>
          <p class="mb-0">Create/Manage your rules.</p>
        </div>
        <div *ngSwitchCase="'other'">
          <h2 class="h4">Other</h2>
          <p class="mb-0">Create/Manage other files.</p>
        </div>
      </div>
  </div>
      <div [ngSwitch]="whichView">
        <div *ngSwitchCase="'wordlist'">
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group ms-2 ms-3">
              <button type="button" routerLink="../wordlist" class="btn btn-sm btn-outline-gray-600-select">Wordlist</button>
              <button type="button" routerLink="../rules" class="btn btn-sm btn-outline-gray-600">Rules</button>
              <button type="button" routerLink="../other" class="btn btn-sm btn-outline-gray-600">Other</button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'rules'">
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group ms-2 ms-3">
              <button type="button" routerLink="../wordlist" class="btn btn-sm btn-outline-gray-600">Wordlist</button>
              <button type="button" routerLink="../rules" class="btn btn-sm btn-outline-gray-600-select">Rules</button>
              <button type="button" routerLink="../other" class="btn btn-sm btn-outline-gray-600">Other</button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'other'">
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group ms-2 ms-3">
              <button type="button" routerLink="../wordlist" class="btn btn-sm btn-outline-gray-600">Wordlist</button>
              <button type="button" routerLink="../rules" class="btn btn-sm btn-outline-gray-600">Rules</button>
              <button type="button" routerLink="../other" class="btn btn-sm btn-outline-gray-600-select">Other</button>
            </div>
          </div>
        </div>
      </div>
</div>
<!-- Body -->
<!-- Import Files tabs -->
<button type="button" class="btn btn-sm btn-outline-gray-600" *ngIf="addFileAccess || addFileAccess == null"  (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFiles">
<fa-icon [icon]="faPlus" aria-hidden="true"></fa-icon>
Add Files
</button>
&nbsp;&nbsp;
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="layout-col shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">

              <div *ngIf="isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
              </div>

              <div class="files files-effect-scale files-theme boxtest">
                <input type="radio" name="files" checked  id="tab1" class="tab-content-first" (change)='souceType("import")'>
                <label for="tab1"><fa-icon [icon]="faUpload" aria-hidden="true"></fa-icon> Upload Files</label>

                <input type="radio" name="files" id="tab2" class="tab-content-2" (change)='souceType("inline")'>
                <label for="tab2"><fa-icon [icon]="faDownload" aria-hidden="true"></fa-icon> Download URL</label>
                <ul>
                  <li class="tab-content tab-content-first" >
                    <div class="row" >
                      <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
                      <div class="col-sm">
                        <div class="form-group">
                          <label class="form-label display-col requiredak" for="Associatedg">Associated Access Group</label>
                          <select
                                 type="number"
                                 class='form-select'
                                 formControlName="accessGroupId"
                                  >
                            <option>---</option>
                            <option *ngFor="let a of accessgroup" [ngValue]="a.accessGroupId">{{ a.groupName }}</option>
                          </select>
                        </div>
                      </div>
                      &nbsp;
                        <tr id="uploadLine">
                         <div>
                            <input
                                  type="file"
                                  accept="/*"
                                  formControlName="sourceData"
                                  (change)="handleFileInput($event)"
                                  fileSelect directory #file
                            >
                            <span style="width: 100%;text-align: center" class="fileuploadspan"></span>&nbsp;
                            <span style="width: 50%;text-align: center"><fa-icon [icon]="faFileUpload" class="btn btn-gray-800" title="Upload file" (click)="onuploadFile(file.files);" aria-hidden="true"></fa-icon></span>
                          </div>
                          <div *ngFor="let fileStatus of uploadProgress | async">
                               &nbsp;
                              <p *ngIf="fileStatus.progress != 100">Uploading File: {{fileStatus.filename}}</p>
                              <ngb-progressbar
                                              type="success"
                                              textType="white"
                                              [striped]="true"
                                              [value]="fileStatus.progress"
                                              [showValue]="true"
                              ></ngb-progressbar>
                              <!-- <p>Progress: {{fileStatus.progress}}%</p> -->
                              <div *ngIf="fileStatus.progress == 100">
                                <p><b>File Uploaded</b></p>
                              </div>
                          </div>
                        </tr>
                        &nbsp;

                        <div class="col-sm">
                          <button type="submit" class="btn btn-gray-800">Create</button>
                        </div>
                    </form>
                    </div>
                  </li>

                  <li class="tab-content tab-content-2">
                    <div class="row">
                      <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
                      <div class="col-sm">
                        <div class="form-group">
                          <label class="form-label display-col requiredak" for="setName">Name</label>
                          <input
                                  type='text'
                                  id="filename"
                                  class='form-control'
                                  formControlName="filename"
                          >
                        </div>
                      </div>
                      &nbsp;
                      <div class="col-sm">
                        <div class="form-group">
                          <label class="form-label display-col requiredak" for="Associatedg">Associated Access Group</label>
                          <select
                                  type='number'
                                  id="accessgroup"
                                  class='form-select'
                                  formControlName="accessGroupId"
                          >
                            <option [defaultSelected]=true>---</option>
                            <option *ngFor="let a of accessgroup" [ngValue]="a.accessGroupId">{{ a.groupName }}</option>
                          </select>
                        </div>
                      </div>
                      &nbsp;
                      <div class="col-sm">
                        <div class="mb-3">
                            <label for="secret" class="display-col">Download URL</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                  <fa-icon [icon]="faLink" aria-hidden="true"></fa-icon>
                                </span>
                                <input
                                      class='form-control'
                                      formControlName="sourceData"
                                      pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
                                      required
                                  >
                            </div>
                        </div>
                      </div>
                      <div class="col-sm">
                        <button type="submit" class="btn btn-gray-800">Create</button>
                      </div>
                    </form>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>  <!-- Collapse End -->
&nbsp;&nbsp;
<!-- WordList Table -->
<div class="card border-0 shadow mb-4">
  <div class="card-body">
        <div class="table-responsive">
          &nbsp;
            <table class="table table-centered table-nowrap mb-0 rounded" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="thead-light">
                <tr>
                    <th class="border-0 rounded-start">ID</th>
                    <th class="border-0">File</th>
                    <th class="border-0">Size</th>
                    <th class="border-0">Line Count</th>
                    <th class="border-0">Access Group</th>
                    <th class="border-0 rounded-end">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let f of allfiles">
                    <td>{{ f.fileId }}</td>
                    <td *ngIf="f.isSecret == 1">{{ f.filename }} <fa-icon [icon]="faLock" aria-hidden="true"></fa-icon></td>
                    <td *ngIf="f.isSecret == 0">{{ f.filename }}</td>
                    <td>{{ f.size | fileSize:false }}</td>
                    <td>{{ f.lineCount }}</td>
                    <td>{{ f.accessGroup.groupName }}</td>
                    <td>
                      <div [ngSwitch]="whichView">
                        <div *ngSwitchCase="'wordlist'">
                          <a class='btn-outline-gray-600' [routerLink]="['/files',f.fileId,'wordlist-edit']" [queryParams]="{allowEdit: +f.fileId === 2 ? '1' : '0'}" data-toggle="tooltip" data-placement="top" title="Edit">
                            <fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon>
                          </a>
                          <a class='btn-outline-gray-600 float-right'(click)="deleteFile(f.fileId)" data-toggle="tooltip" data-placement="top" title="Delete">
                            <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon>
                          </a>
                        </div>
                        <div *ngSwitchCase="'rules'">
                          <a class='btn-outline-gray-600' [routerLink]="['/files',f.fileId,'rules-edit']" [queryParams]="{allowEdit: +f.fileId === 2 ? '1' : '0'}" data-toggle="tooltip" data-placement="top" title="Edit">
                            <fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon>
                          </a>
                          <a class='btn-outline-gray-600 float-right'(click)="deleteFile(f.fileId)" data-toggle="tooltip" data-placement="top" title="Delete">
                            <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon>
                          </a>
                        </div>
                        <div *ngSwitchCase="'other'">
                          <a class='btn-outline-gray-600' [routerLink]="['/files',f.fileId,'other-edit']" [queryParams]="{allowEdit: +f.fileId === 2 ? '1' : '0'}" data-toggle="tooltip" data-placement="top" title="Edit">
                            <fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon>
                          </a>
                          <a class='btn-outline-gray-600 float-right' (click)="deleteFile(f.fileId)" data-toggle="tooltip" data-placement="top" title="Delete">
                            <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon>
                          </a>
                        </div>
                      </div>
                   </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End WordList || Rules || Other Table -->
