<app-page-subtitle [subtitle]="'Edit File'"></app-page-subtitle>
<!-- Body Edit Files -->
<grid-main [class]="'fmxw-500'" [centered]="true">
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="row">
    <grid-form-input [name]="'ID'">
      <input
            id="fileId"
            class='form-control'
            formControlName="fileId"
    >
    </grid-form-input>
    <div formGroupName="updateData">
      <grid-form-input [name]="'Name'">
        <input
              type='text'
              id="filename"
              class='form-control'
              formControlName="filename"
        >
      </grid-form-input>
      <grid-form-input [name]="'File Type'">
        <select
              type='number'
              id='filetype'
              class='form-select'
              formControlName="fileType"
            >
            <option *ngFor="let f of filetype" [ngValue]="f.fileType">{{ f.fileName }}</option>
        </select>
      </grid-form-input>
      <grid-form-input [name]="'Access group'">
        <select
              type='number'
              id='accessgroup'
              class='form-select'
              formControlName="accessGroupId"
            >
            <option *ngFor="let a of accessgroup"  [ngValue]="a.accessGroupId">{{ a.groupName }}</option>
        </select>
      </grid-form-input>
      <grid-form-input [name]="'Secret'">
        <td>
          <div class="form-check form-switch">
          <input
                type="checkbox"
                id="isSecret"
                class="form-check-input"
                formControlName="isSecret"
          >
          </div>
      </grid-form-input>
    </div>
    <button-submit [name]="'Update'"></button-submit>
    </div>
  </form>
</grid-main>
