<mat-toolbar class="horizontalnav">
  <div class="d-flex w-100">
    <div class="d-block mb-4 mb-md-0">
      <div #content><ng-content></ng-content></div>
    </div>
    @if (menuItems.length > 0) {
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group ms-2 ms-3">
          <mat-button-toggle-group
            appearance="legacy"
            name="fontStyle"
            aria-label="Font Style"
            hideSingleSelectionIndicator=true
            >
            @for (item of menuItems; track item) {
              <mat-button-toggle
                [ngClass]="getButtonClass(item.routeName)"
                (click)="navigateTo(item.routeName)"
                (keydown)="handleKeyDown($event, item.routeName)"
                tabindex="0"
                style="cursor: pointer;"
                >
                {{ item.label }}
              </mat-button-toggle>
            }
          </mat-button-toggle-group>
        </div>
      </div>
    } @else {
      <!-- Handle case when menuItems is empty -->
    }
  </div>
</mat-toolbar>
