.ro-1 {
  box-sizing: border-box;

  .co {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px;

    &.co-25 {
      width: 100%;
    }

    .value {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-height: 24px; // same as numbers
    }

    .spinner-wrapper {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 24px;
    }
  }

  &.ro-s {
    .co-25 {
      width: 50%;
    }
  }

  &.ro-m,
  &.ro-l,
  &.ro-xl {
    .co-25 {
      width: 25%;
    }
  }
}

.ro-2 {
  box-sizing: border-box;

  .co {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px;

    &.co-100 {
      width: 100%;
      position: relative;

      .app-echarts {
        margin: 0;
        margin-top: -30px !important;
        padding: 0;
        height: 250px;
        position: relative;
      }

      .spinner-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &.ro-m,
  &.ro-l,
  &.ro-xl {
    .co-100 {
      width: 100%;
      padding: 0;
      overflow: hidden;

      .app-echarts {
        margin: 0;
        margin-top: -30px !important;
        padding: 0;
        height: 250px;
      }
    }
  }
}

.chart-controls {
  color: #666;
  text-align: right;

  .mdc-button {
    padding: 0;
    min-width: 32px;
    margin-left: 4px;
    margin-bottom: 3px;

    .mat-icon {
      margin-right: 0;
    }
  }
}


.no-permission {
  font-size: 1rem;
  font-weight: bold;
  color: #666666;
  font-style: italic;
}

.heatmap-no-permission {
  display: flex;
  align-items: center;         // vertical center
  justify-content: center;     // horizontal center
  width: 100%;
  height: 250px;               // match the heatmap height
  text-align: center;
}

#pcard.no-permission-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}

