<div class="home-grid">
  <div
    [ngClass]="{'ro-1': true, 'ro-m': screenM, 'ro-l': screenL, 'ro-s': screenS, 'ro-xs': screenXS, 'ro-xl': screenXL}">
    <div class="co co-25">
      <mat-card class="mat-card-box">
        <mat-card-content>
          <h3>
            <mat-icon>dns</mat-icon>
            Agents
          </h3>
          <span class="value">{{ activeAgents }} / {{ totalAgents }}</span>
          <hr />
          <span class="label">
            <mat-icon>check_circle</mat-icon>
            Active / Total Agents
          </span>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="co co-25">
      <mat-card class="mat-card-box">
        <mat-card-content>
          <h3>
            <mat-icon>checklist</mat-icon>
            Tasks
          </h3>
          <span class="value">{{ totalTasks }}</span>
          <hr />
          <span class="label">
            <mat-icon>check_circle</mat-icon>
            Total Live Tasks
          </span>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="co co-25">
      <mat-card class="mat-card-box">
        <mat-card-content>
          <h3>
            <mat-icon>checklist</mat-icon>
            Supertasks
          </h3>
          <span class="value">{{ totalSupertasks }}</span>
          <hr />
          <span class="label">
            <mat-icon>check_circle</mat-icon>
            Total Supertasks
          </span>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="co co-25">
      <mat-card class="mat-card-box">
        <mat-card-content>
          <h3>
            <mat-icon>lock_open</mat-icon>
            Cracks
          </h3>
          <span class="value">{{ totalCracks }}</span>
          <hr />
          <span class="label">
            <mat-icon>event_available</mat-icon>
            Last 7 days
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div
    [ngClass]="{'ro-2': true, 'ro-m': screenM, 'ro-l': screenL, 'ro-s': screenS, 'ro-xs': screenXS, 'ro-xl': screenXL}">
    <div class="co co-100">
      <div id="pcard" class="app-echarts" style="height: 250px;"></div>

      <div class="chart-controls">
        <span *ngIf="lastUpdated">Last updated: {{ lastUpdated }}</span>
        <ng-container *ngIf="!refreshPage">
          <button mat-button (click)="setAutoreload(true)" matTooltip="Enable Auto Reload">
            <mat-icon>refresh</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="refreshPage">
          <button mat-button (click)="setAutoreload(false)" matTooltip="Pause Auto Reload">
            <mat-icon>pause_circle_outline</mat-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
  <div
    [ngClass]="{'ro-3': true, 'ro-m': screenM, 'ro-l': screenL, 'ro-s': screenS, 'ro-xs': screenXS, 'ro-xl': screenXL}">
    <div class="co co-100">
      <mat-card class="project-info">
        <mat-card-content>
          Hashtopolis is available on <a href="https://github.com/hashtopolis" target="_blank"
            rel="noopener">Github</a>.
          To get information about how to use it, please visit the <a href="https://github.com/hashtopolis/server/wiki"
            target="_blank" rel="noopener">Wiki</a> or <a
            href="https://discord.com/channels/419123475538509844/419123475538509846" target="_blank"
            rel="noopener">Discord</a>.
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>