<ht-table
  #table
  [name]="name"
  dataType="files"
  [columnLabels]="columnLabels"
  [dataSource]="dataSource"
  [tableColumns]="tableColumns"
  [isSelectable]="isSelectable"
  [contextMenuService]="contextMenuService"
  [isFilterable]="isFilterable"
  [isSortable]="isSortable"
  [isPageable]="isPageable"
  [isDetailPage]="isDetailPage"
  [showExport]="showExport"
  [filterMode]="filterMode"
  (bulkActionClicked)="bulkActionClicked($event)"
  (rowActionClicked)="rowActionClicked($event)"
  (exportActionClicked)="exportActionClicked($event)"
  (selectedFilterColumnChanged)="selectedFilterColumn = $event"
  (backendSqlFilter)="handleBackendSqlFilter($event)"
/>
