<app-page-title [title]="'Preprocessors'" [buttontitle]="'New Preprocessor'" [buttonlink]="'/config/engine/preprocessors/new-preprocessor'" [subbutton]="true"></app-page-title>
<!-- <engine-menu [pclass]="'btn-outline-gray-600-select'"></engine-menu> -->
<!-- Body -->
<app-table>
  <table style="width: 100%" class="table table-striped table-hover table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead class="thead-light">
      <tr>
          <th class="rounded-start">ID</th>
          <th>Name</th>
          <th class="rounded-end">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of preproc">
          <td class="text-align:center">{{ p.preprocessorId }}</td>
          <td>{{ p.name }}</td>
          <td class="overflow-hidden">
            <app-button-actions>
              <button ngbDropdownItem [routerLink]="[p.preprocessorId,'edit']" data-placement="top" title="Edit">
                <fa-icon [icon]="faEdit" aria-hidden="true"></fa-icon> Edit
              </button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem data-toggle="tooltip" data-placement="top" title="Delete" (click)="onDelete(p.preprocessorId,p.name)">
                <fa-icon [icon]="faTrash" aria-hidden="true"></fa-icon> Delete
              </button>
            </app-button-actions>
          </td>
      </tr>
      </tbody>
  </table>
</app-table>


