<app-page title="Health Check">
  <grid-main>
    <div class="flex flex-wrap items-center gap-2">
      <simulate-form-field
        label="Created"
        message="{{ healthc ? formatUnixTimestamp(healthc.time, this.dateFormat) : '' }}"
      ></simulate-form-field>
      <simulate-form-field
        label="Created"
        message="{{ healthc.status | HCstatus | lowercase | titlecase }}"
      ></simulate-form-field>
    </div>
  </grid-main>

  <app-page-subtitle subtitle="Checked Agents"></app-page-subtitle>
  <app-table>
    <app-health-check-agents-table [healthCheckId]="viewedHealthCIndex"></app-health-check-agents-table>
  </app-table>
</app-page>
