<app-page-subtitle [subtitle]="title"></app-page-subtitle>
<!-- Body -->
<grid-main [class]="'width:100%'" [centered]="true">
  <!-- <div class="container"> -->
    <div class="tab-slider--nav">
      <ul class="tab-slider--tabs">
        <li class="files-theme" [class.active]="viewMode === 'tab1'" rel="tab1" (click)="souceType('import', 'tab1')"><fa-icon [icon]="faUpload"  aria-hidden="true"></fa-icon></li>
        <li class="files-theme" [class.active]="viewMode === 'tab2'" rel="tab2" (click)="souceType('inline', 'tab2')"><fa-icon [icon]="faDownload" aria-hidden="true"></fa-icon></li>
      </ul>
    </div>
    <div class="tab-slider--container" [ngSwitch]="viewMode">
      <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
        <form [formGroup]="form">
          <h3>Upload from your computer</h3>
          <div class="col-sm">

            <input-select title="Access group" formControlName="accessGroupId" [items]="selectAccessgroup"></input-select>

          </div>&nbsp;

            <div class="row" id="uploadLine">
                <div class="col-8">
                <input
                      type="file"
                      accept="/*"
                      (click)="file.value = null"
                      class="form-control fileuploadspan"
                      (change)="handleFileInput($event)"
                      multiple #file
                >
                </div>
                <div class="col-4">
                  <span class="fileuploadspan custom-file-upload-size"></span>
                </div>
              </div>
              <div>
                <div *ngIf="uploadProgress > 0">
                  <br>
                  <ngb-progressbar
                                  type="success"
                                  textType="white"
                                  [striped]="true"
                                  [value]="uploadProgress"
                                  [showValue]="true"
                  ></ngb-progressbar>
                </div>
                <div *ngIf="uploadProgress === 100">
                  <p><b>Upload completed!</b></p>
                </div>
            </div>
            <grid-buttons>
              <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
              <button-submit [name]="'Create'" (click)="onuploadFile(file.files);"></button-submit>
            </grid-buttons>
            <!-- check text to be changed -->
            <div class='alert alert-dark row justify-content-center closesys'>
              Do not refresh the page while uploading
            </div>
        </form>
      </div>
      <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
        <h3>Upload to the server using a public/private link</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="10px">

          <input-text title="Name" formControlName="filename"></input-text>

          <input-select title="Access group" formControlName="accessGroupId" [items]="selectAccessgroup"></input-select>

          <input-text title="URL path" formControlName="sourceData" pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"></input-text>

          <grid-buttons>
            <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
            <button-submit [name]="'Create'"></button-submit>
          </grid-buttons>

        </form>

      </div>
    </div>
</grid-main>
