<grid-main>
  <app-page-subtitle [subtitle]="title"></app-page-subtitle>
  <!-- TODO Deactivated until API provides the functionality to download from URL
<div class="tab-slider--nav">
    <ul class="tab-slider--tabs">

      <mat-icon class="files-theme" [class.active]="viewMode === 'tab1'" rel="tab1" (click)="onChangeType('import', 'tab1')" matTooltip="Upload using local file">upload_file</mat-icon>
      <mat-icon class="files-theme" [class.active]="viewMode === 'tab2'" rel="tab2" (click)="onChangeType('inline', 'tab2')" matTooltip="Upload using link">insert_link</mat-icon>
      </ul>
    </div>
    -->
    <div class="tab-slider--container" [ngSwitch]="viewMode">
      <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
        <h4>Upload from your computer</h4>
        <form [formGroup]="form" fxLayout="column">

          <input-select title="Access group" formControlName="accessGroupId" [items]="selectAccessgroup" [isRequired]="true"></input-select>

          <div fxLayout="row" fxLayoutGap="10px">
            <input-file formControlName="sourceData" (filesSelected)="onFilesSelected($event)"></input-file>

            <div *ngIf="redirect === 'wordlist'">
              <button mat-icon-button (click)="showHelp()" matTooltip="Simple Wordlist Generator">
                <mat-icon>build_circle</mat-icon>
              </button>
            </div>
          </div>

          <div *ngIf="uploadProgress > 0">
            <ngb-progressbar type="success" textType="white" [striped]="true" [value]="uploadProgress" [showValue]="true"></ngb-progressbar>
          </div>

          <div *ngIf="uploadProgress === 100"><p><b>Upload completed!</b></p></div>

          <input-check title="Secret Data" formControlName="isSecret"></input-check>

          <grid-buttons fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
            <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
            <button-submit [name]="'Create'" (click)="onuploadFile(selectedFiles);" data-testid="button-submit-upload"></button-submit>
            <div *ngIf="isCreatingLoading">
              <mat-spinner diameter="24" color="accent"></mat-spinner>
            </div>
          </grid-buttons>

        </form>
        <fixed-alert message="Do not refresh the page while uploading"></fixed-alert>
      </div>
      <!-- TODO Deactivated until API provides the functionality to download from URL
      <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
        <h4>Upload to the server using a public/private link</h4>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column">

          <input-text title="Name" formControlName="filename" [isRequired]="true"></input-text>

          <input-select title="Access group" formControlName="accessGroupId" [items]="selectAccessgroup"></input-select>

          <input-text title="URL path" formControlName="sourceData" pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$" [isRequired]="true"></input-text>

          <input-check title="Secret Data" formControlName="isSecret"></input-check>

          <grid-buttons>
            <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
            <button-submit [name]="'Create'" [disabled]="!form.valid"></button-submit>
            <div *ngIf="isCreatingLoading">
              <mat-spinner diameter="24" color="accent"></mat-spinner>
            </div>
          </grid-buttons>

        </form>
      </div>
      -->
    </div>
</grid-main>
