<app-page-subtitle [subtitle]="title"></app-page-subtitle>
<!-- Body -->
<grid-main [class]="'width:100%'" [centered]="true">
  <!-- <div class="container"> -->
    <div class="tab-slider--nav">
      <ul class="tab-slider--tabs">
        <li class="files-theme" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="souceType('import', 'tab1')"><fa-icon [icon]="faUpload" aria-hidden="true"></fa-icon></li>
        <li class="files-theme" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="souceType('inline', 'tab2')"><fa-icon [icon]="faDownload" aria-hidden="true"></fa-icon></li>
      </ul>
    </div>
    <div class="tab-slider--container" [ngSwitch]="viewMode">
      <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
        <form [formGroup]="createForm">
          <div class="col-sm">
            <div class="form-group">
              <label class="form-label display-col requiredak" for="Associatedg">Associated Access Group</label>
              <select
                      type="number"
                      class='form-select'
                      formControlName="accessGroupId"
                      >
                <option *ngFor="let a of accessgroup" [ngValue]="a.accessGroupId">{{ a.groupName }}</option>
              </select>
            </div>
          </div>&nbsp;

            <div class="row" id="uploadLine">
                <div class="col-8">
                <input
                      type="file"
                      accept="/*"
                      (click)="file.value = null"
                      class="form-control fileuploadspan"
                      (change)="handleFileInput($event)"
                      multiple #file
                >
                </div>
                <div class="col-4">
                  <span class="fileuploadspan custom-file-upload-size"></span>
                </div>
              </div>
              <div>
                <div *ngIf="uploadProgress > 0">
                  <br>
                  <ngb-progressbar
                                  type="success"
                                  textType="white"
                                  [striped]="true"
                                  [value]="uploadProgress"
                                  [showValue]="true"
                  ></ngb-progressbar>
                </div>
                <div *ngIf="uploadProgress === 100">
                  <p><b>Upload completed!</b></p>
                </div>
            </div>&nbsp;
            <grid-buttons>
              <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
              <button-submit [name]="'Create'" (click)="onuploadFile(file.files);"></button-submit>
            </grid-buttons>
            <!-- check text to be changed -->
            <div class='alert alert-dark row justify-content-center closesys'>
              Do not refresh the page while uploading
            </div>
        </form>
      </div>
      <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
          <div class="row g-3">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label display-col requiredak" for="setName">Name</label>
                <input
                        type='text'
                        id="filename"
                        class='form-control'
                        formControlName="filename"
                >
              </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
              <label class="form-label display-col requiredak" for="Associatedg">Associated Access Group</label>
              <select
                      type='number'
                      id="accessgroup"
                      class='form-select'
                      formControlName="accessGroupId"
                >
                <option *ngFor="let a of accessgroup" [ngValue]="a.accessGroupId">{{ a.groupName }}</option>
              </select>
            </div>
            </div>
          </div>
          &nbsp;
          <div class="col-sm">
            <div class="mb-3">
                <label for="secret" class="display-col">Download URL</label>
                <div class="input-group">
                    <span class="input-group-text">
                      <fa-icon [icon]="faLink" aria-hidden="true"></fa-icon>
                    </span>
                    <input
                          class='form-control'
                          formControlName="sourceData"
                          pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
                          required
                      >
                </div>
            </div>
          </div>
          <grid-buttons>
            <button-submit name="Cancel" [disabled]="false" type="cancel"></button-submit>
            <button-submit [name]="'Create'"></button-submit>
          </grid-buttons>
        </form>
        <div class='alert alert-dark row justify-content-center closesys'>
          Files are uploaded to the server using a public/private link (URL).
        </div>
      </div>
    </div>
  <!-- </div> -->
</grid-main>
