<mat-form-field>
  <mat-label>{{ title }}
    <mat-icon
          matTooltip="{{ tooltip }}"
          matTooltipPosition="below"
          matTooltipClass="tooltip-custom-style"
          container="body"
          aria-hidden="true"
          *ngIf="tooltip"
        >
          info
        </mat-icon>
  </mat-label>
  <input
    #inputField
    matInput
    [disabled]="disabled"
    [class.is-invalid]="error"
    [id]="inputId"
    [(ngModel)]="value"
    (ngModelChange)="onChange(value)"
    [pattern]="pattern"
    [type]="inputType"
  />
  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  <mat-error *ngIf="error">{{ error }}</mat-error>
</mat-form-field>
