<mat-form-field>
  <mat-label
    >{{ title }}
    <mat-icon
      matTooltip="{{ tooltip }}"
      matTooltipPosition="below"
      matTooltipClass="tooltip-custom-style"
      container="body"
      aria-hidden="true"
      *ngIf="tooltip"
    >
      info
    </mat-icon>
  </mat-label>
  <mat-icon matPrefix *ngIf="icon">{{ icon }}</mat-icon>
  <input
    #inputField
    matInput
    [disabled]="disabled"
    [class.is-invalid]="error"
    [id]="inputId"
    [(ngModel)]="value"
    (ngModelChange)="onChange(value)"
    [pattern]="pattern"
    [type]="inputType"
    [required]="isRequired"
  />
  @if (showPasswordToggle) {
    <button
      mat-icon-button
      matSuffix
      (click)="emitShowPassword()"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="passwordIsVisible"
    >
      <mat-icon>{{ passwordIsVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  }

  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  <mat-error>{{ title }} is required</mat-error>
</mat-form-field>
