/* ==================================
          SECTION BASE
   ================================== */

/*
  00- Main Container Full Screen
*/

.full-container-app {
  margin-left: 2%;
  margin-right: 2%;
}

.layout-col {
  background-color: rgb(255, 255, 255);
}

/*
  0- Main Container Full Screen End
*/

/*
  01- Margin style
*/

.mt-0 {
  margin-top: 0rem !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 0.75rem !important;
}

.mt-4 {
  margin-top: 1rem !important;
}

.mt-5 {
  margin-top: 1.5rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.ms-0 {
  margin-left: 0rem !important;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.ms-3 {
  margin-left: 0.75rem !important;
}

.ms-4 {
  margin-left: 1rem !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

/*
  01- Margin Style  End
*/


/*
  02- Padding style
*/

.p-0 {
  padding: 0rem !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-3 {
  padding: 0.5rem !important;
}

.p-4 {
  padding: 0.75rem !important;
}

.p-lg-0 {
  padding: 1rem !important;
}

.p-lg-1 {
  padding: 1.25rem !important;
}

.p-lg-2 {
  padding: 1.5rem !important;
}

.p-lg-3 {
  padding: 1.75rem !important;
}

.p-lg-4 {
  padding: 2rem !important;
}

.p-lg-5 {
  padding: 2.25rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.ps-0 {
  padding-left: 0 !important;
}


/*
  02- Padding style End
*/

/*
  03- Max Width style
*/
.fmxw-200 {
  max-width: 200px !important;
}

.fmxw-300 {
  max-width: 300px !important;
}

.fmxw-400 {
  max-width: 400px !important;
}

.fmxw-500 {
  max-width: 500px !important;
}

.fmxw-600 {
  max-width: 600px !important;
}

.fmxw-700 {
  max-width: 700px !important;
}

.fmxw-700 {
  max-width: 700px !important;
}

.fmxw-800 {
  max-width: 800px !important;
}

.fmxw-900 {
  max-width: 900px !important;
}

.fmxw-1000 {
  max-width: 1000px !important;
}

/*
  03- Padding style End
*/

/*
  04- Other
*/

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-right {
  align-items: right !important;
}

.d-flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-md-nowrap {
  flex-wrap: nowrap !important;
}

.d-block {
  display: block !important;
}

.mb-md-0 {
  margin-bottom: 0 !important;
}

.align-inner-right {
  margin-left: auto;
  margin-right: 0;
}

/*
  04- Other End
*/
