@use 'colors';

body {
  font-family: var(
    --mdc-typography-button-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
}

a {
  color: colors.$accent-800 !important;
}

.light-theme {
  .text-ok {
    color: colors.$color-green !important;
  }
}

.dark-theme {
  .text-ok {
    color: colors.$color-green-dark !important;
  }
}

.text-warning {
  color: colors.$color-orange !important;
}

.light-theme {
  .text-critical {
    color: colors.$warn-600 !important;
  }
}

.dark-theme {
  .text-critical {
    color: colors.$warn-300 !important;
  }
}

.text-inactive {
  color: colors.$color-grey-light !important;
}

.text-unknown {
  color: colors.$color-blue-light !important;
}

.text-invalid {
  color: colors.$color-red !important;
}

.text-primary {
  color: colors.$primary-600 !important;
}

.text-accent-900 {
  color: colors.$accent-900 !important;
}

.text-accent-800 {
  color: colors.$accent-800 !important;
}

.text-accent-300 {
  color: colors.$accent-300 !important;
}

.text-primary-300 {
  color: colors.$primary-300 !important;
}

.highlight-box {
  border-left: 10px solid colors.$accent-300;
  background-color: colors.$accent-100;
  color: #333;
  padding: 0.5em 1em;
  margin: 2em 0;
  border-radius: 10px;

  strong {
    color: colors.$accent-700;
  }

  h3 {
    margin-top: 0;
  }

  ol {
    margin-left: 0;
    padding-left: 1em;
  }

  button {
    margin-left: 0;
  }
}

.page-title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;

  h2 {
    margin: 0;
  }

  button {
    margin-left: auto;
  }
}

h2 {
  .mat-icon {
    position: relative;
    top: 4px;
  }
}

.xsmall,
.small,
.medium,
.large,
.xlarge {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 81px);
  margin: 0;

  main {
    flex: 1;
  }

  footer {
    margin-top: -52px;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
  }
}

.dark-theme {
  .mat-stepper-horizontal {
    background-color: #212121;
  }
  hr {
    border-width: 1px;
    border-style: solid;
    border-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
  }
  .highlight-box {
    border-left-color: colors.$accent-800;
    background-color: colors.$accent-900;
    color: #fff;

    strong {
      color: colors.$accent-200;
    }
  }
}
