@import './colors';

body {
  font-family: var(--mdc-typography-button-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
}

a {
  color: $accent-800 !important;
}

.text-ok {
  color: $color-green !important;
}

.text-warning {
  color: $color-orange !important;
}

.text-critical {
  color: $warn-600 !important;
}

.text-inactive {
  color: $color-grey-light !important;
}

.text-unknown {
  color: $color-blue-light !important;
}

.text-invalid {
  color: $color-red !important;
}

.text-primary {
  color: $primary-600 !important;
}

.text-accent-900 {
  color: $accent-900 !important;
}

.text-accent-800 {
  color: $accent-800 !important;
}

.text-accent-300 {
  color: $accent-300 !important;
}

.text-primary-300 {
  color: $primary-300 !important;
}

.truncate {
  display: inline-block !important;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;

  h2 {
    margin: 0;
  }

  button {
    margin-left: auto;
  }
}

h2 {
  .mat-icon {
    position: relative;
    top: 4px;
  }
}

.xsmall,
.small,
.medium,
.large,
.xlarge {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 81px);
  margin: 0;

  main {
    flex: 1;
  }

  footer {
    margin-top: -52px;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
  }
}


.dark-theme {
  hr {
    border-width: 1px;
    border-style: solid;
    border-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
  }
}