.form-field {
  label {
    font-weight: 600;
    margin-bottom: 4px;
    display: inline-block;
    color: var(--heading-foreground);
  }

  .mat-mdc-form-field {
    width: 100%;
  }

  .mat-icon {
    color: var(--subtle-foreground);
  }
}
