<app-table>
  <app-page-title title="New Agent" [subbutton]="false"></app-page-title>
  <mat-stepper #stepper>
    <mat-step label="Download Agent Binary" state="download">
      <agent-binaries-table
        [hasBulkActions]="false"
        [isSelectable]="false"
      ></agent-binaries-table>
      <div class="highlight-box">
        <p>
          <strong>Download the agent binary</strong> and execute it on the
          client server. You can download an agent binary by clicking on the
          action menu (...) in the agent binaries table above.
        </p>
      </div>
      <div>
        <button-submit mat-button (click)="stepper.next()" name="Next"></button-submit>
      </div>
    </mat-step>
    <mat-step label="Register the agent" state="register">
      <button mat-flat-button (click)="copyAgentURL()">
        <mat-icon>content_copy</mat-icon>
        {{ agentURL }}
      </button>
      <div class="highlight-box">
        <p><strong>Register the agent</strong> using the above URL</p>
      </div>
      <div>
        <button-submit mat-button (click)="stepper.previous()" name="Back" type="delete"></button-submit>
        <button-submit mat-button (click)="stepper.next()" name="Next"></button-submit>
      </div>
    </mat-step>
    <mat-step label="Generate Voucher" state="voucher">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <br /><br />
        <mat-form-field>
          <mat-label>Create a new Voucher</mat-label>
          <input matInput type="text" formControlName="voucher" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="updateVoucher()"
            [attr.aria-label]="'Generate new Voucher'"
          >
            <mat-icon>refresh</mat-icon>
          </button>
          <button mat-icon-button matSuffix [disabled]="!isValid()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <vouchers-table #table></vouchers-table>
      <div class="highlight-box">
        <p>
          <strong>Generate a voucher</strong> to register the agent. Note that
          once the voucher is used it will be automatically deleted
        </p>
      </div>
      <div>
        <button-submit mat-button (click)="stepper.previous()" name="Back" type="delete"></button-submit>
        <button-submit mat-button (click)="done()" name="Finish"></button-submit>
      </div>
    </mat-step>
  </mat-stepper>
</app-table>
